<div *ngFor="let item of config | keyvalue">
  <hc-recruiter-config-banner-item [banner]="banner[item.key]" [position]="item.key" *ngIf="item.value">
  </hc-recruiter-config-banner-item>
</div>
<div>
  <button class="btn btn-primary fit-content" (click)="submit()" hcButtonLoading [loading]="loading">Gửi
    yêu cầu</button>
</div>