<div class="bg-white w-100 mt-45 p-16">
  <span class="fz-20 fw-bold d-block mb-16">Có thể bạn sẽ thích</span>
  <div class="d-flex gap-16 align-items-center">
    <div class="slider-control" (click)="carouse.previousSlide()">
      <svg-icon src="/assets/images/icons/arrow-left.svg" class="icon"></svg-icon>
    </div>
    <div>
      <carousel [itemsPerSlide]="itemsPerSlide" [singleSlideOffset]="false" [interval]="0" [isAnimated]="true"
        (activeSlideChange)="slideChange($event)" (slideRangeChange)="slideChange($event)" #carouse>
        <slide *ngFor="let item of items">
          <div class="p-8">
            <hc-job-item-card-secondary></hc-job-item-card-secondary>
          </div>
        </slide>
      </carousel>
    </div>
    <div class="slider-control " (click)="carouse.nextSlide()">
      <svg-icon src="/assets/images/icons/arrow-right.svg" class="icon"></svg-icon>
    </div>
  </div>
</div>