::ng-deep {
  .carousel-control {
    display: none;
  }
}
.slider-control {
  background: rgba(173, 225, 205, 0.5);
  // width: 48px;
  // height: 48px;
  position: relative;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  .icon {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
  }
}
