<div class="header">
  <b>Hàng chờ</b>
</div>
<div class="sidebar-body">
  <div *ngFor="let item of rooms$ | async">
    <hc-collaborator-sidebar-item [room]="item"></hc-collaborator-sidebar-item>
  </div>
</div>