<div class="row">
  <div class="col-lg-8 d-none d-xl-block">
    <svg-icon src="/assets/images/login-img-1.svg"></svg-icon>
  </div>
  <div class="col-lg-4">
    <div class="card login-wrapper">
      <div class="header p-0 mb-3">
        <h2 class="title m-0">Đăng nhập</h2>
      </div>
      <div>
        <form [formGroup]="form" (submit)="onSubmit()">
          <div class="mb-24">
            <div class="mb-24">
              <hc-input-common [controls]="form.controls['email']" [typeInput]="'text'" [errorRoot]="'email'"
                [placeHolder]="'abc@gmail.com'" [label]="'Email'" name="email">
              </hc-input-common>
            </div>
            <div class="mb-36">
              <hc-input-common [controls]="form.controls['password']" [typeInput]="'password'" [errorRoot]="'password'"
                [placeHolder]="'Nhập mật khẩu'" [label]="'Mật khẩu'">
              </hc-input-common>
            </div>
          </div>
          <div class="d-flex justify-content-between mb-50">
            <div class="form-check">
              <input class="form-check-input bg-primary border-secondary" type="checkbox" value="" id="flexCheckChecked"
                checked>
              <label class="form-check-label" for="flexCheckChecked">
                Lưu mật khẩu?
              </label>
            </div>
            <div>
              <a class="color-primary fw-bold" [routerLink]="['/auth','forgot-password']">Quên mật khẩu</a>
            </div>
          </div>
          <div class="d-flex justify-content-end mt-3">
            <button type="submit" class="btn btn-primary" hcButtonLoading [loading]="loading">Đăng nhập</button>
          </div>
        </form>
      </div>
      <div class="divider-wrapper">
        <hr class="divider" />
        <span class="color-third">Hoặc tiếp tục với</span>
        <hr class="divider" />
      </div>
      <div class="d-flex justify-content-center gap-16 flex-wrap">
        <!-- <button class="btn border-primary">
          <svg-icon src="/assets/images/google-logo.svg" [svgStyle]="{'width.px':24,'height.px':24}"></svg-icon> Đăng
          nhập
        </button> -->
        <hc-google-button (loadingChange)="loading=$event" (loginSuccess)="loginHandle($event)"></hc-google-button>
        <!-- <button class="btn border-primary">
          <svg-icon src="/assets/images/linkedin-logo.svg" [svgStyle]="{'width.px':24,'height.px':24}"></svg-icon> Đăng
          nhập
        </button> -->
      </div>
      <div class="mt-3">
        <p class="mb-53">
          <span>Bạn chưa có tài khoản?</span>&nbsp;
          <a [routerLink]="['/auth','register']">Đăng ký ngay</a>
        </p>
      </div>
    </div>
  </div>
</div>