@import "../../../../../assets/scss/helper/variable";
.item-wrapper {
  border-radius: 16px;
  padding: 16px;
  display: flex;
  gap: 24px;
  align-items: center;
  position: relative;
  .btn-group {
    position: absolute;
    padding: 0;
    top: 8px;
    right: 8px;
    display: flex;
    gap: 8px;
    .edit-btn {
      padding: 0;
      &:hover {
        path {
          fill: $primary-color;
        }
      }
    }
  }
}
