<div class="d-flex justify-content-between align-items-center mb-16">
  <p class="block-title">Ngôn ngữ</p>
  <button class="btn p-0 m-0" (click)="addField()" hcButtonLoading [loading]="loading">
    <svg-icon src="/assets/images/icons/plus-cv.svg"></svg-icon>
  </button>
</div>
<div class="item-wrapper mb-16 " *ngFor="let item of data; let index$ =index">
  <div>
    {{item.language}}
  </div>
  <div>
    <select class="form-select primary" [(ngModel)]="item.level" disabled="true">
      <option [value]="item.value" *ngFor="let item of DROPDOWN_LEVEL">{{item.label}}</option>
    </select>
  </div>
  <div class="btn-group">
    <button class="btn edit-btn" (click)="edit(item)" hcButtonLoading [loading]="loading">
      <svg-icon src="/assets/images/icons/edit-cv.svg"></svg-icon>
    </button>
    <button class="btn edit-btn" (click)="delete(item)" hcButtonLoading [loading]="loading">
      <svg-icon src="/assets/images/icons/Trash.svg"></svg-icon>
    </button>
  </div>
</div>
<div class="text-center" *ngIf="!data.length">
  <span class="fw-bold">Cập nhật để nhận được nhiều gợi ý việc làm hơn!</span>
</div>
<div class="bg-secondary item-wrapper" *ngIf="isAdd">
  <form [formGroup]="form" class="w-100" (ngSubmit)="addOrEdit()">
    <div class="row mb-16">
      <div class="col-8 row align-items-center mb-16">
        <label for="" class="col-4 fit-content pe-0">Ngôn ngữ<span class="text-danger">*</span>: </label>
        <div class="col-6">
          <hc-input-common [controls]="form.controls['language']" [placeHolder]="'Tiếng Anh'"></hc-input-common>
        </div>
      </div>
      <div class="col-4">
        <div class="d-flex justify-content-end w-100">
          <button class="btn btn-primary fit-content bg-primary text-white" type="submit" hcButtonLoading
            [loading]="loading">Lưu</button>
          <button class="btn btn-danger fit-content ms-3 text-white" hcButtonLoading [loading]="loading" type="button"
            (click)="abort()">Hủy</button>
        </div>
      </div>
      <!-- <div class="col-6 row align-items-center">
        <label for="" class="col-6">Tên kỹ năng: </label>
        <div class="col-6">
          <hc-input-select-common [controls]="formControl" [placeHolder]="'Senior'" classWrapper="''">
          </hc-input-select-common>
        </div>
      </div> -->
      <div class="col-8 row align-items-center">
        <label for="" class="col-4 fit-content pe-0">Trình độ<span class="text-danger">*</span>: </label>
        <div class="col-6">
          <hc-input-select-common [controls]="form.controls['level']" [placeHolder]="'Khả năng của bạn'"
            classWrapper="''" [listOption]="DROPDOWN_LEVEL">
          </hc-input-select-common>
        </div>
      </div>
    </div>
  </form>
</div>