@import "../../../../../assets/scss/helper/variable";
.wrapper {
  padding: 16px;
  background-color: $bg-primary;
  border: 1px solid $border-color-base;
  border-radius: 0.5rem;
  margin: 45px 0;
  .tab {
    // box-shadow: 4px 4px 4px rgba(173, 225, 205, 0.5);
    padding: 8px 16px;
    display: flex;
    gap: 16px;
    align-items: center;
    width: fit-content;
    width: 100%;
    overflow-x: auto;
    .item {
      cursor: pointer;
      &:hover {
        color: $primary-color;
        // font-size: 16px;
        // border-bottom: 3px solid $primary-color;
      }
      .active {
        color: $primary-color;
        font-weight: bold;
        font-size: 16px;
        border-bottom: 3px solid $primary-color;
      }
      padding-right: 16px;
      border-right: 2px solid $border-color-base;
      &.border-right-none {
        border-right: none;
      }
    }
  }
  .content {
    // display: flex;
    // gap: 16px;
    // flex-wrap: wrap;
    // justify-content: space-around;
    margin: 32px 0;
    position: relative;
    .slider-control {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
    }
    .content-job {
      max-height: 808px;
      overflow-y: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      padding-top: 8px;
    }
  }
}
::ng-deep {
  .job-item {
    &.active {
      .card-wrapper {
        box-shadow: 0px 0px 3px 2px #451da03b;
        .header {
          color: #ff5757;
        }
      }
    }
  }
}
