<div class=" w-100 wrapper">
  <div class="tab hide-scroll">
    <div class="item">
      <span [ngClass]="{'active': currentShow === 'popular'}" class="pointer text-nowrap"
        (click)="changeTab('popular')">Công việc
        phổ biến nhất</span>
    </div>
    <div class="item">
      <span [ngClass]="{'active': currentShow === 'news'}" class="pointer text-nowrap" (click)="changeTab('news')">Công
        việc mới
        nhất</span>
    </div>
    <div class="item border-right-none">
      <span [ngClass]="{'active': currentShow === 'urgent'}" class="pointer text-nowrap"
        (click)="changeTab('urgent')">Công việc
        tuyển gấp</span>
    </div>
  </div>
  <div class="content px-xl-5">
    <div class="slider-control left" (click)="prevPage()" *ngIf="pagination.pageNo > 1 && !loading">
      <svg-icon src="/assets/images/icons/arrow-left.svg" class="icon"></svg-icon>
    </div>
    <div class="row content-job hide-scroll">
      <div class="col-lg-4 col-md-3 col-sm-2 mb-16 job-item" *ngFor="let item of listJob"
        [ngClass]="{'active': item.payment}">
        <hc-job-item-card [job]="item"></hc-job-item-card>
      </div>
    </div>
    <div class="slider-control right" (click)="nextPage()" *ngIf="isMore && !loading">
      <svg-icon src="/assets/images/icons/arrow-right.svg" class="icon"></svg-icon>
    </div>
    <ng-container *ngIf="loading">
      <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-2 mb-16">
          <hc-job-item-card [isLoading]="true"></hc-job-item-card>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-2 mb-16">
          <hc-job-item-card [isLoading]="true"></hc-job-item-card>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-2 mb-16">
          <hc-job-item-card [isLoading]="true"></hc-job-item-card>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-2 mb-16">
          <hc-job-item-card [isLoading]="true"></hc-job-item-card>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-2 mb-16">
          <hc-job-item-card [isLoading]="true"></hc-job-item-card>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-2 mb-16">
          <hc-job-item-card [isLoading]="true"></hc-job-item-card>
        </div>
      </div>
    </ng-container>
  </div>
  <!-- <div class="w-100 d-flex justify-content-center" *ngIf="isMore">
    <button class="btn btn-primary bg-secondary fit-content text-dark border-primary fw-normal" (click)="loadMore()"
      hcButtonLoading [loading]="loading">Xem thêm</button>
  </div> -->
</div>