<p class="block-title">Chi tiết gói dịch vụ</p>
<div [class.wrapper]="!jobId && this.package?.id && this.package.rentalPackageId === paymentRental.advertisement">
  <ng-container *ngIf="!loading;else loadingRef">
    <div class="row "
      [ngClass]="{'justify-content-center': jobId || this.banner?.id || this.package?.rentalPackageId === paymentRental.candidate}">
      <div class="col-6">
        <hc-recruiter-payment-package-detail-main *ngIf="this.package?.id" [package]="package" [jobId]="jobId"
          [loading]="loading" (onBuy)="buyPackage()"></hc-recruiter-payment-package-detail-main>
        <hc-recruiter-payment-detail-banner *ngIf="this.banner?.id" [banner]="banner">
        </hc-recruiter-payment-detail-banner>
      </div>
      <div class="col-6"
        *ngIf="!jobId && this.package?.id && this.package.rentalPackageId === paymentRental.advertisement">
        <div class="wrapper {{wrapperClass}}">
          <p class="fw-bold">Chọn công việc bạn muốn quảng cáo</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="công việc A" aria-describedby="basic-addon1" #input>
            <span class="input-group-text pointer" id="basic-addon1" (click)="searchJob(input.value)"> Tìm kiếm</span>
          </div>
          <div class="job-list">
            <div class="form-check" *ngFor="let item of listJobs;let index$ =index" (click)="selectedJob = item"
              [class.active]="item.jobId === selectedJob.jobId">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="job-{{index$}}"
                [value]="item.jobId" (click)="selectedJob = item">
              <label class="form-check-label" for="job-{{index$}}" (click)="selectedJob = item">
                {{item.jobName}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center" *ngIf="!jobId">
      <button class="btn btn-primary fit-content" hcButtonLoading [loading]="loading"
        (click)="buyPackage()">Mua</button>
    </div>
  </ng-container>

</div>
<ng-template #benefit let-value="value" let-name="name">
  <span class="m-0">{{name}}: {{value ? 'Có' :'Không'}}</span>
</ng-template>

<ng-template #loadingRef>
  <div class="wrapper">
    <hc-skeleton></hc-skeleton>
  </div>
</ng-template>