<div class="p-3 bg-white radius-8">
  <div class="col-3 d-flex gap-16 mb-3 align-items-center">
    <label for="status" class="fit-content d-block flex-fill text-nowrap">Trạng thái:</label>
    <select name="" id="status" class="form-select" (change)="filterStatus($event)">
      <option value="">Tất cả</option>
      <option [value]="item.value" *ngFor="let item of DROPDOWN_JOB_STATE">{{item.label}}</option>
    </select>
  </div>
  <table class="table table-striped table-bordered" *ngIf="jobApplied$ | async; let jobs; else loadingTemp">
    <thead>
      <tr>
        <th>STT</th>
        <th>Công việc</th>
        <th>Phản hồi từ nhà tuyển dụng</th>
        <th>Ngày ứng tuyển</th>
        <th> Ngày phản hồi </th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="loading" class="bg-white">
        <td class="overflow-hidden bg-white" colspan="6">
          <hc-skeleton></hc-skeleton>
        </td>
      </tr>
      <ng-container *ngIf="!loading">
        <tr *ngFor="let apply of jobs">
          <td>
            {{apply.stt}}
          </td>
          <td>
            <hc-profile-job-applied-card [job]="apply.job"></hc-profile-job-applied-card>
          </td>
          <td>
            {{statusApply[apply.approvalStatus]}}
          </td>
          <td>
            {{apply.appliedJobDate | date: 'dd/MM/YYYY'}}
          </td>
          <td>
            {{apply.approvalDate | date: 'dd/MM/YYYY'}}
          </td>
          <td>
            <a [routerLink]="['/job',apply.job.jobId || apply.job.id || 0]"><button
                class="btn btn-primary fit-content">Xem Công
                việc</button></a>
            <button class="btn btn-danger" (click)="cancelApplyJob(apply)">Hủy ứng tuyển</button>
          </td>
        </tr>

      </ng-container>
      <tr *ngIf="!loading && jobs.length === 0">
        <td [colSpan]="6" class="text-center">
          <p>Bạn chưa ứng tuyển công việc nào</p>
          <p><a [routerLink]="['/search']" routerLinkActive="router-link-active" class="color-primary">Vào đây để xem
              công việc mới nhất</a></p>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination [previousText]="'Trang trước'" [nextText]="'Trang sau'" [totalItems]="total"
    [itemsPerPage]="DEFAULT_PAGINATION.pageSize" (pageChanged)="pageChanged($event)"
    *ngIf="!loading &&total > DEFAULT_PAGINATION.pageSize">
  </pagination>
</div>
<ng-template #loadingTemp>
  <hc-skeleton></hc-skeleton>
</ng-template>