@import "./helper";
@import "./base";
@import "./components/index.scss";

.form-select {
  &.primary {
    border: none;
    border-bottom: 1px solid $border-color-base;
    border-radius: 8px;
  }
}

.image-cover {
  object-fit: cover !important;
}
.avatar-wrapper {
  position: relative;
  .avatar-upload {
    bottom: 0;
    right: 0;
    border-radius: 50%;
    z-index: 10;
    position: absolute;
    color: $primary-color;
    display: none;
    background-color: $bg-secondary;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    path {
      fill: $primary-color;
    }
  }
  &:hover {
    .avatar-upload {
      display: flex;
    }
  }
}
.homepageBannerA,
.jobBannerA {
  height: 420px;
}
.homepageBannerB,
.homepageBannerC,
.jobBannerC,
.jobBannerB {
  height: 250px;
}
.homepageBannerA,
.homepageBannerB,
.homepageBannerC,
.jobBannerC,
.jobBannerA,
.jobBannerB {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  border-radius: 4px;
  overflow: hidden;
}
.fill-svg {
  svg {
    path {
      fill: $primary-color;
    }
  }
}
.stoke-svg {
  svg {
    path {
      stroke: $primary-color;
    }
  }
}
// :not(.no-fill) {
//   svg {
//     path {
//       fill: currentColor;
//     }
//   }
// }
