<div class="btn-group" dropdown (onShown)="onShown()">
  <div class="notification position-relative border-primary" id="button-basic" dropdownToggle type="button"
    aria-controls="dropdown-basic">
    <svg-icon src="assets/images/icons/notification.svg" class="absolute-center"></svg-icon>
  </div>
  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu notification-dropdown" role="menu"
    aria-labelledby="button-basic">
    <div infiniteScroll (scrolled)="loadMore()" [infiniteScrollContainer]="'.dropdown-menu'" [fromRoot]="true">
      <li role="menuitem"><a class="dropdown-item pointer" (click)="navigate(item)" [class.seen]="item.seen"
          *ngFor="let item of listNoti">{{item.content}}</a></li>
      <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)"
          *ngIf="listNoti.length === 0 && !loadingNoti">Bạn không có
          thông báo nào cả</a></li>
      <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" *ngIf="loadingNoti"><span
            class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></a></li>
    </div>

  </ul>
</div>