@import "../../../../assets/scss/helper/variable";
.notification {
  background: $bg-secondary;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  cursor: pointer;
  border: 1px solid $border-color-base;
}
::ng-deep {
  .dropdown-menu {
    &.notification-dropdown {
      margin-left: -150px;
      width: 250px;
      max-height: 300px;
      overflow-x: auto;
      .dropdown-item {
        white-space: break-spaces;
        &.seen {
          background-color: $bg-primary;
        }
      }
    }
  }
}
