.wrapper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #f1f1ff;
  position: relative;
  .logo-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    position: absolute;
    top: 40px;
    left: 53px;
    z-index: 1;
  }
  .login-wrapper {
    min-height: unset;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper-container {
    .logo-title {
      top: 0;
      left: 0;
    }
  }
}
