<div class="wrapper-container">
  <h2 class="logo-title color-primary pointer" [routerLink]="['/home']"><img src="/assets/images/logo.png" alt=""
      width="128" height="128"></h2>
  <div class="row">
    <div class="col-lg-8 d-none d-xl-block">
      <svg-icon src="/assets/images/login-img-1.svg"></svg-icon>
    </div>
    <div class="col-lg-4">
      <div class="card login-wrapper">
        <p class="mb-8" *ngIf="!loading; else loadingRef">
          <span *ngIf="isSuccess" class="text-success">Bạn đã thanh toán thành công!</span><br />
          <span *ngIf="!isSuccess" class="text-danger">{{message}}!</span><br />
          <span>Bạn sẽ được điều hướng sau {{count}} giây! Ấn vào đây để vào <a
              [routerLink]="['/recruiter','introduction']">Trang chủ</a></span>
        </p>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingRef>
  <hc-post-skeleton></hc-post-skeleton>
</ng-template>