<div class="d-flex justify-content-between align-items-center mb-16">
  <p class="block-title">Kinh nghiệm làm việc <span *ngIf="totalExp">trong <b>{{totalExp}}</b></span></p>
  <button class="btn p-0 m-0" hcButtonLoading [loading]="loading" (click)="addField()">
    <svg-icon src="/assets/images/icons/plus-cv.svg"></svg-icon>
  </button>
</div>
<div class="bg-secondary item-wrapper mb-16" *ngFor="let item of data">
  <img src="{{null | imageConvert:'company'}}" alt="" width="72" height="72">
  <div class="">
    <p>{{item.companyName}}</p>
    <p class="fz-14">{{item.position}}</p>
    <p class="fz-14">{{item.startDate | date : 'MM/YYYY'}} - {{item.working ? '- Đến nay' : (item.endDate | date :
      'MM/YYYY')}}</p>
    <p class="fz-14">{{item.description}}</p>
  </div>
  <div class="btn-group">
    <button class="btn edit-btn" (click)="edit(item)" hcButtonLoading [loading]="loading">
      <svg-icon src="/assets/images/icons/edit-cv.svg"></svg-icon>
    </button>
    <button class="btn edit-btn" (click)="delete(item)" hcButtonLoading [loading]="loading">
      <svg-icon src="/assets/images/icons/Trash.svg"></svg-icon>
    </button>
  </div>
</div>
<div class="text-center" *ngIf="!data.length">
  <span class="fw-bold">Cập nhật để nhận được nhiều gợi ý việc làm hơn!</span>
</div>
<div class="bg-secondary item-wrapper" *ngIf="isAdd">
  <form [formGroup]="form" class="w-100" (submit)="addOrEdit()">
    <div class="row">
      <label for="" class="col-3">Tên Công ty<span class="text-danger">*</span>: </label>
      <div class="col-9">
        <hc-input-common [controls]="form.controls['companyName']" [placeHolder]="'Tên công ty'"></hc-input-common>
      </div>
    </div>
    <div class="row">
      <label for="" class="col-3">Vị trí tại công ty<span class="text-danger">*</span>:</label>
      <div class="col-9 row m-0 p-0">
        <hc-input-common [controls]="form.controls['position']" [placeHolder]="'Vị trí làm việc'"></hc-input-common>
      </div>
    </div>
    <div class="row">
      <label for="" class="col-3">Thời gian làm<span class="text-danger">*</span>:</label>
      <div class="col-9 row">
        <div class="col-5">
          <hc-input-date-common [controls]="form.controls['startDate']" [placeHolder]="'11/2000'">
          </hc-input-date-common>
        </div>
        <ng-container *ngIf="!form.controls['working'].value">
          <div class="col-2 text-center">
            <label for="" class="fit-content">Đến<span class="text-danger">*</span></label>
          </div>
          <div class="col-5">
            <hc-input-date-common [controls]="form.controls['endDate']" [placeHolder]="'11/02/2000'">
            </hc-input-date-common>
          </div>
        </ng-container>

      </div>
    </div>
    <div class="row">
      <label for="" class="col-3">Mô tả: </label>
      <div class="col-9">
        <hc-textarea-common [controls]="form.controls['description']" [placeHolder]="'Mô tả nơi làm việc'">
        </hc-textarea-common>
      </div>
    </div>
    <div class="form-check form-switch row" *ngIf="form.controls['working']; let controls">
      <input class="form-check-input col-9" type="checkbox" id="flexSwitchCheckChecked" formControlName="working">
      <label class="form-check-label col-4" for="flexSwitchCheckChecked">Tôi
        {{ controls.value ? 'còn':'không còn'}}
        làm việc ở đây</label>
    </div>
    <div class="d-flex justify-content-end w-100">
      <button class="btn btn-primary fit-content bg-primary text-white" hcButtonLoading [loading]="loading"
        type="submit">Lưu</button>
      <button class="btn btn-danger fit-content ms-3 text-white" hcButtonLoading [loading]="loading" type="button"
        (click)="abort()">Hủy</button>
    </div>
  </form>
</div>