<div class="modal-header">
  <h5 class="modal-title">Xác nhận</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onClose.emit()"></button>
</div>
<div class="modal-body">
  <p [innerHTML]="message | safe:'html'"></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger fit-content" data-bs-dismiss="modal" (click)="onClose.emit()">Hủy</button>
  <button type="button" class="btn btn-primary fit-content" (click)="onClose.emit(true)">Đồng ý</button>
</div>