<div class="d-flex justify-content-between align-items-center mb-16">
  <p class="block-title">Học vấn</p>
  <button class="btn p-0 m-0" hcButtonLoading [loading]="loading" (click)="addField()">
    <svg-icon src="/assets/images/icons/plus-cv.svg"></svg-icon>
  </button>
</div>
<div class="bg-secondary item-wrapper mb-16" *ngFor="let item of data">
  <img src="{{null | imageConvert: 'company'}}" alt="" width="72" height="72">
  <div class="">
    <p>{{item.school}} {{item.studying ? '- Đang học' : ''}}</p>
    <p class="fz-14">{{item.major}}</p>
    <p class="fz-14">{{item.startDate | date : 'MM/YYYY'}} - {{!item.studying ? (item.endDate | date: 'MM/YYYY' ) :
      'Đến nay'}}</p>
    <p class="fz-14">{{item.description}}</p>
  </div>
  <div class="btn-group">
    <button class="btn edit-btn" (click)="edit(item)" hcButtonLoading [loading]="loading">
      <svg-icon src="/assets/images/icons/edit-cv.svg"></svg-icon>
    </button>
    <button class="btn edit-btn" (click)="delete(item)" hcButtonLoading [loading]="loading">
      <svg-icon src="/assets/images/icons/Trash.svg"></svg-icon>
    </button>
  </div>
</div>
<div class="text-center" *ngIf="!data.length">
  <span class="fw-bold">Cập nhật để nhận được nhiều gợi ý việc làm hơn!</span>
</div>
<div class="bg-secondary item-wrapper" *ngIf="isAdd">
  <form [formGroup]="form" class="w-100" (submit)="addOrEdit()">
    <div class="row">
      <label for="" class="col-3">Tên trường học<span class="text-danger">*</span>: </label>
      <div class="col-9">
        <hc-input-common [controls]="form.controls['school']" [placeHolder]="'FPT university'"></hc-input-common>
      </div>
    </div>
    <div class="row">
      <label for="" class="col-3">Tên chuyên ngành<span class="text-danger">*</span>: </label>
      <div class="col-9 row m-0 p-0">
        <hc-input-common [controls]="form.controls['major']" [placeHolder]="'Kỹ sư phần mềm'"></hc-input-common>
      </div>
    </div>
    <div class="row">
      <label for="" class="col-3">Thời gian học<span class="text-danger">*</span>:</label>
      <div class="row col-9">
        <div class="col-5">
          <hc-input-date-common [controls]="form.controls['startDate']" [placeHolder]="'11/2000'">
          </hc-input-date-common>
        </div>
        <ng-container *ngIf="form.controls['studying']?.value == false">
          <div class="col-2 text-center">
            <label for="" class="col-3 fit-content">Đến<span class="text-danger">*</span>: </label>
          </div>
          <div class="col-5">
            <hc-input-date-common [controls]="form.controls['endDate']" [placeHolder]="'11/02/2000'">
            </hc-input-date-common>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="row">
      <label for="" class="col-3">Mô tả: </label>
      <div class="col-9">
        <hc-textarea-common [controls]="form.controls['description']" [placeHolder]="'Mô tả về trường của bạn'">
        </hc-textarea-common>
      </div>
    </div>
    <div class="form-check form-switch row" *ngIf="form.controls['studying']; let controls">
      <input class="form-check-input col-9" type="checkbox" id="flexSwitchCheckChecked" formControlName="studying">
      <label class="form-check-label col-4" for="flexSwitchCheckChecked">Tôi
        {{ controls.value ? 'còn':'không còn'}}
        học</label>
    </div>
    <div class="d-flex justify-content-end w-100">
      <button class="btn btn-primary fit-content bg-primary text-white" type="submit" hcButtonLoading
        [loading]="loading">Lưu</button>
      <button class="btn btn-danger fit-content ms-3 text-white" hcButtonLoading [loading]="loading" type="button"
        (click)="abort()">Hủy</button>
    </div>
  </form>
</div>