.bubble {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  top: 90%;
  right: 3%;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.19), 0 0px 6px rgba(0, 0, 0, 0.23);
  background-color: #451da0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  &:hover {
    transition: all 0.3s;
    transform: scale(1.1);
  }
  &__span {
    position: absolute;
    left: 70px;
    background: #333;
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-family: "Roboto";
    opacity: 0;
  }
  &:active {
    transform: scale(1.2);
    transition: all 0.3s;
  }
}
