<p class="block-title">Tìm kiếm hồ sơ</p>
<div class="d-flex gap-16 fw-bold">
  <span>Số cv có thể xem: {{totalCv}}</span>
  <!-- <div class="form-check form-switch d-inline-block">
    <input class="form-check-input" type="checkbox" id="seen" [(ngModel)]="filter.isSeen" checked>
    <label class="form-check-label" for="seen">CV đã xem</label>
  </div> -->
</div>
<div class="d-flex align-items-center mb-3 flex-wrap">
  <div class="row me-3 align-items-center">
    <div class="d-flex align-items-center col-12 col-md-6 col-xl-4 mb-2">
      <label for="rental" class="me-1 text-nowrap">Số năm kinh nghiệm: </label>
      <select name="" id="rental" class="form-control " [(ngModel)]="filter.experienceYear">
        <option value="">Tất cả</option>
        <option *ngFor="let item of listExpYear" value="{{item.value}}">{{item.label}}</option>
      </select>
    </div>
    <div class="d-flex align-items-center col-12 col-md-6 col-xl-4 mb-2">
      <label for="name" class="me-1 text-nowrap">Địa chỉ: </label>
      <input type="text" id="name" [(ngModel)]="filter.candidateAddress" class="form-control " placeholder="Trung kính">
    </div>
    <div class="d-flex align-items-center col-12 col-md-6 col-xl-3 mb-2">
      <label for="name" class="me-1 text-nowrap">Kỹ năng: </label>
      <input type="text" id="name" [(ngModel)]="filter.techStacks" class="form-control " placeholder="Java, Angular">
    </div>
    <button class="btn btn-primary fit-content col-12 col-md-6 col-xl-1 mb-2 m-auto" hcButtonLoading [loading]="loading"
      (click)="search()">
      <svg-icon src="/assets/images/icons/search.svg" class="fill-svg"></svg-icon>
    </button>
  </div>
  <div class="d-flex gap-8 flex-wrap align-items-center">
  </div>
</div>
<div class="row" infiniteScroll (scrolled)="loadMore()">
  <ng-container *ngFor="let item of listCv">
    <div class="col-12 col-md-6 col-xl-4 mb-3">
      <hc-recruiter-find-cv-item [cv]="item"></hc-recruiter-find-cv-item>
    </div>
  </ng-container>

  <ng-container *ngIf="loading">
    <div class="col-12 col-md-6 col-xl-4">
      <div class="wrapper">
        <hc-skeleton></hc-skeleton>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-4">
      <div class="wrapper">
        <hc-skeleton></hc-skeleton>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-4">
      <div class="wrapper">
        <hc-skeleton></hc-skeleton>
      </div>
    </div>
  </ng-container>

</div>