@import "../../../../../assets/scss/helper/variable";
.upload-image {
  padding: 0;
  background: #ffffff;
  border: 1px dashed $border-color-base;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: relative;
  width: 150px;
  height: 150px;
  img {
    width: 100%;
  }
}
::ng-deep {
  .extend {
    width: 100% !important;
    height: 100% !important;
  }
}
.noti-svg {
  path {
    fill: red;
  }
}
