<div class="wrapper">
  <div>
    <span class="text-decoration-underline">{{bannerTitle}} </span>*
    <span class="d-inline-block ml-2 fst-italic  badge rounded-pill bg-dark"> {{bannerStateLabel}}</span>
    <svg-icon src="/assets/images/icons/Info-circle.svg" class="pointer noti-svg" [popover]="notiTemp"
      [outsideClick]="true"></svg-icon>
  </div>
  <div class="{{position}}" *ngIf="file.result || banner?.imageUrl">
    <hc-image-preview [url]="file.result || banner?.imageUrl" [showDelete]="!!file.result" (onRemove)="removeFile()"
      [extendClass]="'extend'"></hc-image-preview>
  </div>
  <div class="pt-3 d-flex gap-16" *ngIf="isAllowUpload">
    <!-- <hc-image-preview [url]="file.result" *ngIf="file.result" (onRemove)="removeFile()" [extendClass]="'extend'">
    </hc-image-preview> -->
    <div class="upload-image col-3 pointer mb-2 ms-4" (click)="inputImage.click()" *ngIf="!file.result">
      <svg-icon src="/assets/images/icons/Cloud-upload.svg" [svgStyle]="{ 'width.px':90,'height.px':90 }"></svg-icon>
    </div>
  </div>
</div>
<input type="file" name="" id="" class="d-none" hcFileHandle #inputImage accept="image/jpeg,image/jpg,image/png"
  (onFileHandleFinish)="handleImageFinish($event)">
<ng-template #notiTemp>
  Nên tải ảnh với tỉ lệ {{bannerResolution}}
</ng-template>