<div class="modal-header">
    <h5 class="modal-title">Bạn muốn ứng tuyển bằng:</h5>
    <button type="button" class="btn-close" (click)="onClose()"></button>
</div>
<ng-container *ngIf="profile$ | async; let profile; else loadingTemp">
    <div class="modal-body">
        <div class="d-flex align-items-center gap-16">
            <div class="upload flex-fill pointer" (click)="input.click()">
                <span>{{file.file?.name || 'Tải CV'}}</span>
                <svg-icon src="/assets/images/icons/Cloud-upload.svg"></svg-icon>
            </div>
            <button type="button" class="btn btn-primary fit-content" (click)="apply(profile, true)" hcButtonLoading [loading]="loading">Ứng tuyển</button>
        </div>
        <span class="text-danger">Chỉ chấp nhập tệp .pdf</span>
        <div class="divider-wrapper">
            <hr class="divider" />
            <span class="color-third">Hoặc</span>
            <hr class="divider" />
        </div>
        <button class="btn btn-primary bg-primary text-white" (click)="apply(profile)" hcButtonLoading [loading]="loading">Hồ sơ Hive Connect</button>
    </div>
    <input type="file" name="" id="" class="d-none" hcFileHandle #input accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.pdf,.doc,.docx,.xlsx, .xls, .csv" (onFileHandleFinish)="fileReadFinishHandle($event)"
        (onFileHandling)="loading = $event" [typeUploadFile]="fileUploadType.cv">
</ng-container>
<ng-template #loadingTemp>
    <div class="d-flex justify-content-around">
        <hc-skeleton></hc-skeleton>
        <hc-skeleton></hc-skeleton>
    </div>
</ng-template>
<ng-template #confirmCreateCv>
    <div class="modal-body">
        <p [routerLink]="['/profile','cv']">Bạn hiện chưa tạo hồ sơ, bạn có muốn tiến hành
            <a [routerLink]="['/profile','cv']"> <b>tạo</b></a> luôn không?
        </p>
    </div>
</ng-template>