@import "../../../../../assets/scss/helper/variable";
.upload {
  padding: 24px;
  background: #ffffff;
  border: 1px dashed $border-color-base;
  display: flex;
  gap: 16px;
  justify-content: center;
  border-radius: 8px;
}
.divider-wrapper {
  padding: 24px 0;
  display: flex;
  align-items: center;
  gap: 8px;
  .divider {
    flex: 1;
  }
}
