<div class="modal-header">
  <h5 class="modal-title">Báo cáo tin tuyển dụng</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onClose.emit()"></button>
</div>
<div class="modal-body">
  <p>Tin tuyển dụng</p>
  <p class="px-3 fw-bold">{{job.jobName}}</p>
  <form [formGroup]="form" class="pt-3" (ngSubmit)="submit()">
    <div class="mb-3" *ngIf="form.controls['reportReason'];let controls">
      <hc-textarea-common [controls]="controls" [label]="'Lí do báo cáo'"
        [placeHolder]="'công việc này mô tả không đúng sự thật'"></hc-textarea-common>
    </div>
    <div class="mb-3" *ngIf="form.controls['fullName']; let controls">
      <hc-input-common [controls]="controls" [label]="'Họ và tên'" [placeHolder]="'Nguyễn Văn A'"></hc-input-common>
    </div>
    <div class="mb-3" *ngIf="form.controls['phone']; let controls">
      <hc-input-common [controls]="controls" [label]="'Số điện thoại'" [placeHolder]="'xxx.xxx.xxx'"
        [errorRoot]="'phone'"></hc-input-common>
    </div>
    <div class="mb-3" *ngIf="form.controls['userAddress']; let controls">
      <hc-input-common [controls]="controls" [label]="'Địa chỉ'" [placeHolder]="'Trung kính, Hà Nội'"></hc-input-common>
    </div>
    <div class="mb-3" *ngIf="form.controls['userEmail']; let controls">
      <hc-input-common [controls]="controls" [label]="'Email'" [placeHolder]="'name@gmail.com'" [errorRoot]="'email'">
      </hc-input-common>
    </div>
    <button type="submit" class="d-none" #btnSubmit></button>
  </form>
  <div class="d-flex justify-content-center">
    <button class="btn btn-danger fit-content me-3" hcButtonLoading [loading]="loading" (click)="btnSubmit.click()">Báo
      cáo</button>
    <button class="btn btn-secondary fit-content" hcButtonLoading [loading]="loading"
      (click)="onClose.emit()">Hủy</button>
  </div>
</div>