@import "../../../../../assets/scss/helper";
.form-control {
  border-radius: 8px;
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom-color: $border-color-base;
  background-color: transparent;
}
