<div class="{{classWrapper}}" *ngIf="_control">
  <label [for]="id" class="mb-8" *ngIf="label">{{label}}<span *ngIf="isRequired" class="text-danger">*</span></label>
  <div class="position-relative">
    <textarea class="form-control" [formControl]="_control" [id]="id" [placeholder]="placeHolder" hcInputValidateClass
      (blur)="onBlur($event)" [name]="name"></textarea>
    <hc-form-error [controls]="_control" [type]="errorRoot" [errorList]="errorList"></hc-form-error>
  </div>
</div>