<div class="row">
    <div class="col-lg-8 d-none d-xl-block">
        <svg-icon src="/assets/images/login-img-1.svg"></svg-icon>
    </div>
    <div class="col-lg-4 ">
        <div class="card login-wrapper">
            <div class="header p-0 mb-3">
                <h2 class="title m-0">Quên mật khẩu</h2>
            </div>
            <div *ngIf="isSend; else resetForm">
                <form [formGroup]="form" (submit)="sendMail()">
                    <div class="row flex-column flex-xl-row">
                        <div class="col-xl-7 col-12">
                            <div class="mb-24">
                                <div class="mb-24">
                                    <hc-input-common [controls]="form.controls['email']" [typeInput]="'text'" [errorRoot]="'email'" [placeHolder]="'abc@gmail.com'" [label]="'Email đăng ký tài khoản'">
                                    </hc-input-common>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-12">
                            <div class="d-flex justify-content-end mt-3">
                                <button type="submit" class="btn btn-primary" hcButtonLoading [loading]="loading">Đổi mật khẩu</button>
                            </div>
                        </div>
                    </div>
                    <span class="text-primary fst-italic" *ngIf="message">{{message}}</span>
                    <div class="row justify-content-between mt-3">
                        <div class="col-6">
                            <a [routerLink]="['/auth','login']" routerLinkActive="router-link-active">Quay lại đăng nhập</a>
                        </div>
                        <div class="col-6 text-end text-nowrap">
                            <a [routerLink]="['/auth','register']" routerLinkActive="router-link-active">Đăng ký tài khoản mới</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #resetForm>
    <div>
        <form [formGroup]="form" (submit)="resetPassword()">
            <div class="row">
                <div class="col-12">
                    <hc-input-common [controls]="form.controls['password']" [typeInput]="'password'" [errorRoot]="'password'" [typeInput]="'password'" [errorList]="['required','maxlength','pattern']" [placeHolder]="'Nhập mật khẩu'" [label]="'Mật khẩu'">
                    </hc-input-common>
                </div>
                <div class="col-12">
                    <hc-input-common [controls]="form.controls['matchPassword']" [typeInput]="'password'" [errorRoot]="'password'" [typeInput]="'password'" [errorList]="['required','notMatch','maxlength']" [placeHolder]="'Xác nhận mật khẩu'" [label]="'Xác nhận mật khẩu'">
                    </hc-input-common>
                </div>
            </div>
            <span class="text-primary fst-italic" *ngIf="message">{{message}}</span>
            <div class="d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-primary" hcButtonLoading [loading]="loading">Đổi mật khẩu</button>
            </div>
            <div class="row justify-content-between mt-3">
                <div class="col-6">
                    <a [routerLink]="['/auth','login']" routerLinkActive="router-link-active">Quay lại đăng nhập</a>
                </div>
                <div class="col-6 text-end">
                    <a [routerLink]="['/auth','register']" routerLinkActive="router-link-active">Đăng ký tài khoản mới</a>
                </div>
            </div>
        </form>
    </div>
</ng-template>