<p class="block-title">CV Ứng tuyển</p>
<div class="wrapper px-3 py-5 position-relative">
  <button class="btn btn-none position-absolute top-0 right-8" (click)="back()">X</button>
  <accordion [isAnimated]="true">
    <accordion-group heading="Thông tin công việc" [isOpen]="true">
      <div class="p-3">
        <div class="row">
          <div class="col-6">
            <p><span class="fw-bold">Tên:</span> {{jobDetail.jobName}}</p>
            <p><span class="fw-bold">Ngành nghề:</span> {{jobDetail.fieldWork}}</p>
            <p><span class="fw-bold">Hạn ứng tuyển:</span> {{jobDetail.endDate | date: 'dd/MM/YYYY'}}</p>
            <p><span class="fw-bold">Hình thức làm việc:</span> {{mapWorkingForm[jobDetail.workForm]}}</p>
            <p><span class="fw-bold">Địa điểm làm việc:</span> {{jobDetail.workPlace}}</p>
          </div>
          <div class="col-6">
            <p><span class="fw-bold">Cấp bậc:</span> {{jobDetail.rank}}</p>
            <p><span class="fw-bold">Mức lương:</span> {{jobDetail.fromSalary | moneyConvert}} - {{jobDetail.toSalary |
              moneyConvert}}</p>
            <p><span class="fw-bold">Yêu cầu giới tính:</span> {{jobDetail.gender == null ? 'Không yêu cầu' :
              (jobDetail.gender ? 'Nam' : 'Nữ')}}</p>
            <p><span class="fw-bold">Yêu cầu kinh nghiệm:</span> {{jobDetail.experience || 'Không yêu cầu kinh nghiệm'}}
            </p>
            <p><span class="fw-bold">Thời gian làm việc:</span> {{jobDetail.weekday}}</p>
          </div>
          <div>
            <p class="fw-bold">Mô tả công việc:</p>
            <p class="ps-3" [innerHTML]="jobDetail.jobDescription | safe: 'html'"></p>
          </div>
          <div>
            <p class="fw-bold">Quyền lợi:</p>
            <p class="ps-3" [innerHTML]="jobDetail.benefit | safe: 'html'"></p>
          </div>
          <div>
            <p><b>Yêu cầu:</b></p>
            <p class="ps-3" [innerHTML]="jobDetail.jobRequirement | safe: 'html'"></p>
          </div>
        </div>
      </div>
    </accordion-group>
  </accordion>
  <div class="table-container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>STT</th>
          <th>
            <div class="column-width">
              Tên Ứng viên
            </div>
          </th>
          <th>
            <div class="column-width">
              Kinh nghiệm làm việc
            </div>
          </th>
          <th>
            <div class="column-width">
              Học vấn
            </div>
          </th>
          <th>
            <div class="column-width">
              Mục tiêu nghề nghiệp
            </div>
          </th>
          <th>
            <div class="column-width">
              Trạng thái
            </div>
          </th>
          <th>
            <div class="column-width">
              Thao tác
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf=" cv$ | async; let cv; else loadingTemp">
          <tr *ngFor="let item of cv">
            <td>{{item.stt}}</td>
            <td class="text-start">{{item.candidateName}}</td>
            <td class="text-start">
              <p *ngFor="let exp of item.experienceDesc">{{exp}}</p>
            </td>
            <td class="text-start">
              <p *ngFor="let exp of item.educations">{{exp}}</p>
            </td>
            <td class="text-start">{{item.careerGoal}}</td>
            <td class="text-start">{{map[item.approvalStatus]}}</td>
            <td>
              <div *ngIf="item.approvalStatus === APPLY_STATE.pending">
                <button class="btn btn-primary w-100 mb-2" hcButtonLoading [loading]="applyLoading"
                  (click)="openDialogMessage(item, APPLY_STATE.approve)">Chấp nhận</button>
                <button class="btn btn-danger w-100 mb-2" hcButtonLoading [loading]="applyLoading"
                  (click)="openDialogMessage(item, APPLY_STATE.reject)">
                  Từ chối
                </button>
              </div>
              <button class="btn btn-outline-success w-100" (click)="previewCV(item)">Xem CV</button>
            </td>
          </tr>
          <tr *ngIf="!loading && cv.length === 0">
            <td colspan="7">
              <div class="text-center">
                <p>Công việc chưa có ai ứng tuyển</p>
              </div>
            </td>
          </tr>
          <ng-container *ngIf="loading; then loadingTemp">
          </ng-container>
        </ng-container>
      </tbody>
    </table>
    <pagination [previousText]="'Trang trước'" [nextText]="'Trang sau'" [totalItems]="totalPage"
      [itemsPerPage]="DEFAULT_PAGINATION.pageSize" (pageChanged)="pageChanged($event)">
    </pagination>
  </div>

</div>
<ng-template #loadingTemp>
  <tr>
    <td colspan="7">
      <div class="d-flex">
        <hc-skeleton></hc-skeleton>
        <hc-skeleton></hc-skeleton>
        <hc-skeleton></hc-skeleton>
        <hc-skeleton></hc-skeleton>
        <hc-skeleton></hc-skeleton>
      </div>
    </td>
  </tr>
</ng-template>