<div class="modal-header">
  <h5 class="modal-title">Xác nhận</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
  <p>{{messageConfirm}}</p>
  <p>Hãy để lại lời nhắn cho ứng viên</p>
  <textarea class="form-control" [(ngModel)]="message"></textarea>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger fit-content" data-bs-dismiss="modal" (click)="close()">Đóng</button>
  <button type="button" class="btn btn-primary fit-content" (click)="changeRequestApplyState(cv,state)">Xác
    nhận</button>
</div>