<div class="{{classWrapper}}" *ngIf="_control">
  <label [for]="id" class="mb-8 text-nowrap" *ngIf="label">{{label}}<span *ngIf="isRequired"
      class="text-danger">*</span></label>
  <div class="position-relative">
    <input [type]="typeInput" class="form-control" [formControl]="_control" [id]="id" [placeholder]="placeHolder"
      hcInputValidateClass bsDatepicker [minDate]="minDate" [maxDate]="maxDate" [name]="name"
      [bsConfig]="{ showWeekNumbers: false, isAnimated:true, dateInputFormat: 'DD-MM-YYYY'}">
    <hc-form-error [controls]="_control" [type]="errorRoot" [errorList]="errorList"></hc-form-error>
  </div>
</div>