<ng-container *ngIf="info$ | async; let info; else loadingTemp">
  <ng-container *ngIf="info.profile?.id && info.user">
    <form [formGroup]="form" (ngSubmit)="submit(info)">
      <div class="row">
        <div *ngIf="form.controls['fullName']; let controls" class="col-6">
          <hc-input-common [controls]="controls" [isRequired]="true" [placeHolder]="'Tên đầy đủ'"
            [label]="'Tên đầy đủ'">
          </hc-input-common>
        </div>
        <div class="col-6 d-flex  align-items-center ">
          <p class="mr-32">Ảnh đại diện: </p>
          <div class="position-relative avatar-wrapper border p-2">
            <img src="{{avatar | imageConvert}}" alt="" width="72">
            <button class="btn btn-none position-absolute avatar-upload" type="button" (click)="input.click()">
              <svg-icon src="/assets/images/icons/camera-avatar.svg"></svg-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div *ngIf="form.controls['phone']; let controls" class="col-6 ">
          <div class="d-flex gap-16 align-items-center">
            <hc-input-common [controls]="controls" [isRequired]="true" [placeHolder]="'Số điện thoại'"
              [label]="'Số điện thoại'" [errorRoot]="'phone'">
            </hc-input-common>
          </div>
        </div>
        <div *ngIf="form.controls['gender']; let controls" class="col-6">
          <hc-input-select-common [controls]="controls" [isRequired]="true" [placeHolder]="'Giới tính'"
            [label]="'Giới tính'" [listOption]="dropdownGender"></hc-input-select-common>
        </div>
        <div *ngIf="form.controls['position']; let controls" class="col-6">
          <hc-input-common [controls]="controls" [isRequired]="true" [placeHolder]="'Vị trí'" [label]="'Vị trí'">
          </hc-input-common>
        </div>
        <div *ngIf="form.controls['linkedinAccount']; let controls" class="col-6">
          <hc-input-common [controls]="controls" [placeHolder]="'Tài khoản linkedin'" [label]="'Tài khoản linkedin'">
          </hc-input-common>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-6 d-flex  align-items-center">
          <p class="mr-32">Giấy phép kinh doanh: </p>
          <div class="position-relative avatar-wrapper border p-2">
            <img src="{{businessLicense | imageConvert}}" alt="" width="72">
            <button class="btn btn-none position-absolute avatar-upload" (click)="inputLicense.click()">
              <svg-icon src="/assets/images/icons/camera-avatar.svg"></svg-icon>
            </button>
          </div>
        </div>
        <div class="col-6 d-flex  align-items-center">
          <p class="mr-32">Giấy phép khác: </p>
          <div class="position-relative avatar-wrapper border p-2">
            <img src="{{additionalLicense | imageConvert}}" alt="" width="72">
            <button class="btn btn-none position-absolute avatar-upload" (click)="inputAdditionLicense.click()">
              <svg-icon src="/assets/images/icons/camera-avatar.svg"></svg-icon>
            </button>
          </div>
        </div>
      </div> -->
      <div>
        <button type="submit" class="btn btn-primary fit-content me-3" hcButtonLoading
          [loading]="loading"><span>Lưu</span></button>
        <button type="button" class="btn btn-danger fit-content" hcButtonLoading [loading]="loading"
          (click)="onFinish.emit()"><span>Hủy</span></button>
      </div>
    </form>
  </ng-container>
</ng-container>

<input type="file" name="" id="" class="d-none" hcFileHandle [typeProcess]="'pending'" #input
  accept="image/jpeg,image/jpg,image/png" (onFileHandleFinish)="uploadFinish($event, fileTypeUpload.avatar)">

<ng-template #loadingTemp>
  <hc-post-skeleton></hc-post-skeleton>
</ng-template>