<div class="container my-5">
  <ng-container *ngIf="info$ | async; let info">
    <div class="row" *ngIf="info.cv?.id && info.user">
      <div class="col-3">
        <button class="btn btn-primary fit-content mb-3" (click)="exportPDF(cvTemplate)" hcButtonLoading
          [loading]="loading">Xuất CV</button>
        <div class="preview-container">
          <div class="preview-item-wrapper" (click)="templateChoose = 1">
            <div class="preview-item">
              <hc-cn-template-primary [cv]="info.cv" [user]="info.user" [profile]="info.profile">
              </hc-cn-template-primary>
            </div>
          </div>
          <div class="preview-item-wrapper" (click)="templateChoose = 2">
            <div class="preview-item">
              <hc-cv-template-secondary [cv]="info.cv" [user]="info.user" [profile]="info.profile">
              </hc-cv-template-secondary>
            </div>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div id="cv-export" #cvTemplate>
          <hc-cn-template-primary [cv]="info.cv" [user]="info.user" [profile]="info.profile"
            *ngIf="templateChoose === 1" [isView]="true"></hc-cn-template-primary>
          <hc-cv-template-secondary [cv]="info.cv" [user]="info.user" [profile]="info.profile"
            *ngIf="templateChoose === 2" [isView]="true"></hc-cv-template-secondary>
        </div>
      </div>
    </div>
  </ng-container>

</div>