@import "../../../../../assets/scss/helper/variable";
::ng-deep {
  .carousel-control {
    color: #000;
    .icon-prev,
    .icon-next {
      background-color: #000;
    }
  }
}
.preview-container {
  display: flex;
  gap: 16px;
  flex-direction: column;
  .preview-item-wrapper {
    height: 400px;
    display: flex;
    width: 350px;
    overflow: hidden;
    border: 1px solid transparent;
    justify-content: space-evenly;
    &:hover {
      border: 1px solid $border-color-base;
      cursor: pointer;
    }
    .preview-item {
      transform-origin: top;
      transform: scale(0.45);
    }
  }
}
