<div class="row mx-0 px-0 mt-45">
  <div class="col-xl-4 col-12 px-0 px-xl-2">
    <div class="job-container">
      <div class="title pt-16 text-center">
        <span class="fz-20 fw-bold">Việc làm từ xa</span>
      </div>
      <div class="p-16 scroll">
        <div class="mb-3" *ngFor="let item of remote">
          <hc-job-item-card [job]="item"></hc-job-item-card>
        </div>
        <ng-container *ngIf="loadingRemote">
          <div class="mb-3">
            <hc-job-item-card [isLoading]="true"></hc-job-item-card>
          </div>
          <div class="mb-3">
            <hc-job-item-card [isLoading]="true"></hc-job-item-card>
          </div>
          <div class="mb-3">
            <hc-job-item-card [isLoading]="true"></hc-job-item-card>
          </div>
          <div class="mb-3">
            <hc-job-item-card [isLoading]="true"></hc-job-item-card>
          </div>
        </ng-container>
        <div class="d-flex w-100 my-3 justify-content-center">
          <button class="btn btn-primary text-white fit-content bg-primary"><a [routerLink]="['/search']"
              [queryParams]="{workingForm:workStyle.remote}" class="text-white">Xem thêm</a></button>
        </div>
        <!-- <div class="w-100 d-flex justify-content-center mt-16">
          <button class="btn btn-primary bg-secondary fit-content text-dark border-primary fw-normal">Xem thêm</button>
        </div> -->
        <!-- <ng-container *ngIf="loadingRemote">
          <div class="col-lg-3 col-md-4 mb-16">
            <hc-post-skeleton></hc-post-skeleton>
          </div>
          <div class="col-lg-3 col-md-4 mb-16">
            <hc-post-skeleton></hc-post-skeleton>
          </div>
          <div class="col-lg-3 col-md-4 mb-16">
            <hc-post-skeleton></hc-post-skeleton>
          </div>
        </ng-container> -->
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-12 px-0 px-xl-2">
    <div class="job-container">
      <div class="title pt-16 text-center">
        <span class="fz-20 fw-bold">Việc làm toàn thời gian</span>
      </div>
      <div class="p-16 scroll">
        <div *ngFor="let item of fulltime" class="mb-3">
          <hc-job-item-card [job]="item"></hc-job-item-card>

        </div>

        <ng-container *ngIf="loadingFulltime">
          <div class="mb-3">
            <hc-job-item-card [isLoading]="true"></hc-job-item-card>
          </div>
          <div class="mb-3">
            <hc-job-item-card [isLoading]="true"></hc-job-item-card>
          </div>
          <div class="mb-3">
            <hc-job-item-card [isLoading]="true"></hc-job-item-card>
          </div>
          <div class="mb-3">
            <hc-job-item-card [isLoading]="true"></hc-job-item-card>
          </div>
        </ng-container>
        <!-- <div class="w-100 d-flex justify-content-center mt-16">
          <button class="btn btn-primary bg-secondary fit-content text-dark border-primary fw-normal">Xem thêm</button>
        </div> -->
        <div class="d-flex w-100 my-3 justify-content-center">
          <button class="btn btn-primary text-white fit-content bg-primary"><a [routerLink]="['/search']"
              [queryParams]="{workingForm:workStyle.fulltime}" class="text-white">Xem thêm</a></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-12 px-0 px-xl-2">
    <div class="job-container">
      <div class="title pt-16 text-center">
        <span class="fz-20 fw-bold">Việc làm bán thời gian</span>
      </div>
      <div class="p-16 scroll">
        <div class="mb-3" *ngFor="let item of partTime">
          <hc-job-item-card [job]="item"></hc-job-item-card>
        </div>

        <ng-container *ngIf="loadingPartTime">
          <div class="mb-3">
            <hc-job-item-card [isLoading]="true"></hc-job-item-card>
          </div>
          <div class="mb-3">
            <hc-job-item-card [isLoading]="true"></hc-job-item-card>
          </div>
          <div class="mb-3">
            <hc-job-item-card [isLoading]="true"></hc-job-item-card>
          </div>
          <div class="mb-3">
            <hc-job-item-card [isLoading]="true"></hc-job-item-card>
          </div>
        </ng-container>
        <!-- <div class="w-100 d-flex justify-content-center mt-16">
          <button class="btn btn-primary bg-secondary fit-content text-dark border-primary fw-normal">Xem thêm</button>
        </div> -->
        <div class="d-flex w-100 my-3 justify-content-center">
          <button class="btn btn-primary text-white fit-content bg-primary"><a [routerLink]="['/search']"
              [queryParams]="{workingForm:workStyle.partTime}" class="text-white">Xem thêm</a></button>
        </div>
      </div>
    </div>
  </div>
</div>