@import "../../../../../assets/scss/helper/variable";
.job-container {
  min-height: 720px;
  background-color: rgba(250, 250, 255);
  border: 1px solid $border-color-base;
  border-radius: 0.5rem;
  margin: 45px 0;
  .title {
    border-bottom: 2px solid $border-color-base !important;
    width: fit-content;
    margin: auto;
    padding-bottom: 0.25rem;
  }
}
.scroll {
  max-height: 658px;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
