<form [formGroup]="form">
  <hc-input-common [controls]="form.controls['email']" [errorRoot]="'email'" [typeInput]="'email'" [label]="'Email'"
    [placeHolder]="'matsu@gmail.com'">
  </hc-input-common>
  <div *ngIf="form.controls['phone']; let controls">
    <hc-input-common [controls]="controls" [isRequired]="true" [placeHolder]="'Số điện thoại'" [label]="'Số điện thoại'"
      [errorRoot]="'phone'">
    </hc-input-common>
  </div>
  <div *ngIf="form.controls['title']; let controls">
    <hc-textarea-common [label]="'Nhập câu hỏi của bạn'" [placeHolder]="'làm sao để ứng tuyển?'" [controls]="controls"
      [isRequired]="true"></hc-textarea-common>
  </div>
</form>
<div class="d-flex justify-content-end">
  <button class="btn btn-primary fit-content" hcButtonLoading [loading]="loading" (click)="submitForm()">Gửi</button>
</div>