<div *ngIf="payment$ | async; let payments; else loadingTemp" class="d-flex gap-8 align-items-center flex-wrap">
  <ng-container *ngIf="!loadingPayment;else loadingTemp">
    <div class="btn-group" dropdown *ngIf="payments.length" [class.disabled]="loadingPayment" [container]="'body'">
      <button id="button-basic" dropdownToggle type="button" class="btn border-primary dropdown-toggle"
        aria-controls="dropdown-basic">
        {{labelDD}} <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem" class="pointer p-2" *ngFor="let item of payments" (click)="selectedPayment = item">
          {{item.detailPackageName}}
        </li>
      </ul>
    </div>
    <button class="btn btn-primary text-white fit-content" (click)="search()" [disabled]="!selectedPayment.paymentId"
      *ngIf="payments.length">
      <svg-icon src="/assets/images/icons/search.svg" class="fill-svg"></svg-icon>Tìm kiếm
    </button>

    <div>
      <span class="text-danger" *ngIf="!payments.length">Bạn chưa mua gói nào </span>
      <span class="fst-italic">Xem thêm thông tin về các gói, dịch vụ <a
          [routerLink]="['/recruiter','payment','package']" routerLinkActive="router-link-active">bấm vào đây</a></span>
    </div>
  </ng-container>
</div>
<ng-template #loadingTemp>
  <hc-skeleton></hc-skeleton>
</ng-template>