@import "../../../../../assets/scss/helper/variable";
.item {
  padding: 8px 32px;
  color: #3e3e3e;
  width: 100%;
  display: block;
  &.active {
    background-color: rgba(173, 225, 205, 0.2);
    color: $primary-color;
    font-weight: bold;
  }
  &:hover {
    background-color: rgba(173, 225, 205, 0.2);
  }
}
::ng-deep {
  .page {
    .wrapper {
      // background-color: $bg-primary;
    }
  }
}
