<div class="container mt-45 mb-45 recruiter">
  <div class="row" *ngIf="profile$ | async; else loading">
    <div class="col-xl-3 col-12">
      <hc-recruiter-left-bar></hc-recruiter-left-bar>
    </div>
    <div class="col-xl-9 col-12 page">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="row">
    <div class="col-3">
      <div class="wrapper">
        <hc-skeleton></hc-skeleton>
      </div>
      <div class="wrapper">
        <hc-skeleton></hc-skeleton>
      </div>
    </div>
    <div class="col-9">
      <div class="wrapper">
        <hc-skeleton></hc-skeleton>
        <hc-skeleton></hc-skeleton>
      </div>
    </div>
  </div>
</ng-template>