<div>
  <hc-header></hc-header>
  <ng-container *ngIf="showSearchBar$ | async; let isShow">
    <hc-search-bar *ngIf="isShow"></hc-search-bar>
  </ng-container>

  <router-outlet></router-outlet>
  <!-- <hc-chat-popup></hc-chat-popup> -->
</div>
<hc-footer></hc-footer>

<ng-template #loading>
  <div class="bg-white w-100">
    <div class="container p-16">
      <ngx-skeleton-loader [theme]="{
      width: '100%',
      'border-radius': '0',
      height: '15px'
    }"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{
      width: '100%',
      'border-radius': '0',
      height: '15px'
    }"></ngx-skeleton-loader>
    </div>
  </div>
</ng-template>