a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
p,
span,
label {
  margin: 0;
  font-size: $font-size-base;
}
body {
  background-color: #fff;
}
.form-check-input:checked {
  border-color: $primary-color;
  background-color: $primary-color;
}
.embed {
  iframe {
    width: 100% !important;
    height: 100% !important;
  }
}
