// @import "../helpers/variables";
/***
    Import Fonts
***/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  font-family: "Inter", sans-serif !important;
  margin: 0;
  padding: 0;
}
/***
    UIKit
***/
html {
  font-size: var(--font-size-16);
}

.btn-primary {
  background-color: $bg-primary;
  border-color: $bg-primary;
  color: $primary-color;
  padding: 10px 16px;
  outline: none;
  width: 100%;
  border-radius: $border-radius-base;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  .icon {
    margin-right: 12px;
  }
  &:hover,
  &:focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    opacity: 0.8;
    path {
      fill: white;
    }
  }
  &:not(:disabled):not(.disabled).active {
    opacity: 1;
  }
  &:disabled {
    background-color: #c8c8c8;
    border-color: #c8c8c8;
  }
}
.btn-secondary {
  background: #fafafa;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: $border-radius-base;
  color: $primary-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  padding: 8px;
  .icon {
    margin-right: 8px;
  }
  &:hover,
  &:focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-color: $primary-color;
    border-color: $primary-color;
    opacity: 0.8;
    color: $white;
  }
  &:not(:disabled):not(.disabled).active {
    opacity: 1;
  }
}
.btn-third {
  background-color: $primary-color;
  border-color: $primary-color;
  color: #fff;
  padding: 10px 16px;
  outline: none;
  width: 100%;
  border-radius: $border-radius-base;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  .icon {
    margin-right: 8px;
  }
  &:hover,
  &:focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-color: $bg-primary;
    border-color: $bg-primary;
    opacity: 0.8;
    color: $primary-color;
  }
  &:not(:disabled):not(.disabled).active {
    opacity: 1;
  }
  &:disabled {
    background-color: $primary-color;
    border-color: $primary-color;
    opacity: 0.5;
    color: #fff;
  }
}
.color-primary {
  color: $primary-color !important;
}
.color-third {
  color: $color-third !important;
}
.color-yellow {
  color: #f5bb27;
}
.color-gray {
  color: #ccc;
}
.color-gray8 {
  color: #888;
}
.color-gray4 {
  color: #c4c4c4;
}
.mt-5 {
  margin-top: 40px !important;
}
.fz-14 {
  font-size: var(--font-size-14);
}
.fz-12 {
  font-size: var(--font-size-12);
}
.fz-18 {
  font-size: var(--font-size-18);
}
.fz-20 {
  font-size: var(--font-size-20);
}
.fz-24 {
  font-size: var(--font-size-24);
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

body {
  font-size: var(--font-size-16);
  line-height: 19px;
  color: $color-secondary;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Inter", sans-serif;
  outline: none;
}

p {
  font-size: 14px;
  line-height: 22px;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  @media (max-width: 568px) {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
}

a:hover,
button:hover {
  text-decoration: none;
  transition: ease-in-out 0.2s;
}

input[type="text"] {
  outline: none;
}

select {
  color: $primary-color;
}

input[type="date"] {
  color: #72777c;
}

select,
.select-control,
input[type="date"] {
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  // height: 45px;
  background: #fff;
  font-size: 16px;
  padding: 0 15px;
  display: block;
  width: 100%;
  &::placeholder {
    color: #72777c;
    font-size: 16px;
  }
}

select:focus,
select.form-control:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

.block-title {
  color: $primary-color;
  font-size: 24px;
  line-height: 33px;
  font-family: "Inter", sans-serif;
  margin: 40px 0;
}

.btn-radius {
  height: 45px;
  border-radius: 22.5px;
  padding-right: 20px;
  padding-left: 20px;
}

.btn-icon {
  i,
  .icon {
    margin-right: 10px;
  }
}
h1 {
  font-size: var(--font-size-28);
  font-weight: bold;
  @media (max-width: 568px) {
    font-size: 20px;
  }
}
h2 {
  font-size: var(--font-size-20);
  font-weight: bold;
  @media (max-width: 568px) {
    font-size: 18px;
  }
}
h4 {
  font-size: var(--font-size-16);
  @media (max-width: 568px) {
    font-size: 14px;
  }
}

.padding-right-5 {
  padding-right: 5px;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}

.svg-inline--fa {
  &.fa-w-16 {
    width: 1em;
  }
  &.fa-w-12 {
    width: 0.7em;
  }
}
.rounded-25 {
  border-radius: 25px;
}

.w-76 {
  max-width: 76px;
}
.color-green {
  color: #00cd6b;
}
.btn-write-new {
  width: auto;
  border-radius: $border-radius-base;
  padding: 7px 23px;
}
.was-validated .form-select:valid:not([multiple]):not([size]),
.was-validated .form-select:valid:not([multiple])[size="1"],
.form-select.is-valid:not([multiple]):not([size]),
.form-select.is-valid:not([multiple])[size="1"] {
  background-image: none;
}
.was-validated .form-control:valid,
.form-control.is-valid {
  background-image: none;
}
