<div class="w-100  search-bar-border" [class.sticky]="sticky">
  <div class="container">
    <form class="d-flex justify-content-between align-items-center gap-16 py-3 overflow-auto" [formGroup]="form">
      <div class="position-relative flex-fill search-box-container">
        <svg-icon src="/assets/images/icons/search.svg" class="position-absolute absolute-center-y left-10"></svg-icon>
        <input type="text" class="form-control py-2 pl-36" id="exampleFormControlInput1"
          placeholder="Tên công việc, vị trí..." formControlName="searchText">
      </div>
      <div class="d-flex">
        <div class="dd-container">
          <select class="form-select" aria-label="Default select example" formControlName="career">
            <option value="" selected>Tất cả ngành nghề</option>
            <option value="{{item.value}}" *ngFor="let item of fieldJob$ | async">{{item.label}}</option>
          </select>
        </div>
        <div class="border-middle dd-container">
          <select class="form-select" aria-label="Default select example" formControlName="workingForm">
            <option value="" selected>Tất cả hình thức làm việc</option>
            <option value="{{item.value}}" *ngFor="let item of DROPDOWN_JOB_STYLE">{{item.label}}</option>
          </select>
        </div>
        <div class="dd-container">
          <select class="form-select" aria-label="Default select example" formControlName="location">
            <option value="" selected>Tất cả địa điểm</option>
            <option value="{{item.value}}" *ngFor="let item of country$ | async">{{item.label}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>