@import "../../../../assets/scss/helper";
.search-bar-border {
  border-bottom: 1px solid $border-color-base;
  background-color: #fff;
  .form-control,
  .form-select {
    border: none;
    outline: none !important;
    box-shadow: none !important;
    font-size: 14px;
  }
  .form-select {
    max-width: 250px;
  }
  .border-middle {
    border-right: 2px solid $border-color-base;
    border-left: 2px solid $border-color-base;
    padding: 0 16px;
  }
  .dd-container {
    min-width: 170px;
  }
  &.sticky {
    position: fixed;
    top: 0;
    z-index: 9;
    background-color: #3f2678d1;
  }
  .search-box-container {
    min-width: 190px;
  }
}
