<div class="wrapper {{wrapperClass}}" [routerLink]="resolveUrl" [queryParamsHandling]="'merge'">
  <div class="text-center">
    <p class="fw-bold fz-20">{{packageInfo.detailName || packageInfo.title}}</p>
    <p class="fw-bold">{{rentalName}}</p>
    <p>Giá tiền: <span [ngClass]="{'text-decoration-line-through': packageInfo.discount}">
        {{packageInfo.price | moneyConvert}}</span>
      <span class="text-danger" *ngIf="packageInfo.discount"> {{packageInfo.discount | moneyConvert}} </span>
    </p>
    <p>Thời gian hiệu lực: {{packageInfo.timeExpired}}</p>
  </div>
  <!-- <div class="p-3">
    <p>Lợi ích: </p>
    <ol class="list-group list-group-flush">
      <li class="list-group-item">
        <ng-container [ngTemplateOutlet]="benefit"
          [ngTemplateOutletContext]="{name:'Thời gian vàng',value:packageInfo.goldenHour}">
        </ng-container>
      </li>
      <li class="list-group-item">
        <ng-container [ngTemplateOutlet]="benefit"
          [ngTemplateOutletContext]="{name:'Thời gian thường',value:packageInfo.normalHour}">
        </ng-container>
      </li>
      <li class="list-group-item">
        <ng-container [ngTemplateOutlet]="benefit"
          [ngTemplateOutletContext]="{name:'Gới hạn số ảnh upload',value:packageInfo.maxUploadSixImage}">
        </ng-container>
      </li>
      <li class="list-group-item">
        <ng-container [ngTemplateOutlet]="benefit"
          [ngTemplateOutletContext]="{name:'Việc tốt',value:packageInfo.goodJob}">
        </ng-container>
      </li>
      <li class="list-group-item">
        <ng-container [ngTemplateOutlet]="benefit"
          [ngTemplateOutletContext]="{name:'Việc tuyển gấp',value:packageInfo.urgent}">
        </ng-container>
      </li>
      <li class="list-group-item">
        <ng-container [ngTemplateOutlet]="benefit" [ngTemplateOutletContext]="{name:'Việc hot',value:packageInfo.hot}">
        </ng-container>
      </li>
      <li class="list-group-item">
        <ng-container [ngTemplateOutlet]="benefit"
          [ngTemplateOutletContext]="{name:'Công việc liên quan',value:packageInfo.relatedJob}">
        </ng-container>
      </li>
      <li class="list-group-item">
        <ng-container [ngTemplateOutlet]="benefit"
          [ngTemplateOutletContext]="{name:'Gợi ý công việc',value:packageInfo.suggestJob}">
        </ng-container>
      </li>
    </ol>
  </div> -->
</div>
<ng-template #benefit let-value="value" let-name="name">
  <span class="m-0">{{name}}: {{value ? 'Có' :'Không'}}</span>
</ng-template>