<div class="wrapper">
  <div class="logo">
    <img src="/assets/images/advertisement-logo.png" alt="">
  </div>
  <div class="p-8">
    <span>
      Công ty Cho thuê tài chính TNHH MTV Quốc tế Chailease
    </span>
    <hc-job-item-card-secondary></hc-job-item-card-secondary>
    <hc-job-item-card-secondary></hc-job-item-card-secondary>
    <hc-job-item-card-secondary></hc-job-item-card-secondary>
    <div class="w-100 d-flex justify-content-center mt-8">
      <button class="btn btn-primary bg-secondary fit-content text-dark border-primary fw-normal">Xem thêm</button>
    </div>
  </div>
</div>
<!-- src\assets\images\advertisement-logo.png -->