@import "../../../../assets/scss/helper/index.scss";
.wrapper {
  background: $bg-primary;
  border: 1px solid $border-color-base;
  border-radius: 8px;
  overflow: hidden;
  .logo {
    height: 145px;
    // width: 275px;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
