@import "../../../../../assets/scss/helper/variable";
.item-wrapper {
  border-radius: 16px;
  padding: 16px;
  display: flex;
  gap: 24px;
  align-items: center;
  position: relative;
  .edit-btn {
    position: absolute;
    top: 8px;
    right: 32px;
    padding: 0;
    &:hover {
      path {
        fill: $primary-color;
      }
    }
  }
  .cancel-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    &:hover {
      path {
        fill: rgb(250, 53, 53);
      }
      color: rgb(250, 53, 53);
    }
  }
  .quote {
    position: absolute;
    &.up {
      top: 8px;
      left: 8px;
    }
    &.down {
      bottom: 8px;
      right: 8px;
    }
  }
}
.description {
  background-color: $bg-secondary;
  color: #fff;
}
