<div class="d-flex justify-content-between align-items-center mb-16">
  <p class="block-title">Về bạn</p>
  <button class="btn p-0 m-0" *ngIf="!isAdd && !isEdit" (click)="addField()">
    <svg-icon src="/assets/images/icons/edit-cv.svg"></svg-icon>
  </button>
</div>
<div class="bg-secondary item-wrapper mb-16 p-24 ">
  <p class="fz-32 quote up">"</p>
  <p class="flex-fill" [innerHTML]="data[0] | safe: 'html'"></p>
  <p class="fz-32 quote down">"</p>
</div>
<div class="bg-secondary item-wrapper" *ngIf="isAdd">
  <form [formGroup]="form" class="w-100 p-24 position-relative">
    <p class="fz-32 quote up fw-bold">"</p>
    <hc-text-editor [controls]="form.controls['newSummary']" classWrapper="''"
      [placeHolder]="'Tôi là một người thích đọc sách, ca hát và đặc biệt là tán gái'"></hc-text-editor>
    <p class="fz-32 quote down fw-bold">"</p>
  </form>
  <button class="btn edit-btn" (click)="addOrEdit()" hcButtonLoading [loading]="loading">
    <svg-icon src="/assets/images/icons/save-cv.svg" class="fill-svg"></svg-icon>
  </button>
  <button class="btn cancel-btn" (click)="abort()" hcButtonLoading [loading]="loading">
    X
  </button>
</div>