<ng-container *ngIf="listJob$ | async; let jobs">
  <div class="w-100 wrapper mt-45">
    <span class="fz-20 fw-bold">Việc làm gợi ý theo CV của bạn</span>
    <div class="content row">
      <ng-container *ngIf="jobs.length">
        <div class="col-lg-3 col-md-4 mb-16" *ngFor="let item of jobs; let index = index">
          <hc-job-item-card [job]="item"></hc-job-item-card>
        </div>
      </ng-container>
      <ng-container *ngIf="!jobs.length && !isLogin">
        <div class="text-center w-100">
          <span class="fz-24 fw-bold">Bạn hãy đăng nhập để được gợi ý việc làm nhé!</span>
        </div>
      </ng-container>
      <ng-container *ngIf="!jobs.length && isLogin">
        <div class="text-center w-100">
          <span class="fz-24 fw-bold">Hiện chưa có công việc nào để phù hợp với bạn</span><br />
          <span class="fw-bold"><a [routerLink]="['/profile']">Cập nhật CV</a> để nhận đc gợi ý việc phù hợp với
            bạn</span>
        </div>
      </ng-container>

    </div>
    <!-- <div class="w-100 d-flex justify-content-center">
      <button class="btn btn-primary bg-secondary fit-content text-dark border-primary fw-normal">Xem thêm</button>
    </div> -->
  </div>
</ng-container>