@import "../../../../../assets/scss/helper/variable";
.wrapper {
  padding: 16px;
  background-color: $bg-primary;
  border: 1px solid $border-color-base;
  border-radius: 0.5rem;
  margin: 45px 0;
  .tab {
    box-shadow: 4px 4px 4px $border-color-base;
    padding: 8px 16px;
    display: flex;
    gap: 16px;
    align-items: center;
    width: fit-content;
    .item {
      cursor: pointer;
    }
  }
  .content {
    // display: flex;
    // gap: 16px;
    // flex-wrap: wrap;
    // justify-content: space-around;
    margin: 32px 0;
    overflow-y: auto;
    flex-wrap: nowrap;
  }
}
