<div class="row">
  <div class="col-lg-8 d-none d-xl-block">
    <svg-icon src="/assets/images/login-img-1.svg"></svg-icon>
  </div>
  <div class="col-lg-4">
    <div class="card login-wrapper">
      <ng-container *ngIf="!loading; else loadingTemp">
        <p class="text-center">
          <span>
            <h5 class="text-uppercase mb-8" *ngIf="verified"><b>xác nhận email thành công</b>
            </h5>
            <h5 *ngIf="!verified">
              <b>{{failedMessage}}</b>
            </h5>
          </span>
        </p>
        <p class="mb-8" *ngIf="verified">
          <span>Bạn đã xác nhận email tài khoản thành công!</span><br />
          <span>Bạn sẽ được điều hướng đến <a [routerLink]="['/home']">Trang chủ</a> sau {{count}} giây!</span>
        </p>
      </ng-container>

    </div>
  </div>
</div>
<ng-template #loadingTemp>
  <hc-post-skeleton></hc-post-skeleton>
</ng-template>