<div class="other-job row mt-45 mx-0 p-0 max-height-section flex-column-reverse flex-xl-row"
    *ngIf="field$ | async; let field">
    <div class="col-xl-9 col-12">
        <div class="row pt-8">
            <span class="title fz-20 fw-bold d-block mb-16 text-center text-xl-start">Các công việc thuộc lĩnh vực
                {{selectedField.fieldName}}</span>
        </div>
        <div class="row px-16">
            <div class="col-xxl-3 col-md-4 mb-16" *ngFor="let item of jobs">
                <hc-job-item-card [job]="item"></hc-job-item-card>
            </div>
            <ng-container *ngIf="loading">
                <div class="col-xxl-3 col-md-4 mb-16">
                    <hc-job-item-card [isLoading]="true"></hc-job-item-card>
                </div>
                <div class="col-xxl-3 col-md-4 mb-16">
                    <hc-job-item-card [isLoading]="true"></hc-job-item-card>
                </div>
                <div class="col-xxl-3 col-md-4 mb-16">
                    <hc-job-item-card [isLoading]="true"></hc-job-item-card>
                </div>
                <div class="col-xxl-3 col-md-4 mb-16">
                    <hc-job-item-card [isLoading]="true"></hc-job-item-card>
                </div>
            </ng-container>
            <div class="text-center" *ngIf="!jobs.length && !loading">
                Không có công việc thuộc lĩnh vực này
            </div>
        </div>
        <div class="d-flex w-100 my-3 justify-content-center" *ngIf="jobs.length">
            <button class="btn btn-primary text-white fit-content bg-primary" [disabled]="loading"><a
                    [routerLink]="['/search']" [queryParams]="{career:selectedField.id}" class="text-white">Xem
                    thêm</a></button>
        </div>
    </div>
    <div class="col-xl-3 col-12 p-0 m-0 list-job">
        <div class="title pt-24 mb-8 text-center">
            <span class="fz-20 fw-bold">Các lĩnh vực có thể bạn quan tâm</span>
        </div>
        <div class="container-job d-flex d-xl-block gap-16">
            <div class="job-item" *ngFor="let item of field"
                [ngClass]="{'active': selectedField.id === item.id, 'disabled':loading}" (click)="loadJob(item)">
                {{item.fieldName}}
            </div>
        </div>
    </div>
</div>