@import "../../../../../assets/scss/helper/variable";
.list-job {
  border-left: 1px solid $border-color-base;
  .container-job {
    max-height: calc(600px - 70px);
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .job-item {
      text-align: center;
      padding: 8px;
      cursor: pointer;
      &:hover {
        background-color: $bg-secondary;
      }
      &.active {
        background-color: $bg-secondary;
        color: $primary-color;
        font-weight: bold;
      }
      &.disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: default;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .list-job {
    .container-job {
      overflow-y: hidden;
      overflow-x: auto;
      .job-item {
        width: fit-content;
        white-space: nowrap;
      }
    }
  }
}
.max-height-section {
  // max-height: 600px;
  overflow: hidden;
}
.other-job {
  padding: 16px;
  background-color: rgba(250, 250, 255);
  border: 1px solid $border-color-base;
  border-radius: 0.5rem;
  margin-top: 45px;
}
.title {
  border-bottom: 2px solid $border-color-base !important;
  width: fit-content;
  margin: auto;
  padding-bottom: 0.25rem;
}
