<div class="wrapper ">
  <div class="d-flex gap-24 mb-8" *ngIf="user$ | async; let user">
    <img src="{{(user?.avatar) | imageConvert}}" alt="" width="48" height="48"
      class="rounded-circle border border-primary avatar-left-bar">
    <div class="info" *ngIf="profile$ |async; let profile">
      <p class="fw-bold mb-8">{{ profile.fullName || user.username}}</p>
      <p class="color-third">Nhà tuyển dụng</p>
    </div>
  </div>
  <ng-container *ngIf="!loadingInfo; else loadingTemp">
    <p class="mb-8">Tài khoản xác thực: {{accountInfo.verifyStep}} <svg-icon src="/assets/images/icons/comment.svg"
        [popover]="verifyTemp" [outsideClick]="true" class="pointer {{notiClass}}" [isOpen]="isOpen"
        (onHidden)="firstTime=false;isOpen=false" #pop="bs-popover"></svg-icon>
    </p>
    <p class="mb-8">Số công việc đã tạo: {{accountInfo.totalCreatedJob}}</p>
    <p class="mb-8">Tỉ lệ ứng viên apply: {{accountInfo.candidateApplyPercentage}}%</p>
    <ng-template #verifyTemp>
      <div class="position-relative">
        {{message}}
        <button type="button" class="btn-close position-absolute" style="right: 0;top: 0;"
          (click)="isOpen=false;pop.toggle()"></button>
      </div>
      <button class="btn btn-primary m-auto fit-content bg-primary mt-16 text-white d-block" (click)="verify()">
        {{btnLabel}}
      </button>
    </ng-template>
  </ng-container>

</div>

<ng-template #loadingTemp>
  <hc-skeleton></hc-skeleton>
</ng-template>

<div class="wrapper p-0">
  <!-- <a class="item" [routerLink]="['/recruiter','dashboard']" routerLinkActive="active">
    Bảng tin
  </a> -->
  <a class="item" [routerLink]="['/recruiter','account']" routerLinkActive="active">
    Tài khoản
  </a>
  <a class="item" [routerLink]="['/recruiter','jobs']" routerLinkActive="active">
    Tin Tuyển dụng
  </a>
  <a class="item" [routerLink]="['/recruiter','find-cv']" routerLinkActive="active">
    Tìm kiếm hồ sơ
  </a>
  <a class="item" [routerLink]="['/recruiter','payment','config']" routerLinkActive="active">
    Quản lý gói dịch vụ
  </a>
  <a class="item" [routerLink]="['/recruiter','payment','package']" routerLinkActive="active">
    Báo giá
  </a>
  <a class="item" [routerLink]="['/recruiter','payment','transaction']" routerLinkActive="active">
    Lịch sử giao dịch
  </a>
</div>