@import "../../../../../assets/scss/helper/variable";
.item {
  padding: 1rem 2rem;
  color: #3e3e3e;
  width: 100%;
  display: block;
  border-bottom: 1px solid $border-color-base;
  &.active {
    background-color: $bg-primary;
    color: $primary-color;
    font-weight: bold;
  }
  &:hover {
    background-color: $bg-primary;
    font-weight: bold;
  }
}
::ng-deep {
  .panel {
    &.card {
      box-shadow: none;
      border: none;
      background-color: #fff;
      .card-header {
        background-color: #fff;
        .accordion-toggle {
          .btn-link {
            text-decoration: none;
            color: #3e3e3e;
          }
        }
      }
      .card-body {
        padding: 0;
      }
    }
    &.panel-open {
      .card-header {
        background-color: $bg-primary;
        .btn-link {
          color: $primary-color !important;
        }
      }
    }
  }
}
.error-msg {
  svg {
    path {
      stroke: red;
    }
  }
}
.success-msg {
  svg {
    path {
      stroke: green;
    }
  }
}
.avatar-left-bar {
  object-fit: cover;
}
