<div class="w-100 bg-white px-4 py-2 header-wrapper d-flex align-items-center">
  <div class="me-3">
    <a [routerLink]="['/home']" class="pointer"><img src="/assets/images/logo.png" alt="" width="56" height="56"></a>
  </div>
  <div class="flex-fill ">
    <div class="d-flex gap-16">
      <a [routerLink]="item.path" routerLinkActive="color-primary fw-bold" [fragment]="item.fragment"
        class="navigator-label text-nowrap fz-16" *ngFor="let item of navigationItem$ | async">{{item.label}}</a>
    </div>
  </div>
  <ng-container *ngIf="user$ | async; let user; else loading">
    <ng-container *ngIf="user.username;else notLogin">
      <div class="d-flex gap-16 align-items-center">
        <hc-notification [userId]="user.id"></hc-notification>
        <div class="btn-group" dropdown [insideClick]="true" placement="bottom" container="body">
          <div dropdownToggle class="d-flex gap-8 align-items-center">
            <div class="avatar">
              <img [src]="user.avatar | imageConvert" class="image-cover" alt="" width="48" height="48">
            </div>
            <span class="pointer d-none d-xl-block">{{fullName || user.username}}</span>
            <div class="pointer d-none d-xl-block">
              <svg-icon src="assets/images/icons/arrow-down.svg"></svg-icon>
            </div>
          </div>
          <ul *dropdownMenu class="dropdown-menu is-login" role="menu">
            <li role="menuitem"><a class="dropdown-item pointer "
                [routerLink]="[user.roleId === ROLE.candidate ? '/profile' : '/recruiter/account/info']">Hồ sơ</a></li>
            <li role="menuitem"><a class="dropdown-item pointer"
                [routerLink]="[user.roleId === ROLE.candidate ? '/profile/password' : '/recruiter/account/password']">Đổi
                mật khẩu</a></li>
            <li role="menuitem"><span class="dropdown-item pointer" (click)="logout()">Đăng xuất</span>
            </li>
          </ul>
        </div>
      </div>
    </ng-container>
  </ng-container>

</div>
<ng-template #notLogin>
  <div class="d-none d-xl-flex gap-16 align-items-center">
    <a class="btn btn-login fit-content d-block text-nowrap" [routerLink]="['/auth','login']">Đăng
      nhập</a>
    <a class="btn btn-register fit-content d-block text-nowrap" [routerLink]="['/auth','register']">
      Đăng ký
    </a>
  </div>
  <!-- <div>
    <svg-icon src="/assets/images/icons/three-dot-vertical.svg"></svg-icon>
  </div> -->
  <div class="btn-group d-block d-xl-none" dropdown placement="left" container="body">
    <button id="button-basic" dropdownToggle type="button" class="btn btn-none" aria-controls="dropdown-basic">
      <svg-icon src="/assets/images/icons/three-dot-vertical.svg"></svg-icon>
    </button>
    <div id="dropdown-basic" *dropdownMenu class="dropdown-menu not-login" role="menu" aria-labelledby="button-basic">
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/auth','login']"
          routerLinkActive="router-link-active">Đăng
          nhập</a></li>
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/auth','register']">Đăng ký</a></li>
    </div>
  </div>
</ng-template>
<ng-template #loading>
  <div class="d-flex flex-column">
    <ngx-skeleton-loader [theme]="{
      width: '200px',
      'border-radius': '0',
      height: '15px',
      'margin-bottom': '10px'
    }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{
      width: '200px',
      'border-radius': '0',
      height: '15px',
      'margin-bottom': '10px'
    }"></ngx-skeleton-loader>
  </div>

</ng-template>