@import "../../../../assets/scss/helper/variable";
.header-wrapper {
  border-bottom: 1px solid $border-color-base;
  .navigator-label {
    color: $text-color;
  }
  .avatar {
    border: 1px solid $primary-color;
    border-radius: 50%;
    overflow: hidden;
    width: 48px;
    height: 48px;
  }
  .notification {
    background: $bg-secondary;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    cursor: pointer;
  }
}
.btn-register {
  padding: 8px 16px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: $white;
  background-color: $primary-color;
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
}
.btn-login {
  border-radius: 100px;
  padding: 8px 16px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 14px;
  background: $bg-primary;
  border-color: $border-color-base;
  color: #191919;
  font-weight: 600;
}
::ng-deep {
  .dropdown-menu {
    &.not-login {
      right: -27px;
      top: 16px;
    }
    &.is-login {
      right: -27px;
    }
  }
}
