.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
    height: 0;
    visibility: hidden;
  }
}
.messages {
  @extend .clearfix;
  margin-bottom: 10px;
  &--received {
    .message {
      float: left;
      background-color: #ddd;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      &:first-child {
        border-top-left-radius: 15px;
      }
      &:last-child {
        border-bottom-left-radius: 15px;
      }
    }
  }
  &--sent {
    .message {
      float: right;
      background-color: #1998e6;
      color: #fff;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      &:first-child {
        border-top-right-radius: 15px;
      }
      &:last-child {
        border-bottom-right-radius: 15px;
      }
    }
  }
}
.message {
  display: inline-block;
  margin-bottom: 2px;
  clear: both;
  padding: 7px 13px;
  font-size: 12px;
  border-radius: 15px;
  line-height: 1.4;
  &--thumb {
    background-color: transparent !important;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 20px;
    height: 20px;
    border-radius: 0px !important;
  }
}
