<div class="messages messages--received">
  <div class="message">This codepen is an exemple of</div>
  <div class="message">how to create the Facebook thumb up</div>
</div>
<div class="messages messages--sent">
  <div class="message">Try to type</div>
  <div class="message">or click the thumb up!</div>
  <div class="message">;)</div>
</div>
<div class="messages messages--received">
  <div class="message">Enjoy!</div>
</div>