<div class="d-flex flex-column">
  <ngx-skeleton-loader [theme]="{
    width: '60%',
    'border-radius': '0',
    height: '10px',
    'margin-bottom': '10px'
  }"></ngx-skeleton-loader>
  <ngx-skeleton-loader [theme]="{
    width: '30%',
    'border-radius': '0',
    height: '10px',
    'margin-bottom': '10px'
  }"></ngx-skeleton-loader>
  <ngx-skeleton-loader [theme]="{
    width: '100%',
    'border-radius': '0',
    height: '10px',
    'margin-bottom': '10px'
  }"></ngx-skeleton-loader>
  <ngx-skeleton-loader [theme]="{
    width: '70%',
    'border-radius': '0',
    height: '10px',
    'margin-bottom': '10px'
  }"></ngx-skeleton-loader>
</div>