:host {
  width: 100%;
}
::ng-deep {
  .carousel-control {
    display: none;
  }
  .carousel-indicators {
    [data-bs-target] {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #b2b6ff;
    }
  }
}
