<carousel>
  <slide *ngFor="let item of banner">
    <div class="d-flex w-100 justify-content-center {{displayPosition}}">
      <img src="{{item.imageUrl | imageConvert: 'banner'}}" alt="" class="w-100">
    </div>
  </slide>
</carousel>
<!-- <div class="d-flex w-100 justify-content-center {{displayPosition}}" *ngIf="!banner.length">
  <img src="{{null | imageConvert: false : true}}" alt="" class="w-100">
</div> -->