<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <div class="container">
    <div class="justify-content-center row">
      <div class="col-6">
        <div class="clearfix">
          <h1 class="float-start display-3 me-4">404</h1>
          <h4 class="pt-3">Oops!</h4>
          <p class="text-medium-emphasis float-start">
            Trang bạn tìm không tồn tại vể <a [routerLink]="['/home']" routerLinkActive="router-link-active">Trang
              chủ</a>.
          </p>
        </div>

      </div>
    </div>
  </div>
</div>