@import "../../../../../assets/scss/helper/variable";
.block-container {
  background: #fff;
  border-radius: 4px;
  margin-bottom: 24px;
  padding: 16px;
  border: 1px solid #b7a5e159;
  &.hide {
    display: none;
  }
  &.show {
    display: block;
  }
}
