<div class=" ">
  <div class="row" *ngIf="!loading; else loadingTemple">
    <ng-container *ngIf="candidateProfile$ | async; let profile">
      <div class="col-lg-8 " *ngIf="cv && cv.id; else createCv">
        <div class="block-container">
          <hc-profile-header [listDropdown]="listDropdown" (addNewField)="addNewField($event)"></hc-profile-header>
        </div>
        <div class="block-container">
          <hc-profile-intro [profile]="profile"></hc-profile-intro>
        </div>
        <div class="block-container">
          <hc-profile-cv-education [data]="cv.educations" [cvId]="cv.id" #edu
            (onDataChange)="updateDataFiled('educations',$event)">
          </hc-profile-cv-education>
        </div>
        <div class=" block-container">
          <hc-profile-cv-skill #skill [data]="cv.majorLevels" [cvId]="cv.id"
            (onDataChange)="updateDataFiled('majorLevels',$event)">
          </hc-profile-cv-skill>
        </div>
        <div class=" block-container">
          <hc-profile-cv-other-skill [data]="cv.otherSkills" [cvId]="cv.id" #other
            (onDataChange)="updateDataFiled('otherSkills',$event)">
          </hc-profile-cv-other-skill>
        </div>
        <div class="block-container">
          <hc-profile-cv-certificate #cer [data]="cv.certificates" [cvId]="cv.id"
            (onDataChange)="updateDataFiled('certificates',$event)">
          </hc-profile-cv-certificate>
        </div>
        <div class="block-container">
          <hc-profile-cv-language #lang [data]="cv.languages" [cvId]="cv.id"
            (onDataChange)="updateDataFiled('languages',$event)">
          </hc-profile-cv-language>
        </div>
        <div class=" block-container">
          <hc-profile-cv-description #des [data]="[cv.summary]" [cvId]="cv.id"
            (onDataChange)="updateDataFiled('summary',$event)">
          </hc-profile-cv-description>
        </div>
        <div class="block-container">
          <hc-profile-cv-work-experience [data]="cv.workExperiences" [cvId]="cv.id" #exp
            [totalExp]="cv.totalExperienceYear" (onDataChange)="updateDataFiled('workExperiences',$event)">
          </hc-profile-cv-work-experience>
        </div>
      </div>
      <div class="col-lg-4 " *ngIf="cv && cv.id">
        <div class="block-container">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [(ngModel)]="profile.needJob"
              (ngModelChange)="updateNeedJob(profile.id)">
            <label class="form-check-label" for="flexSwitchCheckChecked">Trạng thái tìm việc đang
              {{profile.needJob?'mở':'tắt'}}</label>
          </div>
          <span class="fz-12 color-third">Khi mở, CV của bạn sẽ được đưa đến nhiều nhà tuyển dụng hơn</span>
        </div>
        <div class="block-container" *ngIf="profile.id && cv.id">
          <hc-profile-cv-viewer [cvId]="cv.id" [candidateId]="profile.id"></hc-profile-cv-viewer>
        </div>
        <!-- <div class="mb-16">
          <hc-advertisement-job-campaign></hc-advertisement-job-campaign>
        </div>
        <div>
          <hc-advertisement-job-campaign></hc-advertisement-job-campaign>
        </div> -->
      </div>
      <ng-template #createCv>
        <div class="text-center col-8">
          <span class="fz-24 fw-bold">Bạn chưa có CV nào, hãy tiến hành tạo nào!</span>
          <button class="btn btn-primary bg-primary text-white fit-content ml-8" (click)="createCV(profile.id)">Tạo
            CV</button>
        </div>
      </ng-template>
    </ng-container>
  </div>
</div>

<ng-template #loadingTemple>
  <div class="block-container">
    <hc-post-skeleton></hc-post-skeleton>
  </div>
</ng-template>