.auth-form {
  max-width: 510px;
  .social-group {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    &__item {
      display: flex;
      border: 1px solid $border-color-base;
      align-items: center;
      gap: 8px;
      padding: 8px 16px;

      &:hover {
        background: $primary-color;
        .text,
        .google,
        .linkedin {
          color: $white;
        }
      }
    }
  }
  .divider {
    text-align: center;
    border-color: #eaedf5;
    position: relative;
    margin: 16px 0;
    &::before {
      right: calc(50% + (50px / 2));
      width: 100%;
    }
    &::after {
      left: calc(50% + (50px / 2));
      width: 100%;
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      max-width: calc(50% - (50px / 2));
      border-bottom: 1px solid #e5e5e5;
    }
  }
}
.google {
  color: rgb(253, 57, 57);
  font-size: 24px;
}
.linkedin {
  color: rgb(59, 59, 255);
  font-size: 24px;
}
.system {
  color: $primary-color;
  font-size: 24px;
}
.login-wrapper {
  min-width: 441px;
  min-height: 592px;
  background: #ffffff;
  box-shadow: 16px 16px 8px 8px rgb(190 173 225 / 50%);
  border-radius: 8px;
  padding: 32px;
  border: none;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: none;
    .title {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #000;
      white-space: nowrap;
    }
  }
  .divider-wrapper {
    padding: 24px 0;
    display: flex;
    align-items: center;
    gap: 8px;
    .divider {
      flex: 1;
    }
  }
  .disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}
@media screen and (max-width: 1024px) {
  .login-wrapper {
    min-width: 350px;
    min-height: unset;
  }
}
