.candidate {
  .wrapper {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: $border-radius-base;
    background: #ffffff;
    padding: 16px;
    margin-bottom: 48px;
  }
  .block-title {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 4px solid #451da03b;
    margin: 0;
    width: fit-content;
    margin-bottom: 16px;
  }
}
