// @media (min-width: 767px) {
//   .container-xl,
//   .container-lg,
//   .container-md,
//   .container-sm,
//   .container {
//     max-width: 1396px;
//   }
// }
.header-menu {
  margin: 0 auto;
  max-width: 200px;
  p {
    display: flex;
    align-items: center;
  }
  .icon {
    height: 40px;
    width: 40px;
    background: #f5f5f5;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    margin-right: 8px;
    svg-icon {
      color: $color-third;
      display: flex;
      align-items: center;
    }
    &.hasNotificaion {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        background: #ff6da1;
        border-radius: 50%;
        top: 0;
        right: 0;
      }
    }
  }
  li {
    list-style: none;
    padding: 8px 0;
    color: $color-third;
    &.active {
      color: $primary-color;
      font-weight: bold;
      svg-icon {
        color: $primary-color;
      }
      .icon {
        background: $bg-secondary;
      }
    }
    &:hover {
      cursor: pointer;
      color: $primary-color;
      svg-icon {
        color: $primary-color;
      }
      .icon {
        background: $bg-secondary;
      }
    }
  }
}
.button-header-menu {
  max-width: 296px;
  margin: 8px auto 56px;
}
.left-sidebar {
  .my-account {
    overflow: hidden;
    .info {
      overflow: hidden;
    }
  }
}
.my-account {
  display: flex;
  max-width: 296px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto 56px;
  // overflow: hidden;
  .info {
    flex: 1;
    margin-left: 12px;
    // overflow: hidden;
  }
  .name {
    font-weight: bold;
    color: #000000;
    line-height: 32px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .extra-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      font-size: 12px;
      line-height: 15px;
      color: $color-third;
    }
    .icon {
      color: $color-third;
    }
  }
  .avatar {
    border: 0;
    border-radius: 50%;
    img {
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
.left-sidebar {
  position: sticky;
  left: 0;
  right: 0;
  height: 100vh;
  overflow-y: auto;
  margin: 0 auto;
  top: 0;
  margin: 0 -15px;
  // border-right: 1px solid #eeeeee;
  z-index: 999;
  @media (max-width: 991px) {
    padding: 8px;
  }
  @media (max-width: 767px) {
    height: auto;
  }
}
.btn-none {
  background: transparent;
  border: 0;
}
.right-sidebar {
  position: sticky;
  left: 0;
  right: 0;
  height: 100vh;
  overflow-y: auto;
  top: 0;
  margin: 0 -15px;
  border-left: 1px solid #eeeeee;
  z-index: 999;
  padding: 32px;
  background: #fafafa;
  @media (max-width: 991px) {
    padding: 8px;
  }
  @media (max-width: 767px) {
    height: auto;
  }
  .search-box {
    display: flex;
    background: #f5f5f5;
    border-radius: 8px;
    margin-bottom: 40px;
    input {
      background: #f5f5f5;
      border: 0;
      padding: 15px 16px;
      width: 100%;
      border-radius: 8px;
      font-size: 14px;
      line-height: 18px;
      &::placeholder {
        color: #ccc;
      }
    }
    button {
      padding: 0 16px;
    }
  }
  &.right-sidebar-new {
    overflow: visible;
  }
}

.sub-header {
  padding: 24px 32px;
  margin: 0 -15px 0;
  border: 1px solid #eee;
  border-width: 0 1px 1px 0;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 8;
  display: flex;
  align-items: center;
}
.main-content {
  background: #f5f5f5;
  margin: 0 -15px;
  padding: 16px;
}
.story-list {
  padding: 0 10px;
  position: relative;
  margin: 0 -2px 18px;
  @media (max-width: 767px) {
    padding: 0;
    margin: 0 0 18px;
  }
  .btn-link-story {
    position: absolute;
    right: 0px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
  }
  .story-items {
    padding: 4px;
    &.active {
      .story-item {
        border: 2px solid $primary-color;
        img {
          border: 0;
        }
        .story-author {
          bottom: 12px;
          left: 50%;
          transform: translateX(-50%);
          right: auto;
        }
      }
    }
  }
  .story-item {
    width: 114px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    &:after {
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 0.3);
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      z-index: 0;
    }
    .story-image {
      img {
        border: 1px solid #eeeeee;
        border-radius: 8px;
        height: 140px;
        object-fit: cover;
        width: 100%;
      }
    }
    .story-author {
      display: flex;
      flex-flow: row;
      align-items: center;
      position: absolute;
      bottom: 8px;
      color: #fff;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: -0.017em;
      left: 8px;
      right: 8px;
      cursor: pointer;
      z-index: 2;
      justify-content: flex-start;
      img {
        border: 1px solid $primary-color;
        min-width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-right: 4px;
      }
    }
  }
}
.btn-create-story {
  background: $primary-color;
  border-radius: 16px;
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  min-width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  svg-icon {
    margin-right: 7px;
  }
}
.follow-section {
  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    align-items: flex-start;
  }
}
.follow-list {
  background: #f5f5f5;
  border-radius: 8px;
  padding: 24px 16px;
  max-height: 70vh;
  overflow: scroll;
  button {
    font-weight: bold;
  }
  .follow-item {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin: 0 auto 24px;
    align-items: center;
    flex-flow: row wrap;
    button {
      font-size: 12px;
      line-height: 15px;
    }
  }
  .user-acount {
    display: flex;
    flex: 1;
    width: calc(100% - 67px);
    .info {
      flex: 1;
      margin-left: 8px;
      color: initial;
    }
    .name {
      font-weight: bold;
      line-height: 19px;
      display: flex;
    }
    .extra-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        font-size: 12px;
        line-height: 15px;
        color: #ccc;
      }
    }
    .avatar {
      border-radius: 50%;
      img {
        border-radius: 50%;
      }
    }
  }
  .view-more {
    font-size: 14px;
    border-top: 1px solid #eeeeee;
    margin-top: -8px;
    padding-top: 16px;
  }
}
.text-ellipsis {
  white-space: nowrap;
  max-width: 112px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  @media (max-width: 991px) {
    max-width: 50%;
  }
}
.create-post {
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 16px 16px 8px;
  &__header {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 8px;
    display: flex;
    input {
      border: 0;
      width: 100%;
      margin-left: 8px;
      font-size: 14px;
      &::placeholder {
        color: #888888;
      }
    }
    .author-post {
      border-radius: 50%;
      border: 2px solid $primary-color;
      img {
        border-radius: 50%;
      }
    }
  }
  &__action {
    display: flex;
    justify-content: space-between;
    @media (max-width: 991px) {
      flex-flow: column;
      align-items: center;
    }
    button {
      width: calc(33.3333% - 4px);
      margin-top: 8px;
      @media (max-width: 991px) {
        width: 100%;
        max-width: 165px;
        font-size: 12px;
        padding: 4px 0;
      }
    }
  }
}
.post-list {
  .post-item {
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
  }
  .my-account {
    max-width: 100%;
    width: 100%;
    justify-content: flex-start;
    margin: 0 auto 16px;
    align-items: flex-start;
    .avatar {
      border: 0;
    }
    .info {
      position: relative;
      .nav-item {
        display: inline-block;
        &:hover {
          .dropdown-menu {
            display: block;
            top: 20px;
            box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px,
              rgb(101 119 134 / 15%) 0px 0px 3px 1px;
            border: 0;
            max-width: 300px;
            width: 100%;
            padding: 16px;
            min-width: 275px;
          }
        }
      }
      .dropdown-menu {
        font-size: 14px;
        word-break: break-word;
        .avatar {
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          button {
            width: 146px;
            &.followed {
              background: $primary-color;
              color: #fff;
            }
          }
        }
        p {
          font-size: 14px;
        }
        a {
          color: #333;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
    .name {
      color: #3e3e3e;
      font-size: 14px;
      line-height: 21px;
    }
    .extra-info {
      p {
        color: #ccc;
      }
    }
  }
  .time {
    color: #ccc;
    font-size: 14px;
    padding: 16px 0 8px;
    border-bottom: 1px solid #eeeeee;
  }
  .intro {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    word-break: break-word;
    &.show {
      -webkit-line-clamp: unset;
    }
  }
}
.comment-section {
  font-size: 14px;
  p {
    font-size: 14px;
  }
  .action-group {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    @media (max-width: 991px) {
      padding: 16px 8px;
    }
    border-bottom: 1px solid #eeeeee;
    button:hover {
      color: $primary-color;
    }
    .icon {
      margin-right: 11px;
    }
    > div {
      button {
        margin-right: 40px;
        @media (max-width: 991px) {
          margin-right: 16px;
        }
      }
    }
    .btn-none {
      &.active {
        color: #ff6da1;
        svg {
          fill: #ffe9f1;
        }
        &.btn-save {
          color: $primary-color;
        }
      }
    }
  }
  .count-like-comment {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 8px;
    .count-like {
      display: flex;
      .avatar {
        img {
          border-radius: 50%;
          border: 1px solid #fff;
          &:not(:first-of-type) {
            margin-left: -4px;
          }
        }
      }
      p {
        margin-left: 4px;
        flex: 1;
      }
    }
    .count-comment {
      color: $color-third;
    }
  }
}
.comment-item {
  &--top {
    background: #fafafa;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    position: relative;

    .avatar {
      margin-right: 8px;
      img {
        border-radius: 50%;
      }
    }
    .name {
      line-height: 20px;
    }
    .number-like {
      background: #ffffff;
      border: 1px solid #eeeeee;
      box-sizing: border-box;
      border-radius: 20px;
      display: flex;
      position: absolute;
      bottom: -10px;
      font-size: 12px;
      right: 8px;
      line-height: 22px;
      padding: 0 10px;
      svg-icon {
        color: #ff6da1;
        margin-right: 4px;
        svg {
          fill: #ffe9f1;
          width: 16px;
          height: 14px;
        }
      }
    }
    .content {
      width: calc(100% - 40px);
    }
  }
  &--bottom {
    display: flex;
    padding: 4px 32px;
    @media (max-width: 991px) {
      padding: 4px 16px;
    }
    button {
      font-size: 12px;
      font-weight: bold;
      &.btn-none {
        &.active {
          color: #ff6da1;
        }
      }
      @media (max-width: 991px) {
        margin-right: 16px !important;
      }
    }
    .time-comment {
      color: #ccc;
      font-size: 12px;
    }
  }
  &.comment-reply {
    padding-left: 48px;
    position: relative;
    .objective-add-first-key-result-line {
      border-bottom: 2px solid #eee;
      border-bottom-left-radius: 8px;
      border-left: 2px solid #eee;
      height: 50%;
      left: 22px;
      position: absolute;
      top: -12px;
      width: 16px;
      @media (max-width: 991px) {
        top: 0;
      }
    }
  }
}
.create-subcomment {
  border-top: 1px solid #eeeeee;
  padding-top: 8px;
  margin-top: 16px;
  position: relative;
  &__upper {
    margin-top: 0;
    margin-bottom: 24px;
  }
  &__reply {
    margin-top: 0;
    border-top: none;
    padding: 8px 0;
    padding-left: 24px;
  }
  .create-post__header {
    background: #fafafa;
    border: 1px solid #eeeeee;
    padding: 5px 8px;
    border-radius: 8px;
    input {
      background: transparent;
      padding-right: 32px;
      &::placeholder {
        color: #ccc;
      }
    }
  }
  .emotion {
    position: absolute;
    z-index: 99;
    right: 16px;
    top: calc(50% + 4px);
    transform: translateY(-50%);
  }
}
.post-image {
  margin-top: 16px;
  position: relative;
  .btn-delete {
    position: absolute;
    right: 16px;
    top: 16px;
    display: none;
    border-radius: 50%;
    padding: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fafafa;
    z-index: 1;
  }
  img,
  video {
    width: 100%;
    border-radius: 8px;
  }
  &:hover {
    .btn-delete {
      display: inline-block;
    }
  }
}
.post-video {
  margin-top: 16px;
  video {
    width: 100%;
  }
}
.post-vote {
  margin-top: 16px;
  color: #000;
  font-size: 14px;
  .bar {
    width: 100%;
    position: relative;
    display: flex;
    margin-top: 4px;
    align-items: center;
    .text {
      background: #eeeeee;
      border-radius: 8px;
      padding: 8px;
      margin-right: 16px;
      line-height: 24px;
    }
    &.max {
      .text {
        font-weight: bold;
        background: $bg-secondary;
        color: $primary-color;
        .icon {
          margin-left: 8px;
        }
      }
    }
  }
}
.post-doc {
  background: #f5f5f5;
  border: 1px dashed #cccccc;
  border-radius: 8px;
  padding: 16px;
  margin-top: 16px;
  .content {
    // overflow: hidden;
    // text-overflow: ellipsis;
    display: -webkit-box;
    // -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    > *:not(:last-of-type) {
      margin-bottom: 16px;
    }
    textarea {
      background-color: transparent;
    }
  }
}
.extra-post-doc {
  display: flex;
  position: relative;
  margin-bottom: -32px;
  justify-content: flex-end;
  padding-top: 8px;
  .amount {
    background: #eeeeee;
    border-radius: 24px;
    font-size: 12px;
    color: $color-third;
    padding: 4px 8px;
    margin-right: 8px;
    line-height: 16px;
  }
  .note-pay {
    background: $bg-secondary;
    border-radius: 24px;
    font-size: 12px;
    color: $primary-color;
    padding: 4px 16px;
    line-height: 16px;
  }
}
.lock {
  position: relative;
  min-height: 300px;
  overflow: hidden;
  border-radius: 8px;
  .backdrop-photo {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    left: 0;
    bottom: 00;
    border-radius: 8px;
    z-index: 9;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    font-size: 14px;
    ~ * {
      filter: blur(10px);
    }
    &--bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #000000;
      color: #fff;
      padding: 16px;
      border-radius: 0 0 8px 8px;
      @media (max-width: 991px) {
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      p {
        font-size: 14px;
      }
      button {
        max-width: 213px;
        @media (max-width: 991px) {
          margin-top: 8px;
        }
      }
    }
    &--top p {
      background: rgba(0, 0, 0, 0.8);
      border-radius: 8px;
      color: #fff;
      display: inline-block;
      padding: 4px 10px;
      margin: 16px;
      font-size: 14px;
      line-height: 19px;
    }
    &--center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media (max-width: 991px) {
        position: static;
        top: auto;
        left: auto;
        transform: none;
        text-align: center;
      }
    }
  }
}

.more-action {
  button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    &:hover {
      color: $primary-color;
      background: $bg-primary;
    }
  }
  .dropdown-item {
    display: flex;
    align-items: flex-start;
    padding: 8px 16px;
    border-radius: 8px;
    width: 100%;
    .note {
      color: #ccc;
      font-size: 12px;
      line-height: 15px;
    }
    &:hover,
    &:focus {
      background: $bg-primary;
      color: $color-secondary;
    }
  }
  .dropdown-menu {
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px 8px;
  }
}
@media (min-width: 768px) {
  .isMobile {
    display: none;
  }
}
@media (max-width: 767px) {
  .isDesktop {
    display: none;
  }
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.width-auto {
  width: auto;
}
::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 8px;
}
.main-account {
  min-height: calc(100% - 73px);
  background: #f5f5f5;
  &--right {
    background: #fafafa;
    margin-top: 16px;
    margin-left: -16px;
    border: 1px solid #eeeeee;
    min-height: 761px;
    border-radius: 0 8px 8px 0;
    margin-bottom: 60px;
    padding: 24px 32px;
    @media (max-width: 1199px) {
      padding: 16px;
    }
    @media (max-width: 767px) {
      margin-left: 0;
    }
  }
  .account-side-bar {
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    border-radius: 8px 0 0 8px;
    margin: 16px 0;
    padding: 16px;
    margin-right: -16px;
    @media (max-width: 767px) {
      margin-right: 0;
      border-radius: 8px;
    }
    a {
      display: flex;
      align-items: center;
      color: $color-third;
      border-radius: 8px;
      padding: 4px;
      font-size: 14px;
      &.active,
      &:hover {
        color: $primary-color;
        background: rgba(154, 96, 249, 0.1);
        font-weight: bold;
        svg-icon {
          color: $primary-color;
        }
        .icon {
          background: transparent;
        }
      }
      &:hover {
        font-weight: normal;
      }
    }
    .icon {
      height: 40px;
      width: 40px;
      background: #f5f5f5;
      display: inline-flex;
      text-align: center;
      justify-content: center;
      border-radius: 50%;
      align-items: center;
      margin-right: 8px;
      svg-icon {
        color: $color-third;
        display: flex;
        align-items: center;
      }
    }
  }
}

.bg-main {
  background: #f5f5f5;
}
.dropdown-search {
  box-shadow: 0px 6px 10px rgb(0 0 0 / 6%);
  border-radius: 8px;
  border: 0;
  min-width: auto;
  width: 420px;
  padding: 16px 8px;
  @media (max-width: 480px) {
    width: calc(100% - 32px);
  }
  .nav-pills {
    padding: 4px;
    background: #f5f5f5;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    border-radius: 100px;
    justify-content: space-between;
    flex-flow: row;
    .nav-item {
      width: 25%;
    }
    .nav-link {
      font-weight: bold;
      font-size: 12px;
      color: $color-third;
      border-radius: 100px;
      padding: 7px 8px;
      text-align: center;
      white-space: nowrap;
      &.active {
        background: $primary-color;
        color: #fff;
      }
    }
  }
  .tab-content {
    padding: 16px;
    h3 {
      font-size: 20px;
      font-weight: bold;
    }

    .form-search {
      margin: 0;
      padding: 0;
    }
  }
  .btn.btn-search-all {
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.hashtag-post {
  margin-top: 8px;
  a {
    color: $primary-color;
    text-decoration: none;
    margin-right: 4px;
  }
}
.tag {
  a {
    color: $color-secondary;
  }
}
.has-two-image {
  display: flex;
  margin: 0 -8px;
  > * {
    margin: 0 8px;
    flex-basis: 50%;
    img {
      height: 155px;
      object-fit: cover;
    }
  }
}
.has-three-image {
  display: grid;
  grid-template-columns: 13% auto auto;
  grid-gap: 8px;
  margin-top: 16px;
  > *:first-child {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    .post-image img {
      height: 210px;
      object-fit: cover;
      @media (max-width: 480px) {
        height: 50vw;
      }
    }
  }
  .post-image {
    margin-top: 0px;
    img {
      height: 98px;
      object-fit: cover;
      @media (max-width: 480px) {
        height: 24vw;
      }
    }
  }
}

.has-four-image {
  display: grid;
  grid-template-columns: 13% auto auto;
  grid-gap: 8px;
  margin-top: 16px;
  > *:first-child {
    grid-row: 1 / span 3;
    grid-column: 1 / span 2;
    .post-image img {
      height: 310px;
      object-fit: cover;
      @media (max-width: 480px) {
        height: 50vw;
      }
    }
  }
  .post-image {
    margin-top: 0px;
    img {
      height: 98px;
      object-fit: cover;
      @media (max-width: 480px) {
        height: 15vw;
      }
    }
  }
}
.has-more-image {
  display: grid;
  grid-template-columns: 50% calc(25% - 8px) calc(25% - 8px);
  grid-gap: 8px;
  margin-top: 16px;
  position: relative;
  > *:first-child {
    grid-row: 1 / span 3;
    grid-column: 1 / span 2;
    .post-image img {
      height: 310px;
      object-fit: cover;
      @media (max-width: 480px) {
        height: 50vw;
      }
    }
  }
  .post-image {
    margin-top: 0px;
    img {
      height: 98px;
      object-fit: cover;
      @media (max-width: 480px) {
        height: 15vw;
      }
    }
  }
  .bg-more-img {
    position: absolute;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    right: 0;
    bottom: 0;
    width: calc(25% - 8px);
    height: 98px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    z-index: 9;
    @media (max-width: 480px) {
      height: calc(17vw - 6px);
      font-size: 24px;
    }
  }
}
.followFee {
  margin: 16px -32px 0;
  @media (max-width: 991px) {
    margin: 16px -16px 0;
  }
  > .btn.btn-none {
    border: 0;
    border-top: 1px solid #eee;
    border-width: 1px 0;
    border-radius: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 32px !important;
    text-align: left;
    @media (max-width: 480px) {
      padding-left: 16px !important;
    }
    &[aria-expanded="false"] {
      svg-icon {
        transform: rotate(180deg);
      }
    }
  }
  .followCollapse {
    text-align: center;
    background: #fafafa;
    padding: 16px 16px 0;
    border-top: 1px solid #eee;
    .color-third {
      b {
        color: #3e3e3e;
      }
    }
    > p {
      max-width: 586px;
      margin: 0 auto;
    }
    .multi-collapse {
      @media (max-width: 480px) {
        margin: 0 -8px;
      }
      .discount {
        background: #ff6da1;
        border-radius: 8px;
        font-size: 10px;
        line-height: 16px !important;
        color: #fff;
        width: 48px !important;
        margin: 0 auto;
      }
      button {
        max-width: 107px;
        margin: 8px auto 0;
      }
      > div {
        padding: 24px 8px;
        display: flex;
        flex-flow: column;
        @media (max-width: 480px) {
          width: calc(33.333% - 4px);
        }
        p {
          line-height: 24px;
          margin-bottom: 8px;
        }
      }
      .fz-20 {
        flex: 1;
      }
    }
  }
}

.modal-livestream {
  .option {
    display: flex;
    align-items: center;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 5%);
    border-radius: 8px;
    padding: 16px 32px;
    margin-bottom: 16px;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0;
    }
    .img {
      background: #f0e8fe;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      margin-right: 24px;
    }
    .name {
      font-weight: bold;
    }
    .extra-info p {
      font-weight: 400;
      font-size: 14px;
      color: #7e7e7e;
    }
  }
}
.modal-livestream2 {
  .type-of-setup {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 16px;
    button {
      background: #f0e8fe;
      width: 48px;
      height: 48px;
      color: $primary-color;
      border-radius: 50%;
      margin: 0 4px 8px;
    }
    &--rasing {
      padding-top: 12px;
      .time {
        padding: 14px 16px;
        background: #f7f7f7;
        border-radius: 8px;
        color: #c4c4c4;
        input {
          width: 100%;
          border: none;
          background: transparent;
          outline: none;
        }
      }
    }
    &--disable {
      background: #f5f5f5;
      border-radius: 8px;
      padding: 16px;
      .btn {
        background: transparent;
        padding: 0 8px;
        width: auto;
        height: auto;
        color: #ed3b3b;
      }
    }
  }
  .type-of-post {
    > div {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #eeeeee;
      padding: 16px 0;
    }
  }
  .modal-footer {
    border: 0;
    padding: 0 24px 24px;
  }
}
.home {
  .wrapper {
    background-color: rgba(250, 250, 255) !important;
  }
}
