.profile-page {
  .custom-select {
    border-radius: 0;
    border: 0;
    color: #3e3e3e;
    background: transparent url(../../images/icons/arrowdown.svg)
      calc(100% - 8px) center no-repeat;
    outline: none;
    text-align: right;
    width: auto;
    box-shadow: none;
  }
  .banner {
    background: #fff;
    margin: -15px;
    .cover-banner {
      height: 200px;
      position: relative;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        object-fit: cover;
        width: 100%;
        object-position: center;
        height: 100%;
      }
      .btn-upload {
        display: none;
        position: absolute;
        right: 24px;
        bottom: 8px;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 24px;
        padding: 12px 16px;
        border: none;
        svg {
          margin-right: 8px;
          margin-left: 3px;
        }
      }
      &:hover {
        .btn-upload {
          display: flex;
          align-items: flex-end;
        }
      }
    }
    .avatar-banner {
      width: 150px;
      height: 150px;
      border: 4px solid $primary-color;
      position: relative;
      border-radius: 50%;
      margin-top: -118px;
      margin-left: 40px;
      margin-bottom: 16px;
      @media (max-width: 991px) {
        margin-left: 16px;
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
      .btn-change-ava {
        position: absolute;
        padding: 0;
        bottom: -4px;
        right: 0;
        background: #f5f5f5;
        border: 2px solid #ffffff;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        color: $primary-color;
        svg-icon {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .info-my-profile {
      padding: 0 32px;
      @media (max-width: 991px) {
        padding: 0 16px;
      }
      .username {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        @media (max-width: 991px) {
          flex-flow: column;
          align-items: flex-start;
          .btn {
            margin-top: 8px;
          }
        }
        .btn-third {
          width: auto;
          display: flex;
          align-items: center;
          svg-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            &.icon-arrow {
              transform: rotate(0deg);
            }
          }
          &.collapsed {
            svg-icon {
              &.icon-arrow {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
}
.nav-tabs {
  margin: 16px -15px 15px;
  background: #fff;
  padding: 0 16px;
  min-height: 58px;
  border-top: 1px solid #eeeeee;
  .nav-link {
    border: 0;
  }
  .nav-item {
    a {
      color: #888888;
      font-size: 14px;
      font-weight: 400;
      padding: 21px 16px 16px;
    }
  }
  .nav-link.active,
  .nav-item.show .nav-link {
    color: $primary-color;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    background: transparent;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      height: 4px;
      width: calc(100% - 48px);
      background: $primary-color;
      top: -3px;
      left: 50%;
      border-radius: 8px;
      transform: translateX(-50%);
    }
  }
}
.btn-edit {
  background: #fafafa;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 0;
  height: 40px;
  width: 42px;
  color: $primary-color;
  svg-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.multi-collapse {
  display: flex;
  justify-content: space-between;
  > div {
    width: calc(33.333% - 10px);
    border: 1px solid #eeeeee;
    background: #fff;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 24px;
    p {
      line-height: 32px;
    }
  }
}

.create-post-page {
  background: #fff;
  margin: -15px;
  .create-new-post {
    margin: 0 10px;
    border-bottom: 1px solid #eeeeee;
    padding: 28px 30px 17px;
    @media (max-width: 480px) {
      padding-left: 0;
      padding-right: 0;
    }
    textarea,
    .chat-box {
      width: 100%;
      border: 0;
      outline: none;
      min-height: 48px;
      margin-bottom: 16px;
      &::placeholder {
        color: $color-third;
      }
    }
    .actions {
      border: 1px solid #eeeeee;
      box-sizing: border-box;
      border-radius: 8px;
      padding: 7px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 480px) {
        flex-flow: column;
      }
      .action-button-group {
        button {
          margin-left: 16px;
          @media (max-width: 480px) {
            margin-left: 8px;
            margin-right: 8px;
            margin-top: 8px;
          }
        }
      }
    }
    .post-doc {
      .btn-group {
        background: #eeeeee;
        border: 1px solid #cccccc;
        border-radius: 8px;
        padding: 2px 16px 4px;
      }
    }
  }
  .type-of-post {
    margin: 0 10px;
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #eeeeee;
      padding: 20px 30px;
      &:first-child {
        border-top: 0;
      }
      p {
        line-height: 24px;
      }
      &.cost-to-unlock {
        background: #f5f5f5;
        border-radius: 8px;
        padding: 8px 30px;
        margin: -8px 20px 16px;
        border: 0;
        @media (max-width: 1199px) {
          margin: -8px 0 16px;
          padding: 8px 16px;
        }
        .input-group {
          .form-control {
            width: 100px;
            background: #ffffff;
            border: 1px solid #eeeeee;
            border-radius: 8px 0 0 8px;
            font-size: 14px;
            height: 40px;
            font-weight: bold;
            color: #333;
            text-align: right;
            padding-right: 0;
            border-right: 0;
            box-shadow: none;
          }
          .input-group-text {
            background: #fff;
            border: 1px solid #eeeeee;
            border-width: 1px 1px 1px 0;
            border-radius: 0 8px 8px 0;
            padding: 5px 8px;
            color: #888;
            font-weight: bold;
            font-size: 14px;
          }
        }
      }
      @media (max-width: 480px) {
        padding-left: 0;
        padding-right: 17px;
      }
    }
  }
}

.switch-toggle {
  position: relative;
  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    &:checked ~ label .can-toggle__switch:after {
      transform: translate3d(100px, 0, 0);
      content: attr(data-checked);
    }
    &:checked ~ label .can-toggle__switch:before {
      content: attr(data-unchecked);
      left: -32px;
    }
  }
  label {
    font-size: 12px;
    font-weight: bold;
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    .can-toggle__switch {
      height: 32px;
      flex: 0 0 206px;
      border-radius: 60px;
      transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1);
      background: #f5f5f5;
      position: relative;
      &:before {
        content: attr(data-checked);
        position: absolute;
        top: 0;
        text-align: center;
        left: 60px;
        font-size: 12px;
        line-height: 32px;
        width: 174px;
        color: $color-third;
      }

      &:after {
        content: attr(data-unchecked);
        position: absolute;
        z-index: 5;
        text-align: center;
        background: $primary-color;
        transform: translate3d(0, 0, 0);
        top: 4px;
        left: 4px;
        border-radius: 30px;
        width: 99px;
        line-height: 24px;
        font-size: 13px;
        transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
        color: #fff;
      }
      &.disabled {
        pointer-events: none;
        &::after {
          opacity: 0.6;
        }
      }
    }
  }
}
.intro-profile {
  background: #ffffff;
  border-radius: 8px;
  padding: 24px;
  position: relative;
  .btn-edit {
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 1;
  }
  .quote {
    background: #f5f5f5;
    border-radius: 8px;
    padding: 40px;
    text-align: center;
    position: relative;
    margin-bottom: 24px;
    p {
      &:before {
        content: "";
        width: 14px;
        background: url(/assets/images/icons/left.svg) no-repeat;
        position: absolute;
        height: 10px;
        left: 16px;
        top: 24px;
      }
      &:after {
        content: "";
        width: 14px;
        background: url(/assets/images/icons/rightquote.svg) no-repeat;
        position: absolute;
        height: 10px;
        right: 16px;
        bottom: 24px;
      }
    }
  }
}
.following-list {
  padding-top: 16px;
  .following-list-item {
    background: #fff;
    border: 1px solid #eee;
    padding: 24px 24px 16px 24px;
    margin-bottom: 16px;
    border-radius: 8px;
    @media (max-width: 480px) {
      padding: 16px;
    }
    b {
      color: #3e3e3e;
    }
    &--top {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #eeeeee;
      padding-bottom: 16px;
      margin-bottom: 8px;

      .name {
        display: flex;
      }
      .avatar {
        margin-right: 8px;
        img {
          border: 2px solid $primary-color;
          border-radius: 50%;
        }
      }
      .extra-info p {
        font-size: 12px;
        color: #ccc;
      }
      .chat-search {
        margin-left: 24px;
        .btn {
          background: #fafafa;
          border: 1px solid #eeeeee;
          min-width: 40px;
          height: 40px;
          padding: 00;
          text-align: center;
          &:hover,
          &:focus {
            background: $primary-color;
          }
          svg {
            width: 24px;
          }
        }
      }
      .info {
        flex: 1;
      }
    }
    .text-ellipsis {
      max-width: 275px;
      @media (max-width: 767px) {
        max-width: 185px;
      }
    }
  }
}
.setting-item {
  background: #fff;
  padding: 16px 24px;
  border: 1px solid #eeeeee;
  border-radius: 8px;
  margin-bottom: 16px;
  @media (max-width: 480px) {
    padding: 16px 12px;
  }
  .switch-toggle label .can-toggle__switch {
    height: 40px;
    &:after {
      line-height: 32px;
    }
    &:before {
      line-height: 40px;
    }
  }

  .choose-pay-fee {
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    line-height: 22px;
    .content {
      padding: 16px;
      margin-bottom: 24px;
      background: #ffffff;
      border: 1px solid #eeeeee;
      border-radius: 8px;
    }
    .input-group {
      justify-content: center;
      @media (max-width: 576px) {
        margin-bottom: 16px;
      }
      .form-control {
        max-width: 100px;
        background: #fafafa;
        border: 1px solid #eeeeee;
        border-radius: 8px 0 0 8px;
        font-size: 14px;
        height: 40px;
        font-weight: bold;
        color: #333;
        text-align: center;
        padding-right: 0;
        border-right: 0;
        box-shadow: none;
      }
      .input-group-text {
        background: #fafafa;
        border: 1px solid #eeeeee;
        border-width: 1px 1px 1px 0;
        border-radius: 0 8px 8px 0;
        padding: 5px 8px;
        color: #888;
        font-weight: bold;
        font-size: 14px;
      }
    }
    .input-fee {
      background: #ffffff;
      border: 1px solid #eeeeee;
      padding: 16px;
      text-align: center;
      margin-top: 16px;
      border-radius: 8px;
    }
  }
  .cost-to-unlock {
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    .bg-cost {
      background: #f5f5f5;
      border-radius: 8px;
      padding: 8px 20px;
      border: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 8px;

      @media (max-width: 1199px) {
        margin: -8px 0 16px;
        padding: 8px 16px;
      }
      .input-group {
        .form-control {
          width: 100px;
          background: #ffffff;
          border: 1px solid #eeeeee;
          border-radius: 8px 0 0 8px;
          font-size: 14px;
          height: 40px;
          font-weight: bold;
          color: #333;
          text-align: right;
          padding-right: 0;
          border-right: 0;
          box-shadow: none;
        }
        .input-group-text {
          background: #fff;
          border: 1px solid #eeeeee;
          border-width: 1px 1px 1px 0;
          border-radius: 0 8px 8px 0;
          padding: 5px 8px;
          color: #888;
          font-weight: bold;
          font-size: 14px;
        }
      }
    }
  }
}
.management-page {
  min-height: 100vh;
  .main-content-left {
    border-right: 2px solid #eee;
  }
}
@media (max-width: 480px) {
  .flex-column-mobile {
    flex-flow: column;
    h2 {
      padding-bottom: 12px;
    }
    .switch-toggle label {
      justify-content: center;
    }
  }
}
.following-page {
  min-height: 100vh;
  .main-content-left {
    border-right: 2px solid #eee;
  }
}
.saved-list-item {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #eee;
  padding: 12px;
  display: flex;
  margin-bottom: 16px;
  button:hover {
    color: #ff8c5a;
  }
  .btn-none {
    &.active {
      color: #ff6da1;
      svg {
        fill: #ffe9f1;
      }
      &.btn-save {
        color: $primary-color;
      }
    }
  }
  .image-item {
    width: 112px;
    height: 112px;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 18px;
  }
  .content {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-right: 16px;
    > p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin-bottom: 8px;
    }
    img {
      border-radius: 50%;
      margin-left: 8px;
    }
  }
}

.notification-list-item {
  background: #fff;
  border: 1px solid #eee;
  padding: 24px 24px 16px 24px;
  margin-bottom: 8px;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  color: #333;
  width: 100%;
  word-break: break-word;
  &:hover {
    color: #333;
  }
  @media (max-width: 480px) {
    padding: 16px;
  }
  .image-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
    img {
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .unlock-success {
    background: #f5f5f5;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 12px;
    position: relative;
    .status-seen {
      color: #00cd6b;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .unlock-fail {
    background: rgba(237, 59, 59, 0.1);
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 12px;
    position: relative;
    .status-fail {
      color: #ed3b3b;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .image-disable {
    background: rgba(237, 59, 59, 0.3);
    border: 1px solid #ed3b3b;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 12px;
    color: #ed3b3b;
  }
  .image-hidden {
    background: #c4c4c4;
    border: 1px solid #7e7e7e;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 12px;
    color: #3e3e3e;
  }
  .content {
    font-size: 14px;
    flex: 1;
    p {
      font-size: 14px;
      line-height: 21px;
      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
    .text {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      @media (max-width: 480px) {
        -webkit-line-clamp: 3;
      }
    }
    ul {
      padding-left: 16px;
      li {
        list-style: unset;
      }
    }
  }
}
