.recruiter {
  .wrapper {
    box-shadow: 0px 0px 4px 0px rgb(108 1 135 / 25%);
    border-radius: $border-radius-base;
    background: #ffffff;
    padding: 16px;
    margin-bottom: 48px;
    &.advertisement {
      background-color: #4158d0;
      background-image: linear-gradient(
        43deg,
        #4158d0 0%,
        #c850c0 46%,
        #ffcc70 100%
      );
      color: white;
    }
    &.candidate {
      background-color: #d9afd9;
      background-image: linear-gradient(53deg, #d9afd9 0%, #97d9e1 100%);
    }
    &.banner {
      background-color: #fbab7e;
      background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
    }
  }
  .block-title {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 4px solid #451da03b;
    margin: 0;
    width: fit-content;
    margin-bottom: 16px;
  }
  .table-container {
    width: 100%;
    overflow-x: auto;
    .column-width {
      min-width: 100px;
    }
  }
}
