@import "../../../../../assets/scss/helper/variable";
.card-wrapper {
  box-shadow: 0px 0px 8px 2px #e1e1f7;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  cursor: pointer;
  .header {
    min-height: 170px;
    .title {
      &:hover {
      }
      .description {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
      .name {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
  .info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
  }
}
