<div class="card-wrapper mb-3" [routerLink]="['/company',company.id]" *ngIf="!loading">
  <div class="header">
    <img src="{{company.avatar | imageConvert: 'company'}}" alt="" width="48" height="48">
    <div class="title">
      <span class=" fw-bold mb-8 name">{{company.name || 'FPT company'}}</span>
      <span class="description" [innerHTML]="company.description | safe: 'html'"></span>
    </div>
  </div>
</div>
<div class="card-wrapper mb-3" *ngIf="loading">
  <div class="header">
    <div>
      <ngx-skeleton-loader [theme]="{
        width: '48px',
        height: '48px',
        'border-radius':'50%'
      }"></ngx-skeleton-loader>
    </div>
    <div class="title">
      <span class=" fw-bold mb-8 name">
        <ngx-skeleton-loader [theme]="{
        width: '100px',
        'border-radius': '0',
        height: '10px'
      }"></ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{
        width: '100px',
        'border-radius': '0',
        height: '10px'
      }"></ngx-skeleton-loader>
      </span>
      <span class="description">
        <ngx-skeleton-loader [theme]="{
        width: '100px',
        'border-radius': '0',
        height: '10px'
      }"></ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{
        width: '100px',
        'border-radius': '0',
        height: '10px'
      }"></ngx-skeleton-loader>
      </span>
    </div>
  </div>
</div>