<div class="w-100 company-wrapper gap-16 ">
  <span class="fz-20 fw-bold d-block mb-16">Các công ty tuyển dụng hàng đầu tại Hive Connect</span>
  <div class="d-flex flex-nowrap company-list" *ngIf="company$ | async; let company; else loading">
    <div class="company-item" *ngFor="let item of company" [routerLink]="['/company',item.companyId]"
      routerLinkActive="router-link-active">
      <div class="logo">
        <img src="{{item.companyAvatar | imageConvert: 'company'}}" alt="" class="w-100">
      </div>
      <div class="title">
        <span class="name" title="{{item.companyName}}">{{item.companyName}}</span>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="d-flex">
    <div class="company-item" *ngFor="let item of skeleton">
      <div class="logo">
        <ngx-skeleton-loader [theme]="{
          width: '128px',
          height: '128px'
        }"></ngx-skeleton-loader>
      </div>
      <div class="title">
        <span class="name">
          <ngx-skeleton-loader [theme]="{
            width: '100px',
            'border-radius': '0',
            height: '10px'
          }"></ngx-skeleton-loader>
        </span>
      </div>
    </div>
  </div>
</ng-template>