@import "../../../../../assets/scss/helper/variable";
.company-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-right: 24px;
  cursor: pointer;
  .logo {
    border: 1px solid $border-color-base;
    overflow: hidden;
    margin: 0;
    border-radius: 4px;
    border-color: $border-color-base;
    // background: white;
    width: 128px;
    height: 128px;
  }
  .name {
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: center;
  }
  .title {
    min-height: 38px;
  }
}
.company-wrapper {
  padding: 16px;
  background-color: rgba(250, 250, 255);
  border: 1px solid $border-color-base;
  border-radius: 0.5rem;
  margin: 45px 0;
  .company-list {
    overflow-y: auto;
  }
}
