<ng-container *ngIf="company$ | async; let company; else loadingTemp">
  <div class="company-cover mt-45">
    <div class="container">
      <div class="cover-wrapper">
        <img src="{{company.coverImageUrl | imageConvert: 'cover'}}" alt="" class="img-responsive cover-img"
          width="100%" height="236px">
      </div>
      <div class="company-detail-overview">
        <div id="company-logo">
          <div class="company-image-logo">
            <img src="{{company.avatar | imageConvert: 'company'}}" class="img-responsive">
          </div>
        </div>
        <div class="company-info">
          <h1 class="company-detail-name text-highlight">{{company.name}}</h1>
          <div class="d-flex flex-wrap">
            <p class="website">
              <i class="fa-light fa-earth-americas"></i>
              <a href="{{company.website}}" target="_blank">{{company.website}}</a>
            </p>
            <p class="company-size">
              <i class="fa-light fa-building"></i>
              {{company.numberEmployees}} nhân viên
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detail">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="company-info box-white">
            <h4 class="title">Thông tin liên lạc</h4>
            <div class="box-body">
              <p>Mã số thuế: {{company.taxCode || '(Chưa có)'}}</p>
              <p>Email: <a href="mailto:{{company.email}}" class="color-primary">{{company.email || '(Chưa có)'}}</a>
              </p>
              <p>Trang web: <a href="{{company.website}}" class="color-primary" target="_blank">{{company.name}}</a></p>
              <p>Số điện thoại: {{company.phone}}</p>
            </div>
          </div>
          <div class="company-info box-white">
            <h4 class="title">Giới thiệu công ty</h4>
            <div class="box-body" [innerHTML]="company.description | safe: 'html'">
            </div>
          </div>
          <div class="job-listing box-white" *ngIf="jobs.length">
            <h4 class="title">Tuyển dụng</h4>
            <div class="box-body">
              <div class="job-item  job-ta result-job-hover" *ngFor="let item of jobs">
                <div class="avatar">
                  <a [routerLink]="['/job',item.id || item.jobId]" routerLinkActive="router-link-active"
                    class="company-logo">
                    <img src="{{company.avatar | imageConvert}}" class="w-100" title="{{item.jobName}}">
                  </a>
                </div>
                <div class="body">
                  <div class="content">
                    <div class="ml-auto">
                      <h3 class="title">
                        <a class="underline-box-job" [routerLink]="['/job',item.id || item.jobId]"
                          routerLinkActive="router-link-active">
                          <span class="bold transform-job-title" title="{{item.jobName}}">{{item.jobName}}</span>
                          <span class="icon-verified-employer level-five">
                            <i class="fa-solid fa-circle-check"></i></span>
                        </a>
                      </h3>
                      <p class="company underline-box-job">
                        <a [routerLink]="['/job',item.id || item.jobId]">{{company.name}}</a>
                      </p>
                    </div>
                    <div class="mr-auto text-right">
                      <p class="deadline">
                        Hạn ứng tuyển {{item.endDate | date: 'dd/MM/YYYY'}}
                      </p>
                    </div>
                  </div>
                  <div class="d-flex">
                    <div class="label-content ml-auto">
                      <label class="salary d-inline-block me-3">{{item.fromSalary}} - {{item.toSalary}}</label>
                      <label class="address">{{item.workPlace}}</label>
                      <!-- <label class="time">5 ngày trước</label> -->
                    </div>
                  </div>
                </div>
              </div>
              <div>
              </div>
              <div class="text-center">
              </div>
            </div>
          </div>
          <div class="job-listing box-white" *ngIf="personal.length">
            <h4 class="title">Nhân viên</h4>
            <div class="box-body">
              <div class="job-item  job-ta result-job-hover" *ngFor="let item of personal">
                <div class="avatar">
                  <a href="javascript:void(0)" class="company-logo">
                    <img src="{{item.avatar | imageConvert}}" class="w-100">
                  </a>
                </div>
                <div class="body">
                  <div class="content">
                    <div class="ml-auto">
                      <h3 class="title">
                        <a class="underline-box-job" href="javascript:void(0)">
                          <span class="bold transform-job-title">{{item.fullName}}</span>
                          <span class="icon-verified-employer level-five">
                            <i class="fa-solid fa-circle-check"></i></span>
                        </a>
                      </h3>
                      <p class="company underline-box-job">
                        <span>{{company.name}}</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="job-item job-ta result-job-hover" *ngIf="loadingPersonal;then loadingTemp">

              </div>
              <div class="text-center">
              </div>
            </div>
          </div>
          <div class="job-listing box-white" *ngIf="company.companyImageUrlList.length">
            <h4 class="title">Một số ảnh về công ty</h4>
            <div class="box-body">
              <carousel>
                <slide *ngFor="let item of company.companyImageUrlList">
                  <div class="job-item cover job-ta result-job-hover p-0">
                    <img src="{{item.url}}" alt="">
                  </div>
                </slide>
              </carousel>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box-address box-white">
            <h4 class="title">Địa chỉ công ty</h4>
            <div class="box-body">
              <p class="text-dark-gray">
                <i class="icons8-map-pin text-highlight"></i>{{company.address}}
              </p>
              <div class="company-map">
                <p class="map">Bản đồ trụ sở chính :</p>
                <p class="embed" [innerHTML]="company.mapUrl | safe: 'html'" *ngIf="company.mapUrl">

                </p>
              </div>
            </div>
          </div>
          <div class="box-sharing box-white d-none">
            <h4 class="title">Chia sẻ công ty tới bạn bè</h4>
            <div class="box-body">
              <p>Sao chép đường dẫn</p>
              <div class="box-copy">
                <input type="text" value="https://www.topcv.vn/cong-ty/cong-ty-tnhh-cmc-global/2872.html"
                  class="url-copy" readonly="">
                <div class="btn-copy">
                  <button class="btn-copy-url"><i class="fa-regular fa-copy"></i></button>
                </div>
              </div>
              <p>Chia sẻ qua mạng xã hội</p>
              <div class="box-share">
                <a href="http://www.facebook.com/sharer/sharer.php?u=https://www.topcv.vn/cong-ty/cong-ty-tnhh-cmc-global/2872.html"
                  target="_blank"><img src="https://www.topcv.vn/v4/image/job-detail/share/facebook.png" alt=""></a>
                <a href="https://twitter.com/intent/tweet?url=https://www.topcv.vn/cong-ty/cong-ty-tnhh-cmc-global/2872.html"
                  target="_blank"><img src="https://www.topcv.vn/v4/image/job-detail/share/twitter.png" alt=""></a>
                <a href="https://www.linkedin.com/cws/share?url=https://www.topcv.vn/cong-ty/cong-ty-tnhh-cmc-global/2872.html"
                  target="_blank"><img src="https://www.topcv.vn/v4/image/job-detail/share/linkedin.png" alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loadingTemp>
  <div class="container bg-white p-3 my-5">
    <hc-skeleton></hc-skeleton>
  </div>
</ng-template>