@import "../../../../../assets/scss/helper/variable";
.box-white {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 16px;
  padding: 24px;
}
.box-white .title {
  color: #333;
  font-size: 19px;
  font-style: normal;
  line-height: 24px;
  margin: initial;
}
.box-white.company-info > .title,
.box-white.job-listing > .title {
  border-left: 5px solid $border-color-base;
  padding-left: 8px;
}
.box-white .box-body {
  padding-top: 19px;
}
.company-cover {
  margin-bottom: 16px;
}
.cover-wrapper {
  height: 236px;
  overflow: hidden;
}
.img-responsive.cover-img {
  height: inherit;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.company-detail-overview {
  align-items: center;
  background: #fff;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
}
#company-logo {
  height: 110px;
  margin-right: 24px;
  width: 140px;
}
#company-logo .company-image-logo {
  align-items: center;
  background: #fff;
  border: 5px solid #fff;
  border-radius: 10px;
  display: flex;
  height: 140px;
  justify-content: center;
  position: relative;
  top: -65px;
  width: 140px;
}
#company-logo .company-image-logo .img-responsive {
  border: 1px solid #eee;
  border-radius: 10px;
  height: 100%;
  -o-object-fit: contain;
  width: 100%;
  object-fit: contain;
}
.company-info {
  padding-top: 5px;
  word-break: break-word;
}
.company-info .company-detail-name {
  color: #333;
  font-size: 24px;
  margin-top: 0;
}
.company-info .company-size,
.company-info .website {
  font-size: 15px;
  padding-right: 40px;
}
.company-info .company-size {
  white-space: nowrap;
}
.company-info .company-size i,
.company-info .website i {
  padding-right: 5px;
}
.company-info a {
  color: #333;
}
.job-item {
  background: #fff 0 0 no-repeat padding-box;
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  display: flex;
  margin: auto auto 16px;
  padding: 16px;
  overflow: hidden;
  &.cover {
    height: 650px;
  }
}
.job-item.bg-highlight {
  background-color: #f2fbf6;
}
.job-item .avatar {
  height: 80px;
  overflow: hidden;
  width: 80px;
}
.job-item .avatar img {
  border-radius: 5px;
  height: auto;
  width: 48px;
}
.job-item .body {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  width: 100%;
}
.job-item .body .title {
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
}
.job-item .body .title a {
  color: #212f3f;
  font-size: 16px;
  margin-bottom: 6px;
  text-decoration: none;
  vertical-align: top;
}
.job-item .body .title a.highlight {
  color: #ff453a;
}
.job-item .body .title i {
  color: #00b14f;
  font-size: 13px;
}
.job-item .body .company a {
  color: #555;
  font-size: 13px;
  margin-bottom: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.job-item .body .label-content label {
  background: #edeef0 0 0 no-repeat padding-box;
  border-radius: 3px;
  color: #636d78;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  padding: 2px 8px;
}
.job-item .body .icon i {
  color: #00b14f;
}
.job-item .body .content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.job-item .body .content .text-right .label {
  background: #edeef0;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 400;
  padding: 2px 8px;
}
.job-item .body .content .text-right .label.label-primary {
  background: #ffebea;
  color: #ff453a;
}
.job-item .body .content .text-right .label.label-warning {
  background: #fff1da;
  color: #ff9f0a;
}
.job-item .body .deadline {
  color: #333;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 5px;
}
.job-item .body .deadline b {
  font-weight: 700;
}
.job-item .ml-auto {
  margin-right: auto;
}
.job-item .mr-auto {
  margin-left: auto;
}
.job-item .text-right {
  min-width: 180px;
  text-align: right;
}
.box-sharing p {
  font-size: 14px;
}
.box-sharing .box-copy {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.box-sharing .box-copy .url-copy {
  background: #fafafa;
  border-color: transparent;
  border-radius: 5px;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden !important;
  padding: 0 8px;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  width: 86%;
}
.box-sharing .box-copy .url-copy:focus-visible {
  outline: none;
}
.box-sharing .box-copy .btn-copy {
  width: 11%;
}
.box-sharing .box-copy .btn-copy button {
  background: #f2fbf6;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 40px;
}
.box-sharing .box-copy .btn-copy button i {
  color: #00b14f;
  font-size: 18px;
}
.box-sharing .box-share a {
  margin-right: 16px;
}
.box-follow {
  margin-left: auto;
}
.box-follow .btn.btn-follow {
  background: #00b14f;
  border-radius: 3px;
  color: #fff;
  padding: 10px 40px;
}
.pagination {
  margin-bottom: inherit;
  margin-top: 20px;
}
.pagination,
.pagination li {
  align-items: center;
  display: flex;
  justify-content: center;
}
.pagination li {
  border-radius: 3px;
  height: 24px;
  margin: 0 5px;
  text-align: center;
  width: 24px;
}
.pagination li:first-child,
.pagination li:last-child {
  background: #eee 0 0 no-repeat padding-box;
}
.pagination li:first-child a,
.pagination li:first-child span,
.pagination li:last-child a,
.pagination li:last-child span {
  font-size: 30px;
  font-weight: 100;
}
.pagination li:first-child a:hover,
.pagination li:first-child span:hover,
.pagination li:last-child a:hover,
.pagination li:last-child span:hover {
  background: none;
  width: inherit;
}
.pagination li a {
  color: #000;
  font-size: 14px;
  text-decoration: none;
}
.pagination li.active {
  background: #00b14f 0 0 no-repeat padding-box;
  color: #fff;
}
.pagination li.active span {
  background: transparent;
  border-color: transparent;
  color: #fff;
}
.pagination li.active span:hover {
  background: none;
}
.pagination li:first-child {
  position: relative;
}
.pagination li:first-child a,
.pagination li:first-child span[aria-hidden="true"] {
  opacity: 0;
  position: absolute;
}
.pagination li:first-child:after {
  color: #333;
  content: "\f053";
  display: block;
  font-family: Font awesome\6 Pro;
  font-size: 16px;
  letter-spacing: 0;
  text-align: left;
}
.pagination li:last-child {
  position: relative;
}
.pagination li:last-child > span[aria-hidden="true"],
.pagination li:last-child a {
  opacity: 0;
  position: absolute;
}
.pagination li:last-child:after {
  color: #333;
  content: "\f054";
  display: block;
  font-family: Font awesome\6 Pro;
  font-size: 16px;
  letter-spacing: 0;
  text-align: left;
}
.pagination > li > span,
.pagination > li a {
  background-color: initial;
  border: none;
  border-radius: 3px;
  color: initial;
  padding: inherit;
  position: relative;
  text-decoration: none;
}
.pagination > li > span:hover,
.pagination > li a:hover {
  background: #dbdbdb;
  padding: 2px;
  width: 100%;
}
.box-address .map {
  color: #777;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 16px;
  margin-top: 16px;
}
.company-info.box-white {
  padding-top: 24px;
}
.empty {
  background: #00b14f1a;
  color: #00b14f;
  font-weight: 700;
  padding: 5px;
  text-align: center;
}
ul.top-addon {
  list-style: disc;
  list-style-position: inside;
  padding-left: 0;
}
ul.top-addon li {
  color: #00b14f;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 5px;
}
