@import "../../../../assets/scss/helper/variable";
.card-wrapper {
  border-radius: 4px;
  padding: 16px;
  border: 1px solid $border-color-base;
  background-color: white;
  &:hover {
    color: $primary-color;
  }
  .header {
    display: flex;
    gap: 8px;
    align-items: center;
    // min-height: 84px;
    .title {
      .company {
        // text-overflow: ellipsis;
        // overflow: hidden;
        // white-space: nowrap;
        // width: 100%;
        // display: -webkit-box;
        // -webkit-line-clamp: 2;
        // -webkit-box-orient: vertical;
      }
    }
  }
  .body-job {
    display: flex;
    gap: 8px;
    align-items: center;
    .body-info {
      width: calc(100% - 56px);
    }
  }
  .info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    .item {
      display: flex;
      .text {
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
        /* flex: 1; */
        width: calc(100% - 24px);
      }
    }
  }
}
