<a class="card-wrapper d-block text-dark" [routerLink]="['/job',job.id || job.jobId || 0]"
  *ngIf="!isLoading; else loadingTemp">
  <div class="header">
    <!-- <img src="{{job.companyAvatar| imageConvert: 'company'}}" alt="" width="48" height="48"> -->
    <div class="title">
      <!-- <span class=" fw-bold mb-8 company">{{job.companyName || 'FPT company'}}</span> -->
      <span class="company fw-bold eclipse-line-2">{{job.jobName || 'Frontend Developer'}}</span>
    </div>
  </div>
  <div class="body-job">
    <div class="logo">
      <img src="{{job.companyAvatar| imageConvert: 'company'}}" alt="" width="48" height="48">
    </div>
    <div class="body-info">
      <div class="info">
        <span class=" mb-8 text-truncate fz-12">{{job.companyName || 'FPT company'}}</span>
      </div>
      <div class="info">
        <div class="item">
          <svg-icon src="/assets/images/icons/Bag-small.svg"></svg-icon>
          <span class="text">{{mapWorkingForm[job.workForm] || 'Hà Nội'}}</span>
        </div>
      </div>
      <div class="info">
        <div class="item">
          <svg-icon src="/assets/images/icons/clock-job.svg"></svg-icon>
          <span class="text">{{job.weekday || '5 ngày/tuần'}}</span>
        </div>
      </div>
      <div class="info">
        <div class="item">
          <svg-icon src="/assets/images/icons/money.svg"></svg-icon>
          <span class="text">{{(job.fromSalary || 0) | moneyConvert}} - {{(job.toSalary || 0) | moneyConvert}}</span>
        </div>
      </div>

    </div>
  </div>
</a>

<ng-template #loadingTemp>
  <div class="card-wrapper d-block text-dark">
    <hc-skeleton></hc-skeleton>
  </div>
</ng-template>