<div class="NgxEditor__Wrapper mb-24">
  <label [for]="id" class="mb-8 text-nowrap" *ngIf="label">{{label}}<span *ngIf="isRequired"
      class="text-danger">*</span></label>
  <ngx-editor [editor]="editor" [id]="id" [placeholder]="placeHolder" [formControl]="formControl"></ngx-editor>
  <ngx-editor-floating-menu [editor]="editor" [classList]="'floating-edit'">
    <ngx-editor-menu [toolbar]="toolbar" [editor]="editor"></ngx-editor-menu>
  </ngx-editor-floating-menu>
</div>