@import "../../../../../assets/scss/helper";
.NgxEditor__Wrapper {
  max-height: 150px;
  min-height: 50px;
  overflow-y: auto;
  border-radius: 8px;
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom-color: $border-color-base;
  background-color: transparent;
}
::ng-deep {
  .floating-edit {
    border-radius: 8px;
    border: 1px solid $border-color-base;
    overflow: hidden;
  }
}
