<div class="row">
  <div class="col-lg-8 d-none d-xl-block">
    <svg-icon src="/assets/images/login-img-1.svg"></svg-icon>
  </div>
  <div class="col-lg-4">
    <div class="card login-wrapper">
      <div class="header p-0 m-0 ">
        <h2 class="title m-0">Đăng ký</h2>
        <p class="mb-53">
          <span>Đã có tài khoản?</span><br />
          <a [routerLink]="['/auth','login']">Đăng nhập ngay</a>
        </p>
      </div>
      <div *ngIf="type === 'system'">
        <hc-register-form (onSubmitSuccess)="registerSuccess($event)"></hc-register-form>
      </div>
      <div *ngIf="type ==='social'">
        <hc-register-social-form (onSubmitSuccess)="registerSuccess($event)"></hc-register-social-form>
      </div>
    </div>
  </div>
</div>