<div class="modal-header">
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onClose.emit()"></button>
</div>
<hc-create-company-modal *ngIf="profile.id" [profile]="profile" (joinCompany)="joinCompanyFinish($event)">
</hc-create-company-modal>