<div class="row">
  <div class="col-4" *ngIf="normalPaymentPackage.groupPackageId === paymentRental.advertisement">
    <div class="mb-2">
      <p>Chọn việc làm bạn muốn sử dụng dịch vụ</p>
    </div>
    <div class="input-group mb-3 border-end">
      <input type="text" placeholder="Nhập tiêu đề công việc" class="form-control" #searchInput
        aria-describedby="basic-addon1">
      <!-- <button class="btn border-primary" (click)="searchJob.emit(searchInput.value)">Tìm kiếm</button> -->
      <span class="input-group-text" id="basic-addon1">Tìm kiếm</span>
    </div>
    <div class="job-list">
      <!-- <div class="job-item" *ngFor="let item of jobs;let index$ =index" (click)="selectedJobChange.emit(item)"
        [class.active]="item.jobId === selectedJob.jobId">
        <input type="radio" name="job" id="job-{{index$}}" class="form-check-input" [value]="item.jobId"
          [(ngModel)]="selectedJob.jobId">
        <label for="job-{{index$}}">{{item.jobName}}</label>
      </div> -->
      <div class="form-check" *ngFor="let item of jobs;let index$ =index" (click)="selectedJobChange.emit(item)"
        [class.active]="item.jobId === selectedJob.jobId">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="job-{{index$}}" [value]="item.jobId"
          [(ngModel)]="selectedJob.jobId">
        <label class="form-check-label" for="job-{{index$}}">
          {{item.jobName}}
        </label>
      </div>
    </div>
  </div>
  <div class="col-12" *ngIf="normalPaymentPackage"
    [ngClass]="{'col-xl-5': normalPaymentPackage.groupPackageId === paymentRental.advertisement}">
    <div class="wrapper {{wrapperClass}}">
      <p>Tên gói: {{normalPaymentPackage.detailPackageName}}</p>
      <p>Giá: {{normalPaymentPackage.price | moneyConvert}}</p>
      <p>Giá Khuyến mãi: {{normalPaymentPackage.discountPrice | moneyConvert}}</p>
      <p>Nhóm dịch vụ: {{normalPaymentPackage.groupPackageName}}</p>
      <p *ngIf="normalPaymentPackage.groupPackageId !== paymentRental.advertisement">Số lượng cv:
        {{normalPaymentPackage.maxCvView}}</p>
      <ng-container [ngTemplateOutlet]="benefit"
        [ngTemplateOutletContext]="{name:'Công việc liên quan',value:normalPaymentPackage.relatedJob}">
      </ng-container>
      <ng-container [ngTemplateOutlet]="benefit"
        [ngTemplateOutletContext]="{name:'Gợi ý công việc',value:normalPaymentPackage.suggestJob}">
      </ng-container>
    </div>
  </div>
  <div class="col-3" *ngIf="normalPaymentPackage.groupPackageId === paymentRental.advertisement">
    <div class="wrapper ">
      <p>Công việc đã chọn</p>
      <ng-container *ngIf="selectedJob.jobId">
        <p>{{selectedJob.jobName}}</p>
        <p>Mức lương: {{selectedJob.fromSalary | moneyConvert}} - {{selectedJob.toSalary | moneyConvert}}</p>
        <p>Nơi làm việc: {{selectedJob.workPlace}}</p>
        <div class="d-flex align-items-center justify-content-center">
          <button class="btn btn-success" (click)="openConfirmModal(confirm)" [loading]="loading" hcButtonLoading
            *ngIf="!detail.jobPurchasedPPRes || (selectedJob.jobId !== detail.jobPurchasedPPRes.jobId)">Chọn</button>
          <!-- <button class="btn btn-danger">Hủy</button> -->
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #confirm>
  <div class="modal-header">
    <h5 class="modal-title">Xác nhận</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="modalRef.hide()"></button>
  </div>
  <div class="modal-body">
    <p>Bạn có chắc muốn gắn sử dụng gói dịch vụ cho bài đăng công việc <span
        class="fw-bold">{{selectedJob.jobName}}</span>? Khi đã sử dụng sẽ không được hoàn lại.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modalRef.hide()" hcButtonLoading
      [loading]="loading">Hủy</button>
    <button type="button" class="btn btn-primary fit-content" (click)="applyPackageToJob()" [loading]="loading"
      hcButtonLoading>Đồng
      ý</button>
  </div>
</ng-template>
<ng-template #benefit let-value="value" let-name="name">
  <p class="m-0">{{name}}: {{value ? 'Có' :'Không'}}</p>
</ng-template>