<div *ngIf="viewState === getViewState.bubble">
  <hc-chat-view-bubble (onOpenChat)="openPopup()"></hc-chat-view-bubble>
</div>
<div *ngIf="viewState === getViewState.popup">
  <hc-chat-view-popup (onClosePopup)="closePopup()"></hc-chat-view-popup>
</div>