@import "../../../../../assets/scss/helper/variable";
header.mastheah {
  background-image: url(/assets/images/background_header.png);
  padding-top: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header.mastheah .get-more {
  font-weight: 500;
}

header.mastheah .image > img {
  width: 100%;
}

.core-function {
  padding-top: 50px;
  padding-bottom: 30px;
  background: transparent
    linear-gradient(
      180deg,
      rgb(221 245 251) 0%,
      rgb(255 255 255/55%) 30%,
      rgb(255 255 255/55%) 100%
    )
    0% 0%;
}

.core-function .header > .caption {
  letter-spacing: 3px;
  color: #212f3f;
  font-size: 22px;
  padding-bottom: 10px;
}

.core-function .header > .title {
  padding-bottom: 15px;
}

.core-function .header > .description {
  color: #212f3f;
  line-height: 30px;
  font-size: 18px;
  width: 85%;
  margin: auto;
}

.core-function .box-content {
  height: 350px;
  background: transparent
    linear-gradient(
      334deg,
      rgb(193 252 241 / 42%) 0%,
      rgb(252 225 255 / 77%) 100%
    )
    0% 0%;
  box-shadow: 0 3px 20px #b9b9b91a;
  border-radius: 10px;
  padding: 30px 0;
  padding-bottom: 0;
  text-align: center;
  position: relative;
}

.core-function .box-content .caption {
  text-transform: uppercase;
  letter-spacing: 2.4px;
  color: #212f3f;
  font-size: 18px;
  padding-bottom: 5px;
}

.core-function .box-content .title {
  padding-bottom: 10px;
}

.core-function .box-content .description {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  width: 100%;
  margin-bottom: 0;
}

.core-function .box-content > .image > img {
  width: 100%;
}

.core-function .box-content > .image-bottom {
  bottom: 0;
}

.recruitment-service {
  background: transparent
    linear-gradient(180deg, rgb(231 231 231/30%) 0%, rgb(255 255 255/30%) 100%)
    0% 0%;
  padding: 30px 0;
}

.recruitment-service .title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.about-us {
  background: transparent linear-gradient(180deg, #ffffff 0%, #e7ffe64d 100%) 0%
    0%;
  padding-bottom: 44px;
}

.about-us .title {
  padding-top: 40px;
  padding-bottom: 20px;
}

.about-us .content {
  background: #fff 0% 0%;
  box-shadow: 0 3px 30px #88888829;
  border-radius: 5px;
  padding-bottom: 15px;
}

.btn-custom-primary {
  color: #fff !important;
  background-color: $primary-color;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 12px !important;
  border-radius: 4px !important;
}

.btn-custom-primary:hover {
  color: #fff;
}

.btn-outline-success {
  color: $primary-color !important;
  background-color: transparent;
  border-color: $primary-color !important;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 12px !important;
  border-radius: 4px !important;
}

.btn-outline-success:hover {
  color: #fff !important;
  background-color: $primary-color;
  border-color: $primary-color;
}

.avatar {
  width: 34px;
  border-radius: 50%;
  margin-left: 8px;
}

html:lang(jp) .core-function .header > .title {
  padding-left: 2rem;
  padding-right: 2rem;
}

html:lang(jp) .cskh {
  text-indent: inherit !important;
}

html:lang(jp) .cskh::before {
  display: block;
}

html:lang(jp) .hotline .box-phone .phones > p > span.highlight.text-right {
  text-align: start !important;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.fs-22 {
  font-size: 22px;
}

.fs-28 {
  font-size: 28px;
}

.title-dark {
  color: #212f3f;
}

.description-dark {
  color: #333;
}

#service .service-item {
  background: transparent
    linear-gradient(
      50deg,
      rgba(234, 237, 241, 0.2) 0%,
      rgb(235 193 252 / 70%) 55%,
      rgba(197, 239, 203, 0.4) 100%
    )
    0% 0%;
  border-radius: 10px;
  padding: 2rem 4rem 0;
}

#service .service-item .content {
  padding: 30px 0;
}

#service .service-item .content .nav-link {
  padding-left: 1.28571429em;
  text-indent: -1.28571429em;
}

#service .service-item .content .nav-link::before {
  font-family: "font awesome 6 pro";
  font-weight: 900;
  content: "\f058";
  padding-right: 8px;
  font-size: 12px;
  color: #6a00b1;
}

#navbarText .langurage a:hover {
  text-decoration: none;
}

@media (min-width: 1200px) {
  .navbar .nav-item {
    padding: 0 10px;
  }

  header.mastheah .title {
    padding-left: 13rem;
    padding-right: 13rem;
  }

  .statistic .box-content {
    min-height: 145px;
  }
}

@media (min-width: 992px) {
  .big-update .content > .title {
    width: 300px;
  }

  .big-update .content > .description {
    width: 400px;
  }

  .core-function .header > .title {
    width: 600px;
    margin: auto;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .statistic .box-content {
    min-height: 140px;
    padding: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .product-launch > .content {
    display: block !important;
    padding-top: 0 !important;
  }

  .product-launch > .content .recruitment-info .ai-recruitment,
  .product-launch > .content .recruitment-info h2 {
    text-align: center;
  }

  .product-launch > .content .recruitment-info,
  .product-launch > .content .recruitment-image {
    width: 100%;
    padding: 20px 20px 0;
  }

  .core-function .header {
    width: 100% !important;
  }

  .core-function .box-content {
    height: 500px;
  }

  #service .service-item {
    padding: 1rem 1.5rem 0;
  }

  #service .service-item .item-create-job,
  #service .service-item .item-top-credit,
  #service .service-item .item-top-branding {
    flex-direction: column-reverse;
  }

  #service .service-item .image {
    text-align: center;
  }

  .about-us .content .box-description {
    padding: 0 15px !important;
  }

  .about-us .content .box-description .description {
    padding: 20px !important;
  }
}

@media screen and (max-width: 767px) {
  .statistic .box-content {
    width: 100% !important;
  }

  .statistic .box-content:nth-child(3n + 0) {
    margin-right: 24px !important;
  }

  .core-function .header {
    width: 100% !important;
  }

  .core-function .header .description {
    margin-bottom: 20px !important;
  }

  .core-function .box-content {
    width: 100%;
    height: auto;
  }

  .core-function .box-content > .image {
    position: relative !important;
  }

  .partner .body .customers {
    margin-bottom: 20px;
  }

  .core-function .box-content {
    margin-bottom: 15px;
  }

  .core-function .box-content:last-child {
    margin-left: auto;
  }

  .core-function .box-content:first-child {
    margin-right: auto;
  }

  .core-function .row {
    margin-top: 0 !important;
  }

  .recruitment-platform .box-recruitment {
    margin-bottom: 15px;
  }

  .prize .content .post-item {
    margin-bottom: 15px;
  }

  .prize .content .post-item > .footer {
    position: relative !important;
  }

  .core-function .box-content {
    margin-bottom: 15px;
  }

  .core-function .box-content:last-child {
    margin-left: auto;
  }

  .core-function .box-content:first-child {
    margin-right: auto;
  }

  .recruitment-platform .box-recruitment {
    margin-bottom: 15px;
  }

  .prize .content .post-item {
    margin-bottom: 15px;
  }

  .product-launch .content .col-md-5 {
    padding-right: inherit;
  }

  header.mastheah .title {
    padding-left: initial;
    padding-right: inherit;
  }

  .recruitment-service .statistic .title {
    padding-left: 2rem;
  }

  .partner .body .content .logo-fsoft {
    position: relative;
  }

  .partner .body .content .logo-fsoft img {
    margin-top: -40px;
  }

  .partner .body .content .item img {
    object-fit: scale-down;
    width: 100%;
  }

  .product-launch > .content {
    display: block !important;
    padding-top: 0 !important;
  }

  .product-launch > .content .recruitment-info .ai-recruitment,
  .product-launch > .content .recruitment-info h2 {
    text-align: center;
  }

  .product-launch > .content .recruitment-info,
  .product-launch > .content .recruitment-image {
    width: 100%;
    padding: 20px 20px 0;
  }

  #service .service-item {
    padding: 1rem 1.5rem 0;
  }

  #service .service-item .item-create-job,
  #service .service-item .item-top-credit,
  #service .service-item .item-top-branding {
    flex-direction: column-reverse;
  }

  .recruitment-platform .box-recruitment {
    min-height: auto;
  }

  .recruitment-platform .title h2 {
    padding-top: 10px !important;
  }

  .about-us .content .box-description {
    padding: 0 15px !important;
  }

  .about-us .content .box-description .description {
    padding: 20px !important;
  }

  .recruitment-service .title {
    padding-top: 0;
  }
}

@media (max-width: 375px) {
  header.mastheah .title {
    font-size: 25px;
  }

  #navbarText .navbar-action {
    display: inline !important;
  }

  #navbarText .navbar-action .langurage {
    margin: 0 0 16px;
  }

  #navbarText .navbar-action .sign {
    margin-left: 0 !important;
  }
}
