<header class="mastheah">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-md-10 text-center">
                <h1 class="title mb-4 fw-500 title-dark fs-28">
                    Đăng tin tuyển dụng miễn phí, tìm CV ứng viên và
                    <span class="highlight">hơn thế nữa</span>
                </h1>
                <!-- <a target="_blank" href="https://tuyendung.topcv.vn/dang-tin-tuyen-dung?ref=you&amp;locale=vi"
          class="get-more btn min-width text-uppercase btn-primary fit-content py-2 px-3 fs-14 fw-500">
          Tìm hiểu ngay
        </a> -->
                <div class="image mt-5 d-flex justify-content-around">
                    <!-- <img src="https://tuyendung.topcv.vn/assets/images/header_campaign.png"
            title="Hệ thống đăng tin tuyển dụng miễn phí" alt="He thong dang tin tuyen dung mien phi"> -->
                    <svg-icon src="/assets/images/icons/recruiter-homepage-left.svg"></svg-icon>
                    <svg-icon src="/assets/images/icons/recruiter-homepage-center.svg"></svg-icon>
                    <svg-icon src="/assets/images/icons/recruiter-homepage-right.svg"></svg-icon>
                    <svg-icon src="/assets/images/icons/recruiter-homepage-1.svg"></svg-icon>
                    <svg-icon src="/assets/images/icons/recruiter-homepage-2.svg"></svg-icon>
                    <svg-icon src="/assets/images/icons/recruiter-homepage-3.svg"></svg-icon>
                    <svg-icon src="/assets/images/icons/recruiter-homepage-4.svg"></svg-icon>
                    <svg-icon src="/assets/images/icons/recruiter-homepage-5.svg"></svg-icon>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="feature" class="core-function">
    <div class="container">
        <div class="header text-center w-75 m-auto">
            <p class="caption text-uppercase fw-400">CÁC CHỨNG NĂNG CHÍNH CỦA NỀN TẢNG TUYỂN DỤNG HIVE CONNECT</p>
            <h2 class="title fw-500 fs-28 title-dark">
                Các <span class="highlight">tính năng</span> chỉ có trên Hive Connect
            </h2>
            <p class="description mb-0 fw-400">Với sức mạnh công nghệ, Hive Connect kế thừa những hiệu quả hiện tại và mang đến trải nghiệm một cách hoàn toàn khác biệt, giúp doanh nghiệp tuyển dụng hiệu quả trong thời đại số.
            </p>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="box-content">
                    <div class="w-75 m-auto">
                        <p class="caption fw-400">Đề xuất công việc dựa theo CV</p>
                        <p class="description fw-400 description-dark">Hệ thống Hive connect sẽ tiến hành phân tích dữ liệu doanh nghiệp, nhu cầu tuyển dụng và đặc điểm hồ sơ của ứng viên để đề xuất những công việc cho ứng viên, thúc đẩy quá trình tuyển dụng, giảm thiểu chi phí.</p>
                    </div>
                    <div class="image">
                        <!-- <img style="width: 95%" src="https://tuyendung.topcv.vn/assets/images/suggestion.png"
              title="AI đề xuất tuyển dụng nhân sự" alt="AI de xuat tuyen dung nhan su"> -->
                        <svg-icon src="/assets/images/icons/recruiter-homepage-1.svg"></svg-icon>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box-content">
                    <div class="w-75 m-auto">
                        <p class="caption fw-400">Đăng tải, hỗ trợ quảng bá tin tuyển dụng</p>
                        <p class="description fw-400 description-dark">Giúp doanh nghiệp đăng tin, giới thiệu đến cho các ứng viên tiềm năng. Giúp doanh nghiệp tiết kiệm chi phí tuyển dụng</p>
                    </div>
                    <div class="image position-absolute image-bottom">
                        <!-- <img src="https://tuyendung.topcv.vn/assets/images/recruitment-campaign.png"
              title="Thực hiện chiến dịch tuyển dụng" alt="Thuc hien chien dich tuyen dung"> -->
                        <svg-icon src="/assets/images/icons/recruiter-homepage-2.svg"></svg-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="box-content">
                    <div class="w-75 m-auto">
                        <p class="caption fw-400">Hệ thống tìm kiếm CV </p>
                        <p class="description fw-400 description-dark">Giúp nhà tuyển dụng chủ động trong việc tìm kiếm ứng viên theo đúng mong muốn của mình.</p>
                    </div>
                    <div class="image pt-md-4">
                        <!-- <img src="https://tuyendung.topcv.vn/assets/images/cvs-management.png" title="Tính năng quản lý CV"
              alt="Tinh nang quan ly CV"> -->
                        <svg-icon src="/assets/images/icons/recruiter-homepage-3.svg"></svg-icon>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box-content">
                    <div class="w-75 m-auto">
                        <p class="caption fw-400">REPORTING SYSTEM</p>
                        <p class="description fw-400 description-dark">Giúp nhà tuyển dụng biết được chính xác số lượng CV ứng viên qua từng vòng từ vòng nhận CV đến đi làm. Đồng thời cũng đo lường chi phí tuyển dụng theo giá trị thực tế mà doanh nghiệp đã chi trả để tìm kiếm ứng viên.
                        </p>
                    </div>
                    <div class="image">
                        <!-- <img src="https://tuyendung.topcv.vn/assets/images/report-system.png" title="Hệ thống báo cáo tuyển dụng"
              alt="He thong bao cao tuyen dung"> -->
                        <svg-icon src="/assets/images/icons/recruiter-homepage-4.svg"></svg-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="service" class="recruitment-service">
    <div class="container">
        <div class="title">
            <h2 class="highlight fw-500 fs-28">Dịch vụ đăng tin tuyển dụng</h2>
        </div>
        <div class="service-item mb-4">
            <div class="row item-create-job">
                <div class="col-lg-6">
                    <div class="image">
                        <!-- <img src="https://tuyendung.topcv.vn/assets/images/Macbook Pro Flying Mockup.png"
              title="Đăng tin tuyển dụng miễn phí" alt="Dang tin tuyen dung mien phi" class="img-fluid"> -->
                        <svg-icon src="/assets/images/icons/recruiter-homepage-5.svg"></svg-icon>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content">
                        <h3 class="mb-4 fw-500 title-dark fs-22">
                            Đăng tin tuyển dụng miễn phí
                        </h3>
                        <ul class="nav flex-column item mb-3">
                            <li class="nav-link fw-400 fs-14 description-dark pt-0">Đăng tin tuyển dụng miễn phí và không giới hạn số lượng.
                            </li>
                            <li class="nav-link fw-400 fs-14 description-dark pt-0">Đăng tin tuyển dụng dễ dàng, không quá 1 phút.
                            </li>
                            <li class="nav-link fw-400 fs-14 description-dark pt-0">Tiếp cận nguồn CV ứng viên khổng lồ, tìm kiếm ứng viên từ kho dữ liệu hơn 5 triệu hồ sơ.</li>
                            <li class="nav-link fw-400 fs-14 description-dark pt-0">Dễ dàng kiểm duyệt và đăng tin trong 24h.</li>
                        </ul>
                        <!-- <a href="https://tuyendung.topcv.vn/dang-tin-tuyen-dung?ref=you&amp;locale=vi"
              class="btn btn-primary fit-content fw-500 fs-14">Bắt đầu ngay</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="service-item mb-4">
            <div class="row item-advertise-job">
                <div class="col-lg-6">
                    <div class="content">
                        <h3 class="mb-4 fw-500 title-dark fs-22">
                            Top Jobs - Quảng cáo tin tuyển dụng
                        </h3>
                        <ul class="nav flex-column item mb-3">
                            <li class="nav-link fw-400 fs-14 description-dark pt-0">Tăng lượt tiếp cận người tìm việc thêm 300% khi đăng tuyển.</li>
                            <!-- <li class="nav-link fw-400 fs-14 description-dark pt-0">Tin tuyển dụng hiển thị ở những vị trí nổi bật.
              </li>
              <li class="nav-link fw-400 fs-14 description-dark pt-0">Đẩy tin tuyển dụng lên vị trí đầu trong kết quả
                tìm kiếm việc làm trên trang web đăng tin tuyển dụng.</li> -->
                            <li class="nav-link fw-400 fs-14 description-dark pt-0">Tự động gợi ý tin tuyển dụng với ứng viên phù hợp, giúp tuyển dụng hiệu quả hơn.</li>
                        </ul>
                        <!-- <a href="https://tuyendung.topcv.vn/app" class="btn btn-primary fit-content fw-500 fs-14">Bắt đầu ngay</a> -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="image">
                        <!-- <img src="https://tuyendung.topcv.vn/assets/images/1.png" title="Quảng cáo tin tuyển dụng hiệu quả"
              alt="Quang cao tin tuyen dung hieu qua" class="img-fluid"> -->
                        <svg-icon src="/assets/images/icons/recruiter-homepage-left.svg"></svg-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-item mb-4">
            <div class="row item-top-credit">
                <div class="col-lg-6">
                    <div class="image">
                        <!-- <img src="https://tuyendung.topcv.vn/assets/images/001.png" title="Mở CV ứng viên bằng credit"
              class="img-fluid" alt="Mo CV ung vien bang credit"> -->
                        <svg-icon src="/assets/images/icons/recruiter-homepage-center.svg"></svg-icon>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content">
                        <h3 class="mb-4 fw-500 title-dark fs-22">
                            Top Credit - Nạp Credit mở CV ứng viên
                        </h3>
                        <ul class="nav item mb-3">
                            <li class="nav-link fw-400 fs-14 description-dark pt-0">Chủ động tiếp cận 4.000.000+ CV ứng viên với hơn 50% ứng viên có kinh nghiệm từ 3 năm trở lên.</li>
                            <li class="nav-link fw-400 fs-14 description-dark pt-0">Tùy chỉnh các tiêu chí tìm kiếm ứng viên tài năng theo mong muốn: ngành nghề, vị trí tuyển dung, địa điểm làm việc, tính cách ứng viên.</li>
                            <li class="nav-link fw-400 fs-14 description-dark pt-0">Duy nhất tại Hive Connect có chính sách bảo hành dịch vụ với CV sai thông tin.</li>
                        </ul>
                        <!-- <a href="https://tuyendung.topcv.vn/app" class="btn btn-primary fit-content fw-500 fs-14">Bắt đầu ngay</a> -->
                    </div>
                </div>
            </div>
        </div>
        <section class="about-us">
            <div class="container">
                <div class="title">
                    <h2 class="highlight fw-500 fs-28">Về chúng tôi</h2>
                </div>
                <div class="content">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <img src="/assets/images/icons/recruiter-homepage-footer.png" />
                        </div>
                        <div class="col-md-6 pr-5 pb-5 box-description">
                            <div class="description">
                                <p class="fw-400 fs-14 description-dark">
                                    Kết nối đúng người đúng việc là một bài toán rất khó ở Việt Nam, là thách thức của bất kỳ nền tảng tuyển dụng nào. Với năng lực lõi là công nghệ, sứ mệnh của Hive Connect đặt ra cho mình là thay đổi thị trường tuyển dụng - nhân sự ngày một hiệu quả hơn.
                                </p>
                                <p class="fw-400 fs-14 description-dark">
                                    Bằng công nghệ, Hive Connect mang đến các giải pháp toàn diện giúp doanh nghiệp giải quyết đồng thời các bài toán xoay quanh vấn đề tuyển dụng, từ việc quảng bá thương hiệu, xây dựng quy trình, đăng tin tuyển dụng, tìm kiếm ứng viên, sàng lọc cho đến
                                    đánh giá ứng viên và đo lường hiệu quả.
                                </p>
                                <p class="fw-400 fs-14 description-dark">
                                    Mỗi ngày, chúng tôi kết nối hàng nghìn ứng viên tiềm năng với các doanh nghiệp phù hợp, đồng hành cùng hơn 110.000 doanh nghiệp tuyển dụng hiệu quả, từ các tập đoàn đa quốc gia đến các công ty khởi nghiệp trẻ.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>