<div class="upload-image col-3 mb-2 btn-wrapper {{extendClass}}">
  <img [src]="url" alt="">
  <button class="btn btn-none btn-delete" type="button" (click)="onRemove.emit()" *ngIf="showDelete">X</button>
  <button class="btn btn-none btn-fullscreen" type="button" (click)="fullScreen($event,fullScreenTemp)">
    <svg-icon src="/assets/images/icons/Expand.svg"></svg-icon>
  </button>
</div>
<ng-template #fullScreenTemp>
  <img src="{{url}}" alt="">
</ng-template>