@import "../../../../assets/scss/helper";
.upload-image {
  padding: 0;
  background: #ffffff;
  border: 1px dashed $border-color-base;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: relative;
  width: 150px;
  height: 150px;
  img {
    width: 100%;
  }
}
.btn-wrapper {
  .btn-delete {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    background-color: rgb$bg-secondary;
    border-radius: 50%;
    z-index: 10;
  }
  .btn-fullscreen {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
    background-color: $bg-secondary;
    border-radius: 50%;
    z-index: 10;
    width: 48px;
    height: 48px;
  }
  &:hover {
    .btn-delete {
      display: block;
    }
    .btn-fullscreen {
      display: block;
      svg-icon {
        path {
          fill: $primary-color;
        }
      }
    }
  }
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
