<div id="hco-document-root">
  <div id="hco-document" class="hco-document">
    <div class="hco-page">
      <div class="hco-subpage">
        <div [id]="isView ? 'template-2' : 'no-view'">
          <div id="hco-main">
            <div id="group-header">
              <div class="hco-col-8">
                <div id="hco-profile-avatar-wraper" class="profile-item">
                  <img id="hco-profile-avatar" [src]="user.avatar | imageConvert" alt="avatar">
                </div>
                <div id="hco-profile-fullname-wraper">
                  <span id="hco-profile-fullname">{{profile.fullName}}</span>
                </div>
                <!-- <div id="hco-profile-title-wraper">
                  <span id="hco-profile-title">Intern PHP developer</span>
                </div> -->
              </div>
              <div class="hco-col-4" id="group-profile">
                <div id="hco-profile" class="hco-block">
                  <div class="contact-item">
                    <span id="hco-profile-dob">{{profile.birthDate | date: 'dd/MM/YYYY'}}</span>
                  </div>
                  <div class="contact-item">
                    <span id="hco-profile-gender">{{profile.gender ? 'Nam': 'Nữ'}}</span>
                  </div>
                  <div class="contact-item">
                    <span id="hco-profile-phone">{{user.phone}}</span>
                  </div>
                  <div class="contact-item">
                    <span id="hco-profile-email">{{user.email}}</span>
                  </div>
                  <div class="contact-item">
                    <span id="hco-profile-address">{{profile.address}}</span>
                  </div>
                  <div class="contact-item">
                    <span id="hco-profile-website">{{profile.socialLink}}</span>
                  </div>
                </div>

              </div>
            </div>
            <div id="group-top">
              <div id="hco-objective" class="hco-block">
                <div class="hco-block-header">//<span id="hco-objective-blocktitle" class="default_min_width">Giới thiệu
                    bản thân</span>
                </div>
                <div class="hco-block-body">
                  <div class="default_min_width" [innerHTML]="cv.summary | safe: 'html'"></div>
                </div>
              </div>
              <div id="hco-experience" class="hco-block">
                <div class="hco-block-header">//<span id="hco-objective-blocktitle" class="default_min_width">Kinh
                    nghiệm làm
                    việc</span>
                </div>
                <div id="experience-table" class="hco-block-body">
                  <div class="row " *ngFor="let item of cv.workExperiences">
                    <div class="hco-col-4">
                      <div class="hco-experience-company-wraper">
                        <span class="hco-experience-company default_min_width">{{item.companyName}}</span>
                      </div>
                      <div class="hco-experience-time">
                        <span class="hco-experience-start default_min_width">{{item.startDate | date: 'MM/YYYY'}}</span>
                        -
                        <span class="hco-experience-end default_min_width" *ngIf="item.endDate">{{item.endDate | date:
                          'MM/YYYY'}}</span>
                        <span class="hco-experience-end default_min_width" *ngIf="!item.endDate">Đến nay</span>
                      </div>
                    </div>
                    <div class="hco-col-8">
                      <div><span class="hco-experience-position default_min_width"
                          name="cvoData[experience][@index][position]">{{item.position}}</span></div>
                      <div class="hco-experience-details default_min_width"
                        [innerHTML]="item.description | safe: 'html'"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hco-block d-none" id="hco-project">
                <h3 class="hco-block-header">//<span id="hco-project-blocktitle">Kinh nghiệm làm việc</span></h3>
                <div id="project-table" class="hco-block-body">
                  <!-- start row -->
                  <div class="row">
                    <div class="project_title">
                      <h4 class="hco-project-project-name default_min_width cvoInvalidate"></h4>
                      <div class="time">
                        (<span class="hco-project-start start default_min_width cvoInvalidate"></span> - <span
                          class="hco-project-end end default_min_width cvoInvalidate"></span>)
                      </div>
                    </div>
                    <div class="project_details">
                      <table border="1">
                        <tbody>
                          <tr>
                            <th>Khách hàng</th>
                            <td class="hco-project-customer default_min_width cvoInvalidate"></td>
                          </tr>
                          <tr>
                          </tr>
                          <tr>
                            <th>Mô tả dự án</th>
                            <td class="hco-project-description default_min_width cvoInvalidate"></td>
                          </tr>
                          <tr>
                          </tr>
                          <tr>
                            <th>Số lượng thành viên</th>
                            <td class="hco-project-team-size default_min_width cvoInvalidate"></td>
                          </tr>
                          <tr>
                          </tr>
                          <tr>
                            <th>Vị trí công việc</th>
                            <td class="hco-project-my-position default_min_width cvoInvalidate"></td>
                          </tr>
                          <tr>
                          </tr>
                          <tr>
                            <th>Vai trò trong dự án</th>
                            <td class="hco-project-my-responsibility default_min_width cvoInvalidate"></td>
                          </tr>
                          <tr>
                          </tr>
                          <tr>
                            <th>Công nghệ sử dụng</th>
                            <td class="hco-project-technologies-used default_min_width cvoInvalidate"></td>
                          </tr>
                          <tr>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div style="clear: both"></div>
                  </div>
                  <!-- end row -->
                </div>
              </div>
            </div>
            <div class="hco-col-6">
              <div id="group-left">
                <div class="hco-block">
                  <div class="hco-block-header">//<span id="hco-skillrate-blocktitle">Kỹ năng</span></div>
                  <div id="skillrate-table" class="hco-block-body">
                    <div class="row" *ngFor="let item of cv.majorLevels">
                      <div><span class="hco-skillrate-title default_min_width">{{item.majorName}}</span></div>
                      <div class="hco-skillrate-bar" [attr.bval]="levelPercent[item.level]">
                        <span class="hco-skillrate-value"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="hco-block">
                  <div class="hco-block-header">//<span id="hco-skillrate-blocktitle">Ngoại ngữ</span></div>
                  <div id="skillrate-table" class="hco-block-body">
                    <div class="row" *ngFor="let item of cv.languages">
                      <div><span class="hco-skillrate-title default_min_width">{{item.language}}</span></div>
                      <div class="hco-skillrate-bar" [attr.bval]="levelPercent[item.level]">
                        <span class="hco-skillrate-value"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="hco-block">
                  <div class="hco-block-header">//<span id="hco-skillrate-blocktitle">Kỹ Năng khác</span></div>
                  <div id="skillrate-table" class="hco-block-body">
                    <div class="row" *ngFor="let item of cv.otherSkills">
                      <div><span class="hco-skillrate-title default_min_width">{{item.skillName}}</span></div>
                      <div class="hco-skillrate-bar" [attr.bval]="levelPercent[item.level]">
                        <span class="hco-skillrate-value"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="hco-interest" class="hco-block d-none">
                  <div class="hco-block-header">//<span id="hco-interest-blocktitle" class="default_min_width">Sở
                      thích</span>
                  </div>
                  <ul id="interest-table" class="hco-block-body">
                    <li class="row"><span class="hco-interest-details default_min_width">Đọc
                        sách</span></li>
                    <li class="row"><span class="hco-interest-details default_min_width">Xem
                        phim</span></li>
                  </ul>
                  <div style="clear: both"></div>
                </div>
                <div id="hco-activity" class="hco-block d-none">
                  <div class="hco-block-header">//<span id="hco-activity-blocktitle">Hoạt động</span>
                  </div>
                  <div id="activity-table" class="hco-block-body">
                    <div class="row ">
                      <div class="hco-activity-time">
                        <span class="hco-activity-start default_min_width">10/2013</span>
                        - <span class="hco-activity-end default_min_width">08/2014</span>
                      </div>
                      <div class="hco-activity-organization-wraper">
                        <span class="hco-activity-organization default_min_width">CLB Cờ vây fpt</span>
                      </div>
                      <div><span class="hco-activity-position default_min_width">Ban chủ nhiệm clb</span></div>
                      <div class="hco-activity-details default_min_width">Chia sẻ đam mê chơi cờ vây, tổ chức
                        các sự kiện liên quan đến cờ vây</div>
                    </div>
                  </div>
                  <div style="clear: both"></div>
                </div>
                <div class="hco-block d-none" id="hco-additional-info">
                  <div class="hco-block-header">//<span id="hco-additional-info-blocktitle">Thông tin thêm</span></div>
                  <div class="hco-block-body">
                    <div id="hco-additional-information-details">Bản thân là một người ham học hỏi, tìm tòi và
                      đam mê lập trình. Đã có kiến thức cơ bản về Php, bootstrap, nắm vững về OOP</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hco-col-6">
              <div id="group-right">
                <div id="hco-education" class="hco-block">
                  <div class="hco-block-header">//<span id="hco-education-blocktitle">Học vấn</span>
                  </div>
                  <div id="education-table" class="hco-block-body">
                    <div class="row " *ngFor="let item of cv.educations">
                      <div class="hco-education-time">
                        <span class="hco-education-start default_min_width">{{item.startDate | date: 'MM/YYYY'}}</span>
                        - <span class="hco-education-end default_min_width" *ngIf="item.endDate">{{item.endDate | date:
                          'MM/YYYY'}}</span>
                        <span class="hco-education-end default_min_width" *ngIf="!item.endDate">Đến nay</span>
                      </div>
                      <div class="hco-education-school-wraper">
                        <span class="hco-education-school default_min_width">{{item.school}}</span>
                      </div>
                      <div><span class="hco-education-title default_min_width">Chuyên ngành:
                          {{item.major}}</span></div>
                      <div class="hco-education-details default_min_width"
                        [innerHTML]="item.description | safe: 'html'"></div>
                    </div>
                  </div>
                </div>
                <div id="hco-certification" class="hco-block">
                  <div class="hco-block-header">//<span id="hco-certification-blocktitle">Chứng chỉ</span></div>
                  <div id="certification-table" class="hco-block-body">
                    <div class="row " *ngFor="let item of cv.certificates">
                      <div class="hco-certification-title-wraper">
                        <span class="hco-certification-title default_min_width">{{item.certificateName}}</span>
                      </div>
                      <div class="hco-certification-time-wraper d-none">
                        <span class="hco-certification-time default_min_width">2020</span>
                      </div>
                      <div style="clear:both;"></div>
                    </div>
                  </div>
                  <div style="clear: both"></div>
                </div>
                <div id="hco-award" class="hco-block d-none">
                  <div class="hco-block-header">//<span id="hco-award-blocktitle">Giải thưởng</span></div>
                  <div id="award-table" class="hco-block-body">
                    <div class="row ">
                      <div class="hco-award-title-wraper">
                        <span class="hco-award-title default_min_width">Nhân viên xuất
                          sắc năm công ty TOPCV</span>
                      </div>
                      <div class="hco-award-time-wraper">
                        <span class="hco-award-time default_min_width">2014</span>
                      </div>
                      <div style="clear:both;"></div>
                    </div>
                  </div>
                  <div style="clear: both"></div>
                </div>
                <div class="hco-block d-none" id="hco-reference">
                  <div class="hco-block-header">//<span id="hco-reference-blocktitle">Người tham
                      chiếu</span></div>
                  <div id="reference-table" class="hco-block-body">
                    <div class="row">
                      <span class="hco-reference-content color-content default_min_width">
                        Anh... - Trưởng phòng Marketing<br>Công ty TOPCV<br>Điện thoại:...
                      </span>
                    </div>
                  </div>
                  <div style="clear: both;"></div>
                </div>
              </div>
            </div>
            <div style="clear: both;"></div>
          </div>
          <div style="clear: both;"></div>
        </div>
        <div id="cv-watermark">
          © hive-connect-social.web.app
        </div>
      </div>
    </div>
  </div>
</div>