#hco-document-root {
  font-size: 12pt;
  margin: 0 auto;
  padding: 0;
  color: #fff;
}
#cv-suggestion-container {
  color: #555;
  float: right;
  font-size: 14px;
  height: auto;
  line-height: 1.4em;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 0 10px 10px;
  width: 374px;
}
#cv-suggestion-container a {
  color: #0da171;
  font-weight: 500;
}
#cv-suggestion-container h4 {
  border-bottom: 1px solid #ddd;
  font-size: 22px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-bottom: 5px;
}
#cv-suggestion-container p {
  line-height: 20px;
  margin-bottom: 10px;
}
#cv-suggestion-container ul {
  list-style: disc;
  margin: 0 0 8px;
  padding-left: 16px;
}
#cv-suggestion-container ol {
  list-style: decimal;
  margin: 0 0 8px;
  padding-left: 16px;
}
#cv-suggestion-inner {
  padding-right: 10px;
  width: 374px;
}
#cv-suggestion-inner.fixed {
  position: fixed;
  top: 90px;
}
#cv-suggestion-footer {
  border-top: 1px solid #ddd;
  padding-top: 5px;
}
#cv-message,
.suggest-content {
  display: none;
}
#cv-message {
  margin: 10px 0;
}
#cv-message .content {
  background-color: #fbe1e3;
  border-radius: 3px;
  box-shadow: 0 0 2px #e73d4a;
  color: #e73d4a;
  padding: 10px;
}
#loader {
  background-color: #fff;
  display: none;
  height: 100%;
  left: 0;
  padding-top: 100px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 100;
}
#loader span {
  font-size: 20px;
}
#main {
  position: relative;
}
#template-container {
  background-color: #fafafa;
  display: none;
  left: 0;
  min-height: 100%;
  padding-top: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1200;
}
#template-container .template-lang-group {
  display: none;
}
#template-container .template {
  cursor: pointer;
  float: left;
  margin: 20px 44px;
  width: 300px;
}
#template-container .template .thumb {
  border: 4px solid #eee;
  cursor: pointer;
  position: relative;
}
#template-container .template:hover .thumb {
  border: 4px solid #aaa;
}
#template-container .template .thumb .fa {
  background-color: #0da171;
  border-radius: 50%;
  bottom: 10px;
  color: #fff;
  display: block;
  display: none;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 10px;
  text-align: center;
  width: 30px;
}
#template-container .template.active .thumb .fa {
  display: block;
}
#template-container .template .thumb .sale-item {
  height: 89px;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 110px;
  z-index: 0;
}
#template-container .template .name .label {
  border-radius: 8px;
  font-size: 9px;
  font-weight: 400;
  padding: 4px 10px;
  text-transform: uppercase;
  vertical-align: middle;
}
#template-container .template .name .label .fa {
  font-size: 10px;
  margin-right: 2px;
}
#template-container .template .name {
  font-weight: 500;
  padding-top: 5px;
  text-align: center;
}
#template-container .template img {
  width: 100%;
}
#btn-template-cancel {
  margin-right: 50px;
}
.col-xs-6 {
  float: left;
  width: 50%;
}
.col-sm-3 {
  float: left;
  width: 25%;
}
.col-sm-5 {
  float: left;
  width: 41.666666666%;
}
.col-sm-7 {
  float: left;
  width: 58.333333333%;
}
.col-md-5 {
  float: left;
  width: 41.666666666%;
}
.col-md-7 {
  float: left;
  width: 58.333333333%;
}
body#cv-viewer {
  background-color: #525659;
}
#cv-layout-viewer {
  margin-bottom: 90px;
  margin-top: 90px;
}
@media print {
  #cv-layout-viewer {
    margin: 0;
    padding: 0;
  }
  .hco-document .hco-page {
    box-shadow: none;
  }
  body#cv-viewer {
    background-color: #fff;
  }
  #hco-document-root {
    margin: 0 !important;
  }
}
.text-gray {
  color: #999;
}
a.text-gray:hover {
  color: #777;
}
.text-dark-gray {
  color: #666;
}
a.text-dark-gray:hover {
  color: #444;
}
.text-highlight {
  color: #00b14f;
}
a.text-highlight:hover {
  color: #27ae60;
}
.text-red {
  color: #d0011b;
}
a.text-red:hover {
  color: #b1061c;
}
.text-light-red {
  color: #d9534f;
}
.text-white {
  color: #fff;
}
a.text-white:hover {
  color: #efefef;
}
.text-tiny {
  font-size: 10px;
}
.text-normal {
  font-size: 14px;
}
.text-small {
  font-size: 12px;
}
.hco-document .hco-page {
  padding: 0;
  position: relative;
  background: #282822;
}
.hco-document .hco-subpage {
  padding: 0;
  background: #282822;
}
#hco-body {
  font-size: 13px;
  line-height: 1.4em;
  font-weight: 400;
  color: #333;
  font-family: source code pro, Arial, sans-serif;
}
#hco-main {
  padding: 8mm 6mm;
}
#group-header:after,
#group-top:after,
#hco-profile:after {
  display: block;
  content: " ";
  clear: both;
  height: 0;
  width: 0;
}
.hco-col-6 {
  float: left;
  width: 50%;
}
.hco-col-9 {
  float: left;
  width: 75%;
}
.hco-col-8 {
  float: left;
  width: 66.6666666667%;
}
.hco-col-4 {
  float: left;
  width: 33.3333333333%;
}
.hco-col-3 {
  float: left;
  width: 25%;
}
#group-header {
  margin-bottom: 20px;
}
#group-header .hco-col-3 {
  text-align: right;
}
#hco-profile-fullname-wraper {
  margin-bottom: 5px;
  padding-top: 30px;
}
#hco-profile-title-wraper {
}
#hco-profile-fullname {
  font-size: 32px;
  line-height: 1em;
  font-weight: 500;
  padding-left: 7px;
  color: #a6e22f;
}
#hco-profile-title {
  font-size: 18px;
  font-weight: 300;
  padding-left: 7px;
}
#hco-profile-avatar-wraper {
  display: inline-block;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  float: left;
  margin: 7px 0 0 7px;
  background-color: #fff;
}
#hco-profile-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#group-top {
}
#group-left .hco-block:last-child,
#group-right .hco-block:last-child {
  margin-bottom: 0;
}
#hco-profile .contact-item {
  position: relative;
  font-weight: 500;
  margin-bottom: 1px;
  text-align: right;
  word-break: break-word;
}
#group-left {
  padding: 10px 0 0;
}
#group-right {
  padding: 10px 0 0;
}
.hco-block {
  margin-bottom: 20px;
  padding: 7px;
}
.hco-block-header {
  position: relative;
  margin-bottom: 3px;
  font-size: 16px;
  font-weight: 400;
  color: #959595;
  #hco-objective-blocktitle {
    color: #656565;
  }
}
.hco-block-header span {
  text-transform: uppercase;
  padding-left: 4px;
}
.hco-block-body {
  word-break: break-word;
  padding-left: 0;
}
.hco-education-title,
.hco-experience-position,
.hco-activity-position {
  font-weight: 600;
  font-size: 15px;
}
.hco-experience-position,
.hco-education-title {
  color: #66d9ef !important;
}
.hco-education-school,
.hco-experience-company,
.hco-activity-organization {
  font-weight: 700;
  font-size: 15px;
}

.hco-experience-company,
.hco-education-school {
  color: #e7256b !important;
}
.hco-skillrate-bar {
  width: 100%;
  height: 7px;
  position: relative;
}
.hco-skillrate-value {
  width: 80%;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
}
.hco-skillrate-bar[bval="1"] .hco-skillrate-value {
  width: 20%;
}
.hco-skillrate-bar[bval="2"] .hco-skillrate-value {
  width: 40%;
}
.hco-skillrate-bar[bval="3"] .hco-skillrate-value {
  width: 60%;
}
.hco-skillrate-bar[bval="4"] .hco-skillrate-value {
  width: 80%;
}
.hco-skillrate-bar[bval="5"] .hco-skillrate-value {
  width: 100%;
}
#interest-table .row {
  margin-bottom: 5px;
}
#hco-education .row,
#hco-activity .row,
#hco-experience .row {
  margin-bottom: 15px;
}
#hco-experience .row:after {
  display: block;
  content: " ";
  clear: both;
  height: 0;
  width: 0;
}
#hco-certification .row,
#hco-award .row,
#hco-skillrate .row,
#hco-reference .row {
  margin-bottom: 13px;
}
#hco-education .row:last-child,
#hco-activity .row:last-child,
#hco-experience .row:last-child,
#hco-certification .row:last-child,
#hco-award .row:last-child,
#hco-skillrate .row:last-child,
#hco-reference .row:last-child {
  margin-bottom: 0;
}
#hco-profile {
  margin-bottom: 0;
  color: #fff;
}
#hco-profile-phone,
#hco-profile-email {
  min-width: 180px;
}
#project-table .row {
  margin-bottom: 20px;
}
#project-table .row:last-child {
  margin-bottom: 0;
}
.project_title {
  padding-bottom: 2px;
}
.project_title h4 {
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
}
.project_title .time {
  display: inline-block;
}
.project_details table {
  width: 100%;
  border-top: 1px dashed #ccc;
}
.project_details th {
  border-bottom: 1px dashed #ccc;
  border-right: 1px dashed #ccc;
}
.project_details td {
  border-bottom: 1px dashed #ccc;
}
.project_details th,
.project_details td {
  padding: 5px;
}
.project_details th {
  width: 33.3333333333%;
  font-weight: 600;
  text-align: left;
}
.project_details td {
  width: 100%;
}
.project_details .hco-project-customer {
}
.project_details .hco-project-description {
}
#project-table .start.cvoInvalidate,
#project-table .end.cvoInvalidate {
  min-width: 70px;
  text-align: center;
}
.project_details th {
  vertical-align: middle;
}
.hco-skillrate-title {
  font-weight: 600;
}
#cv-watermark {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 13px;
  color: #555;
}
#hco-document {
  margin-bottom: 0;
}
@media print {
  .hco-document .hco-page {
    position: initial;
  }
  #hco-main {
    page-break-after: always;
  }
  .hco-block .row {
    page-break-inside: avoid;
  }
}
@page {
  margin: 8mm !important;
}
@page {
  size: A4;
  margin: 0;
  padding: 0;
}
body {
}
b {
  font-weight: 700;
}
#hco-document-root {
  margin: 0 auto;
  padding: 0;
  font-size: 12pt;
  position: relative;
}
.hco-form {
  display: none;
}
#hco-document {
  color: #000;
}
.hco-document {
  width: 100%;
}
.hco-clickable-link {
  color: inherit !important;
}
.hco-document .hco-page {
  width: 210mm;
  min-height: 260mm;
  // padding: 20mm;
  margin: 0 auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  background-color: #282822;
}
.hco-document .hco-subpage {
  padding: 5mm;
  min-height: 200mm;
}
img[hco-form-field][type="image"]:hover {
  outline: 1px dashed #77a5cc;
  cursor: pointer;
}
.default_min_width {
  min-width: 25pt;
  color: #eeeee8;
}
.cvoInvalidate {
  outline: 1px dashed #fc4b08;
  color: red;
}
.cvoInvalidate:hover:after {
  font-family: helvetica neue, Helvetica, Arial, sans-serif;
  content: attr(error-tooltip);
  position: absolute;
  z-index: 1;
  bottom: 100%;
  margin-bottom: 3px;
  right: 0;
  width: 180px;
  background-color: rgba(251, 88, 88, 0.86);
  font-size: 11px;
  line-height: 1.6em;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
#cv-title {
  padding: 5px 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-bottom: 8px;
  font-size: 20px;
}
#cv-title[contenteditable] {
  outline: 1px dashed #ccc;
}
#cvbuilder-container .hco-block:hover {
  position: relative;
  box-shadow: 0 0 0 2px #ccc inset;
  border-radius: 0 4px 4px 4px;
  -moz-border-radius: 0 4px 4px 4px;
  -webkit-border-radius: 0 4px 4px 4px;
}
#blockControls {
  display: none;
}
#hco-document .hco-block .blockControls {
  font-family: arial, sans-serif;
  position: absolute;
  z-index: 1000;
  height: 36px;
  top: -36px;
  left: 0;
  text-align: center;
  padding: 0 8px;
  text-shadow: none;
  display: block;
  background-color: #ccc;
  opacity: 1;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}
#hco-document .hco-block .blockControls * {
  text-shadow: none;
}
#hco-document .hco-block .blockControls .show-layout-editor,
#hco-document .hco-block .blockControls .hide,
#hco-document .hco-block .blockControls .up,
#hco-document .hco-block .blockControls .down {
  font-family: tahoma;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  margin: 0 auto;
  line-height: 14px;
  font-size: 12px;
  width: 50px;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin-top: 6px;
}
#hco-document .hco-block .blockControls .hide {
  background-color: #f15c4c;
  width: 90px;
}
#hco-document .hco-block .blockControls .hide:hover {
  background-color: red;
}
#hco-document .hco-block .blockControls .show-layout-editor,
#hco-document .hco-block .blockControls .down,
#hco-document .hco-block .blockControls .up {
  width: 30px;
  background-color: #fcfcfc;
  color: #666;
}
#hco-document .hco-block .blockControls .show-layout-editor:hover,
#hco-document .hco-block .blockControls .down:hover,
#hco-document .hco-block .blockControls .up:hover {
  color: #18b18f;
}
#experience-table {
  .hco-col-4,
  .hco-col-8 {
    border: 1px dashed white;
  }
  .hco-col-4 {
    border-right: none;
  }
}
