<div class="bg-white p-3 radius-8 ">
  <table class="table table-striped" *ngIf="jobFollow$ | async; let jobs;else loadingTemp">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên công việc</th>
        <th class="text-end">Mức lương</th>
        <th>Tên công ty</th>
        <th>Địa điểm làm việc</th>
        <th>Hạn ứng tuyển</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of jobs">
        <td class="text-center">{{item.stt}}</td>
        <td class="text-start">{{item.jobName}}</td>
        <td class="text-end">{{item.fromSalary | moneyConvert}} - {{item.toSalary | moneyConvert}}</td>
        <td>{{item.companyName}}</td>
        <td class="text-start">{{item.workPlace}}</td>
        <td>{{item.endDate | date: 'dd-MM-YYYY'}}</td>
        <td>
          <a [routerLink]="['/job',item.jobId || item.id || 0]"><button class="btn btn-primary fit-content me-3">Xem
              Công
              việc</button></a>
          <button class="btn btn-danger" (click)="unFollow(item)">
            <span>Bỏ theo dõi</span>
          </button>
        </td>
      </tr>
      <tr *ngIf="!loading && jobs.length === 0">
        <td [colSpan]="6" class="text-center">
          <p>Bạn chưa theo dõi công việc nào</p>
          <p><a [routerLink]="['/search']" class="color-primary">Vào đây để xem
              công việc mới nhất</a></p>
        </td>
      </tr>
      <tr *ngIf="loading">
        <td class="overflow-hidden">
          <hc-skeleton></hc-skeleton>
        </td>
        <td class="overflow-hidden">
          <hc-skeleton></hc-skeleton>
        </td>
        <td class="overflow-hidden">
          <hc-skeleton></hc-skeleton>
        </td>
        <td class="overflow-hidden">
          <hc-skeleton></hc-skeleton>
        </td>
        <td class="overflow-hidden">
          <hc-skeleton></hc-skeleton>
        </td>
        <td class="overflow-hidden">
          <hc-skeleton></hc-skeleton>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination [previousText]="'Trang trước'" [nextText]="'Trang sau'" [totalItems]="total"
    [itemsPerPage]="pagination.pageSize" (pageChanged)="pageChanged($event)"
    *ngIf="!loading && total > pagination.pageSize">
  </pagination>
</div>
<ng-template #loadingTemp>
  <hc-skeleton></hc-skeleton>
</ng-template>