<div class="wrapper banner">
    <div class="p-3 ">
        <p class=" fz-20">Tên gói dịch vụ: <span class="fw-bold">{{banner.title}}</span></p>
        <p>Giá tiền: <span [ngClass]="{'text-decoration-line-through': banner.discount}">
                {{banner.price | moneyConvert}}</span>
            <span class="text-danger" *ngIf="banner.discount"> {{banner.discount | moneyConvert}}</span>
        </p>
        <p>Thời gian hiệu lực: {{banner.timeExpired}}</p>
        <p class="">Mô tả: <span class="fw-bold" [innerHTML]="banner.description | safe: 'html'"></span></p>
    </div>
    <div class="p-3">
        <p>Lợi ích: </p>
        <ol class="list-group list-group-flush">
            <li class="list-group-item">
                <ng-container [ngTemplateOutlet]="benefit"
                    [ngTemplateOutletContext]="{name:'Popup khi vào trang chủ',value:banner.spotlight}">
                </ng-container>
            </li>
            <li class="list-group-item">
                <ng-container [ngTemplateOutlet]="benefit"
                    [ngTemplateOutletContext]="{name:'Trang chủ khu vực A',value:banner.homepageBannerA}">
                </ng-container>
            </li>
            <li class="list-group-item">
                <ng-container [ngTemplateOutlet]="benefit"
                    [ngTemplateOutletContext]="{name:'Trang chủ khu vực B',value:banner.homePageBannerB}">
                </ng-container>
            </li>
            <li class="list-group-item">
                <ng-container [ngTemplateOutlet]="benefit"
                    [ngTemplateOutletContext]="{name:'Trang chủ khu vực C',value:banner.homePageBannerC}">
                </ng-container>
            </li>
            <li class="list-group-item">
                <ng-container [ngTemplateOutlet]="benefit"
                    [ngTemplateOutletContext]="{name:'Trang công việc khu vực A',value:banner.jobBannerA}">
                </ng-container>
            </li>
            <li class="list-group-item">
                <ng-container [ngTemplateOutlet]="benefit"
                    [ngTemplateOutletContext]="{name:'Trang công việc khu vực B',value:banner.jobBannerB}">
                </ng-container>
            </li>
            <li class="list-group-item">
                <ng-container [ngTemplateOutlet]="benefit"
                    [ngTemplateOutletContext]="{name:'Trang công việc khu vực C',value:banner.jobBannerC}">
                </ng-container>
            </li>
        </ol>
    </div>
</div>

<ng-template #benefit let-value="value" let-name="name">
    <span class="m-0">{{name}}: {{value ? 'Có' :'Không'}}</span>
</ng-template>