<ng-container *ngIf="(user$ | async) as user; else loading">
  <ng-container *ngIf="user; else loading">
    <div class="d-flex gap-24 align-items-center mb-16" *ngIf="(user$ | async) as user ">
      <div class="position-relative avatar-wrapper">
        <img src="{{user.avatar | imageConvert}}" alt="avatar" width="112" height="112"
          class="border border-primary rounded-circle image-cover">
        <button class="btn btn-none position-absolute avatar-upload" (click)="input.click()">
          <svg-icon src="/assets/images/icons/camera-avatar.svg"></svg-icon>
        </button>
      </div>
      <span class="fz-24">{{profile.fullName || user.username}}</span>
    </div>
    <div class="d-flex gap-24 align-items-center more-info">
      <!-- <div class="form-control">
        <select class="form-select primary" [(ngModel)]="newField" (ngModelChange)="newFieldChange($event)"
          [disabled]="listDropdown.length === 0">
          <option value="">Thêm thông tin</option>
          <option [value]="item.value" *ngFor="let item of listDropdown">{{item.label}}</option>
        </select>
      </div> -->
      <a class="btn btn-primary bg-primary text-white fit-content" [routerLink]="['../export-cv']">Xuất CV</a>
      <!-- <button class="btn btn-primary fit-content" disabled>Chia sẻ CV</button> -->
    </div>
  </ng-container>
</ng-container>

<ng-template #loading>
  <hc-post-skeleton></hc-post-skeleton>
</ng-template>
<input type="file" name="" id="" class="d-none" hcFileHandle #input accept="image/jpeg,image/jpg,image/png"
  (onFileHandleFinish)="uploadFinish($event)" [typeProcess]="'image'">