#hco-document-root {
  font-size: 12pt;
  margin: 0 auto;
  padding: 0;
}
#cv-suggestion-inner {
  padding-right: 10px;
  width: 374px;
}
#cv-suggestion-inner.fixed {
  position: fixed;
  top: 90px;
}
#cv-suggestion-footer {
  border-top: 1px solid #ddd;
  padding-top: 5px;
}
#cv-message,
.suggest-content {
  display: none;
}
#cv-message {
  margin: 10px 0;
}
#cv-message .content {
  background-color: #fbe1e3;
  border-radius: 3px;
  box-shadow: 0 0 2px #e73d4a;
  color: #e73d4a;
  padding: 10px;
}
#loader {
  background-color: #fff;
  display: none;
  height: 100%;
  left: 0;
  padding-top: 100px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 100;
}
#loader span {
  font-size: 20px;
}
#main {
  position: relative;
}
#template-container {
  background-color: #fafafa;
  display: none;
  left: 0;
  min-height: 100%;
  padding-top: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1200;
}
#template-container .template-lang-group {
  display: none;
}
#template-container .template {
  cursor: pointer;
  float: left;
  margin: 20px 44px;
  width: 300px;
}
#template-container .template .thumb {
  border: 4px solid #eee;
  cursor: pointer;
  position: relative;
}
#template-container .template:hover .thumb {
  border: 4px solid #aaa;
}
#template-container .template .thumb .fa {
  background-color: #0da171;
  border-radius: 50%;
  bottom: 10px;
  color: #fff;
  display: block;
  display: none;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 10px;
  text-align: center;
  width: 30px;
}
#template-container .template.active .thumb .fa {
  display: block;
}
#template-container .template .thumb .sale-item {
  height: 89px;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 110px;
  z-index: 0;
}
#template-container .template .name .label {
  border-radius: 8px;
  font-size: 9px;
  font-weight: 400;
  padding: 4px 10px;
  text-transform: uppercase;
  vertical-align: middle;
}
#template-container .template .name .label .fa {
  font-size: 10px;
  margin-right: 2px;
}
#template-container .template .name {
  font-weight: 500;
  padding-top: 5px;
  text-align: center;
}
#template-container .template img {
  width: 100%;
}
#btn-template-cancel {
  margin-right: 50px;
}
footer {
  border-top: 1px solid #dfdfdf;
  line-height: 26px;
}
footer a {
  color: #666;
  cursor: pointer;
}
footer a:active,
footer a:focus,
footer a:hover {
  color: #444;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer h5 {
  color: #666;
  font-weight: 700;
}
footer .footer-headline-br {
  border-top: 1px solid #979797;
  margin-bottom: 20px;
  width: 40px;
}
@media (min-width: 768px) {
  .footer-top .footer-col-left {
    box-shadow: inset -30px 1px 30px -16px #eee;
    float: left;
  }
  .footer-top .footer-col-right {
    float: right;
    padding-left: 50px;
  }
}
.footer-top {
  background-color: #fff;
}
.footer-top .footer-col-left,
.footer-top .footer-col-right {
  padding-bottom: 40px;
  padding-top: 40px;
}
.footer-bottom {
  border-top: 1px solid #dfdfdf;
  padding: 15px 0;
}
.footer-logo-wraper {
  margin-bottom: 20px;
}
.footer-logo {
  width: 110px;
}
footer .social-icons {
  margin-bottom: 10px;
}
footer .social-icons a {
  color: #999;
  display: inline-block;
  font-size: 1.2em;
  margin-right: 5px;
}
.col-xs-6 {
  float: left;
  width: 50%;
}
.col-sm-3 {
  float: left;
  width: 25%;
}
.col-sm-5 {
  float: left;
  width: 41.666666666%;
}
.col-sm-7 {
  float: left;
  width: 58.333333333%;
}
.col-md-5 {
  float: left;
  width: 41.666666666%;
}
.col-md-7 {
  float: left;
  width: 58.333333333%;
}
body#cv-viewer {
  background-color: #525659;
}
#cv-layout-viewer {
  margin-bottom: 90px;
  margin-top: 90px;
}
@media print {
  #cv-layout-viewer {
    margin: 0;
    padding: 0;
  }
  .hco-document .hco-page {
    box-shadow: none;
  }
  body#cv-viewer {
    background-color: #fff;
  }
  #hco-document-root {
    margin: 0 !important;
  }
}
#header-viewer {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  height: 50px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
#header-viewer h1 {
  color: #ddd;
  float: left;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 0 0 20px;
}
#header-viewer .btn-download-cover-letter,
#header-viewer .btn-download-cv,
#header-viewer .btn-download-cv-private a {
  background: transparent;
  color: #ccc;
  cursor: pointer;
  float: right;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 20px;
}
#header-viewer .btn-download-cover-letter:hover,
#header-viewer .btn-download-cv-private:hover a,
#header-viewer .btn-download-cv:hover {
  color: #fff;
}
#header-viewer .copy-cv {
  background: transparent;
  color: #ccc;
  cursor: pointer;
  float: right;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 20px;
}
#header-viewer .copy-cv a:hover {
  color: #fff;
}
#header-viewer .copy-cv a {
  color: #ccc;
}
.text-center {
  text-align: center;
}
@page {
  size: A4;
  margin: 0;
  padding: 0;
}
#hco-document-root {
  margin: 0 auto;
  padding: 0;
  font-size: 12pt;
  position: relative;
}
.hco-form {
  display: none;
}
#hco-document {
  color: #000;
}
.hco-document {
  width: 100%;
}
.hco-clickable-link {
  color: inherit !important;
}
.hco-document .hco-page {
  width: 210mm;
  min-height: 260mm;
  padding: 20mm;
  margin: 0 auto;
  // box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border: 1px solid #451da0;
}
.hco-document .hco-subpage {
  padding: 5mm;
  min-height: 200mm;
}
.saveBtns {
  text-align: center;
}
.tmpAbsoluteHidden {
  position: absolute;
  top: -10000cm;
}
img[hco-form-field][type="image"]:hover {
  outline: 1px dashed #77a5cc;
  cursor: pointer;
}
.default_min_width {
  min-width: 25pt;
}
.cvoInvalidate {
  outline: 1px dashed #fc4b08;
  color: red;
}
.cvoInvalidate:hover:after {
  font-family: helvetica neue, Helvetica, Arial, sans-serif;
  content: attr(error-tooltip);
  position: absolute;
  z-index: 1;
  bottom: 100%;
  margin-bottom: 3px;
  right: 0;
  width: 180px;
  background-color: rgba(251, 88, 88, 0.86);
  font-size: 11px;
  line-height: 1.6em;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
#cv-title {
  padding: 5px 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-bottom: 8px;
  font-size: 20px;
}
#cv-title[contenteditable] {
  outline: 1px dashed #ccc;
}
#cvbuilder-container .hco-block:hover {
  position: relative;
  box-shadow: 0 0 0 2px #ccc inset;
  border-radius: 0 4px 4px 4px;
  -moz-border-radius: 0 4px 4px 4px;
  -webkit-border-radius: 0 4px 4px 4px;
}
#blockControls {
  display: none;
}
#hco-document .hco-block .blockControls {
  font-family: arial, sans-serif;
  position: absolute;
  z-index: 1000;
  height: 36px;
  top: -36px;
  left: 0;
  text-align: center;
  padding: 0 8px;
  text-shadow: none;
  display: block;
  background-color: #ccc;
  opacity: 1;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}
#hco-document .hco-block .blockControls * {
  text-shadow: none;
}
#hco-document .hco-block .blockControls .show-layout-editor,
#hco-document .hco-block .blockControls .hide,
#hco-document .hco-block .blockControls .up,
#hco-document .hco-block .blockControls .down {
  font-family: tahoma;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  margin: 0 auto;
  line-height: 14px;
  font-size: 12px;
  width: 50px;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin-top: 6px;
}
#hco-document .hco-block .blockControls .hide {
  background-color: #f15c4c;
  width: 90px;
}
#hco-document .hco-block .blockControls .hide:hover {
  background-color: red;
}
#hco-document .hco-block .blockControls .show-layout-editor,
#hco-document .hco-block .blockControls .down,
#hco-document .hco-block .blockControls .up {
  width: 30px;
  background-color: #fcfcfc;
  color: #666;
}
#hco-document .hco-block .blockControls .show-layout-editor:hover,
#hco-document .hco-block .blockControls .down:hover,
#hco-document .hco-block .blockControls .up:hover {
  color: #18b18f;
}
.paging-separator {
  position: absolute;
  width: 1px;
  transition: all 0.3s ease;
  border-bottom: 1px dashed transparent;
  z-index: 1024;
}
.paging-separator:hover {
  border-bottom: 1px dashed #1fbc89;
}
.paging-arrow {
  width: 45px;
  height: 20px;
  background-color: rgba(31, 188, 137, 0.6);
  color: #fff;
  font-size: 11px;
  line-height: 20px;
  text-align: center;
  margin-left: -45px;
  margin-bottom: -10px;
  cursor: default;
  transition: all 0.3s ease;
  border-radius: 3px 0 0 3px;
}

.hco-document .hco-page {
  padding: 0;
  position: relative;
  color: #2c69a5;
}
.hco-document .hco-subpage {
  padding: 0;
  padding-bottom: 1cm;
}
#hco-body {
  margin: 0 auto;
  width: 100%;
  position: relative;
  font-family: robotocondensed, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}
#col-right {
  width: 65%;
  float: right;
  min-height: 560px;
}
#group-col-right {
  padding-top: 20px;
  padding-right: 16px;
  width: 100%;
}
#col-left {
  width: 35%;
  min-height: 560px;
  float: left;
}
#col-left .hco-block {
  width: 100%;
  padding: 5px 12px;
}
#hco-profile-avatar-wraper {
  padding: 10px 0;
  text-align: center;
  display: inline-table;
}
#col-left .hco-block-title {
  margin: 0 0 5px;
  font-size: 18px;
  line-height: 32px;
  text-transform: capitalize;
  font-weight: 700;
}
#col-left .hco-block-title span {
  display: inline-block;
  padding-right: 5px;
  width: 100%;
  vertical-align: middle;
  color: #2c69a5;
}
@supports (overflow: -webkit-marquee) and (justify-content: inherit) {
  #col-left .hco-block-title span {
    font-weight: 400;
  }
}
#col-left #hco-profile {
  width: 100%;
  padding: 0;
  margin-top: 0;
}
#profile-title-wrapper {
  text-align: center;
  padding: 10px;
}
.block-name-profile {
  text-align: left;
  margin-left: 10px;
  margin-top: 15px;
  position: relative;
}
#hco-profile-blocktitle {
  padding-left: 3px !important;
}
#cvbuilder-container #hco-profile:hover #profile-title-wrapper {
  box-shadow: 0 2px 0 2px #ccc inset;
}
#profile-title-wrapper [contenteditable="true"]:empty:before {
  content: attr(hco-placeholder);
  color: #bbb;
  font-weight: 100;
}
#profile-title-wrapper .cvoInvalidate {
  color: orange;
}
#hco-profile-fullname {
  margin-top: 15px;
  font-size: 22px;
  font-weight: 700;
  width: 100%;
  line-height: 34px;
  display: inline-block;
  text-transform: uppercase;
  color: #2c69a5;
  word-break: break-word;
}
#hco-profile-title {
  min-width: 50%;
  font-size: 14px;
  font-weight: 700;
  color: #2c69a5;
  text-transform: capitalize;
  background-color: #e6f1fd;
  padding: 0 15px;
  border-radius: 30px/30px;
  -webkit-border-radius: 30px/30px;
  -moz-border-radius: 30px/30px;
  line-height: 2.2;
  margin-left: 30px;
  word-break: break-word;
  display: inline-block;
}
.block-name-profile i.fa {
  width: 25px;
  height: 25px;
  background-color: #2c69a5;
  color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: 10px;
  line-height: 25px;
  position: absolute;
  margin-top: 2px;
}
#hco-profile-avatar {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  margin-left: -10px;
}
#hco-profile-avatar-outer {
  width: 170px;
  height: 170px;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#hco-profile-website {
  width: 170px;
  word-break: break-all;
}
#profile-contact-wraper {
  width: 90%;
  margin: 10px auto;
  padding: 10px 8px;
  border-radius: 5px;
}
#profile-contact-wraper div {
  padding: 5px 0;
}
#profile-contact-wraper i.fa {
  width: 25px;
  height: 25px;
  background-color: #2c69a5;
  color: #fff;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  line-height: 25px;
}
#profile-contact-wraper span {
  padding-left: 15px;
  width: 188px;
  vertical-align: middle;
  padding-top: 3px;
}
#profile-contact-wraper span#hco-profile-email {
  word-break: break-all;
}
.hco-profile-info-row {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
}
#hco-objective-objective {
  width: 100%;
}
#hco-skillrate {
  padding-left: 0;
  padding-right: 0;
}
#hco-skillrate {
  padding-left: 0;
}
#skillrate-table .row {
  margin-bottom: 14px;
  color: #fff;
}
#hco-interest {
  padding-left: 0;
  padding-right: 0;
}
.interest-item {
  background-color: #f5f5f5;
  padding: 3px 8px;
  border-radius: 4px;
  margin-right: 6px;
  margin-bottom: 6px;
  float: left;
}
.hco-interest-wrapper {
  display: inline-block;
}
#interest-table .row {
  margin-bottom: 15px;
}
#interest-table li {
  width: 100%;
  list-style-type: circle;
}
.hco-interest-details {
  width: 100%;
  vertical-align: top;
}
.block-title-section-icon {
  width: 8px;
  height: 30px;
  border-radius: 8px;
  background-color: #00b14f;
  margin-left: -4px;
}
.hco-block-content-wrapper {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  flex-direction: row;
  word-break: break-word;
}
.block-title-section-content {
  margin-left: 16px;
  width: 100%;
}
#col-right .hco-block {
  width: 100%;
  padding: 3px 0;
}
#col-right .hco-block-title {
  margin: 0 0 10px;
  font-size: 20px;
  line-height: 32px;
  text-transform: capitalize;
  font-weight: 700;
}
#col-right .hco-block-title span:nth-child(2) {
  width: 440px;
  vertical-align: middle;
}
#col-right .hco-block-title.no-horizontal-line {
  background-image: none;
}
#col-right .hco-block-title i.fa {
  color: #fff;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  padding-top: 10px;
  margin-right: 5px;
}
#col-right .hco-block-title span {
  display: inline-block;
  padding-right: 5px;
  width: 100%;
}
#col-right .row {
  margin: 5px 0;
}
.row-title {
  margin-bottom: 5px;
  padding-top: 10px;
  width: 100%;
  word-break: break-word;
}
.row-details {
  margin-top: 10px;
}
.row-details [hco-form-field] {
  width: 100%;
}
.hco-info-wrapper,
.block-detail-company {
  display: inline-block;
  margin-top: 10px;
  width: 100%;
}
.hco-info-separator {
  height: 16px;
  width: 1px;
  background-color: #333;
  float: left;
  margin: 0 8px;
}
.hco-section-wrapper {
  float: left;
  text-transform: uppercase;
  text-align: left;
  font-weight: 700;
}
.hco-section-info-value {
  min-width: 33%;
  padding-left: 8px;
}
.hco-section-time-value,
.hco-experience-time,
.hco-activity-time {
  font-size: 1em;
  float: right;
  text-transform: capitalize;
  width: 38%;
  text-align: right;
  font-weight: 700;
}
.hco-section-time-value .hco-background-time,
.hco-experience-time .hco-background-time,
.hco-activity-time .hco-background-time {
  background-color: #e6f1fd;
  padding: 1px 10px;
  border-radius: 15px;
  width: fit-content;
  float: right;
  white-space: nowrap;
}
.hco-section-time-value .default_min_width {
  min-width: 15pt;
}
.hco-education-school-wraper {
  width: 73%;
  padding-right: 5px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 700;
  float: left;
}
.hco-education-school {
  text-transform: capitalize;
}
.hco-education-time {
  font-size: 1em;
  float: left;
  text-transform: uppercase;
}
.hco-education-time .default_min_width {
  min-width: 15pt;
}
.hco-education-title {
  min-width: 33%;
  font-weight: 700;
}
.hco-experience-time .default_min_width {
  min-width: 15pt;
}
.hco-experience-company-wraper {
  float: left;
  text-transform: uppercase;
  text-align: left;
  font-weight: 700;
}
.hco-experience-company {
  text-transform: capitalize;
}
.hco-experience-position {
  min-width: 33%;
  font-weight: 700;
}
.hco-activity-organization-wraper {
  float: left;
  text-transform: uppercase;
  text-align: left;
  font-weight: 700;
}
.hco-activity-organization {
  text-transform: capitalize;
}
.hco-activity-time .default_min_width {
  min-width: 15pt;
}
.hco-activity-position {
  min-width: 33%;
  font-weight: 700;
}
.hco-award-title {
  margin-top: 10px;
}
.hco-award-time-wraper,
.hco-certification-time-wraper {
  text-transform: uppercase;
  text-align: left;
  font-weight: 700;
}
.hco-award-time {
  font-size: 1em;
  text-transform: uppercase;
}
.hco-certification-time {
  font-size: 1em;
  float: left;
  text-transform: uppercase;
}
.hco-award-time-wraper .default_min_width,
.hco-certification-time-wraper .default_min_width {
  min-width: 15pt;
}
#reference-table .row:nth-child(odd) {
  padding-right: 10px;
}
#reference-table .row:nth-child(even) {
  padding-left: 10px;
}
#reference-table .row:only-child {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
#reference-table .hco-reference-content {
  width: 100%;
}
#hco-additional-info #hco-additional-information-details {
  width: 100%;
  display: inline-block;
  margin-bottom: 15px;
}
.hidden-time .hco-education-school-wraper,
.hidden-time .hco-activity-organization-wraper,
.hidden-time .hco-experience-company-wraper,
.hidden-time .hco-award-title-wraper,
.hidden-time .hco-cerrtification-title-wraper {
  width: 100%;
}
#cv-watermark {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 12px;
  color: #555;
}
.label-top {
  width: 33px;
  height: 110px;
  background-color: #e6f1fd;
  margin-top: -20px;
  margin-left: 22px;
}
#skill-table,
#award-table,
#activity-table,
#certification-table,
#experience-table,
.interests-content,
#hco-objective-objective,
#education-table,
#hco-additional-information-details,
#reference-table {
  background-color: #fafafa;
  border-radius: 10px;
  padding: 15px;
  line-height: 2;
}
.hco-education-details {
  padding-left: 10px;
  position: relative;
}
.hco-skillgroup-skill-description {
  padding-left: 10px;
  position: relative;
}
.hco-skillgroup-skill-description:after,
.hco-education-details:after {
  content: "\A";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #2c69a5;
  position: absolute;
  display: block;
  top: 11px;
  left: 0;
}
.title-common-before {
  position: relative;
  margin-left: 15px;
  padding-left: 5px;
}
.hco-block-title .title-common-before:after {
  content: "//";
  position: absolute;
  left: -15px;
}
.block-education-title,
.block-experience-position,
.block-activity-position {
  float: left;
  width: 60%;
}
@media print {
  .hco-document .hco-page {
    position: initial;
  }
  #group-col-right .hco-block {
    padding-right: 12px;
  }
  #hco-main {
    page-break-after: always;
  }
  .hco-block .row {
    page-break-inside: avoid;
  }
}
@page {
  margin: 1cm;
}
