<div id="hco-document-root">
  <div id="hco-document" class="hco-document">
    <div class="hco-page">
      <div class="hco-subpage">
        <div [id]="isView ? 'template-1' : 'no-view'">
          <!--Header-->
          <div id="hco-main">
            <div id="col-left">
              <!-- #group-top-left -->
              <div id="group-top-left">
                <div id="hco-profile" class="hco-block">
                  <div id="profile-title-wrapper">
                    <div id="hco-profile-avatar-wraper">
                      <div id="hco-profile-avatar-outer">
                        <img id="hco-profile-avatar" src="{{user.avatar | imageConvert}}">
                      </div>
                      <div class="label-top"></div>
                    </div>
                    <div class="block-name-profile">
                      <!-- <i class="fa fa-chevron-right"></i><span id="hco-profile-title" type="text"
                        class="default_min_width">Intern PHP developer</span> -->
                      <span id="hco-profile-fullname" class="default_min_width">{{profile.fullName}}</span><br>
                    </div>
                  </div>
                  <div id="profile-contact-wraper">
                    <div class="hco-block-title">
                      <span id="hco-profile-blocktitle" class="title-common-before default_min_width">Thông tin liên
                        hệ</span>
                    </div>
                    <div class="hco-profile-info-row" id="hco-profile-dob-wraper">
                      <fa-icon [icon]="['far', 'calendar']"></fa-icon><span
                        class="hco-profile-info-value default_min_width" id="hco-profile-dob">{{profile.birthDate |
                        date: 'dd/MM/YYYY'}}</span>
                    </div>
                    <div class="hco-profile-info-row" id="hco-profile-email-wraper">
                      <fa-icon [icon]="['far', 'envelope']"></fa-icon>
                      <span class="hco-profile-info-value default_min_width"
                        id="hco-profile-email">{{user.email}}</span>
                    </div>
                    <div class="hco-profile-info-row" id="hco-profile-website-wraper">
                      <fa-icon [icon]="['fas', 'globe']"></fa-icon>
                      <span class="hco-profile-info-value default_min_width"
                        id="hco-profile-website">{{profile.socialLink}}</span>
                    </div>
                    <div class="hco-profile-info-row" id="hco-profile-phone-wraper">
                      <fa-icon [icon]="['fas', 'tablet']"></fa-icon><span
                        class="hco-profile-info-value default_min_width" id="hco-profile-phone">{{user.phone}}</span>
                    </div>
                    <div class="hco-profile-info-row" id="hco-profile-address-wraper">
                      <fa-icon [icon]="['fas', 'home']"></fa-icon><span class="hco-profile-info-value default_min_width"
                        id="hco-profile-address">{{profile.address}}</span>
                    </div>
                  </div>
                  <div style="clear: both"></div>
                </div>
                <!-- FIXED GROUP -->

              </div>
              <!-- END #group-top-left -->
              <div id="group-bottom-left">
                <div id="hco-certification" class="hco-block" style="display: block;" *ngIf="cv.certificates.length">
                  <div class="hco-block-content-wrapper">
                    <div class="block-title-section-content">
                      <div class="hco-block-title">
                        <span id="hco-certification-blocktitle" class="title-common-before default_min_width">Chứng
                          chỉ</span>
                      </div>
                      <div id="certification-table">
                        <div class="row " *ngFor="let item of cv.certificates">
                          <div class="row-title">
                            <!-- <div class="hco-certification-time-wraper">
                              <span class="hco-certification-time default_min_width">2020</span>
                            </div> -->
                            <div style="clear:both;"></div>
                            <div class="hco-certification-title-wraper">
                              <span class="hco-certification-title default_min_width">{{item.certificateName}}</span>
                            </div>
                          </div>
                          <div style="clear:both;"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="clear: both"></div>
                </div>
                <div class="hco-block" id="hco-additional-info" style="display: none;">
                  <div class="hco-block-content-wrapper">
                    <div class="block-title-section-content">
                      <div class="hco-block-title">
                        <span id="hco-additional-info-blocktitle" class="title-common-before default_min_width">Thông
                          tin
                          thêm</span>
                      </div>
                      <div id="hco-additional-information-details" class="default_min_width">Bản thân là một người ham
                        học hỏi, tìm tòi
                        và đam mê lập trình. Đã có kiến thức cơ bản về Php, bootstrap, nắm vững về OOP</div>
                    </div>
                  </div>
                </div>
                <div id="hco-skillgroup" class="hco-block" *ngIf="cv.otherSkills.length">
                  <div class="hco-block-content-wrapper">
                    <div class="block-title-section-content">
                      <div class="hco-block-title">
                        <span class="hco-block-title-span">
                          <span id="hco-skillgroup-blocktitle"
                            class="block-break-word title-common-before default_min_width">Các kỹ
                            năng</span>
                        </span>
                      </div>
                      <div class="block-content hco-block-body">
                        <ul id="skill-table">
                          <li *ngFor="let item of cv.otherSkills">
                            {{item.skillName}} - {{mapLevel[item.level]}}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div style="clear: both"></div>
                </div>
                <div id="hco-award" class="hco-block" *ngIf="cv.languages.length">
                  <div class="hco-block-content-wrapper">
                    <div class="block-title-section-content">
                      <div class="hco-block-title">
                        <span id="hco-award-blocktitle" class="title-common-before default_min_width">Ngoại ngữ</span>
                      </div>
                      <div id="award-table">
                        <div class="row " *ngFor="let item of cv.languages">
                          <div class="row-title">
                            <div style="clear:both;"></div>
                            <div class="hco-award-title-wraper">
                              <span class="hco-award-title default_min_width">{{item.language}} -
                                {{mapLevel[item.level]}}</span>
                            </div>
                          </div>
                          <div style="clear:both;"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="clear: both"></div>
                </div>
                <div id="hco-award" class="hco-block" *ngIf="cv.majorLevels.length">
                  <div class="hco-block-content-wrapper">
                    <div class="block-title-section-content">
                      <div class="hco-block-title">
                        <span id="hco-award-blocktitle" class="title-common-before default_min_width">Trình độ chuyên
                          môn</span>
                      </div>
                      <div id="award-table">
                        <div class="row " *ngFor="let item of cv.majorLevels">
                          <div class="row-title">
                            <!-- <div class="hco-award-time-wraper">
                              <span class="hco-award-time default_min_width">2014</span>
                            </div> -->
                            <div style="clear:both;"></div>
                            <div class="hco-award-title-wraper">
                              <span class="hco-award-title default_min_width">{{item.majorName}} -
                                {{mapLevel[item.level]}}</span>
                            </div>
                          </div>
                          <div style="clear:both;"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="clear: both"></div>
                </div>
                <div id="hco-interests" class="hco-block d-none">
                  <div class="hco-block-content-wrapper">
                    <div class="block-title-section-content">
                      <div class="hco-block-title">
                        <span id="hco-interests-blocktitle" class="title-common-before default_min_width">Sở
                          thích</span>
                      </div>
                      <div class="hco-block-body interests-content">
                        <span id="hco-interests-interests"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="hco-block d-none" id="hco-reference">
                  <div class="hco-block-content-wrapper">
                    <div class="block-title-section-content">
                      <div class="hco-block-title">
                        <span id="hco-reference-blocktitle" class="title-common-before default_min_width">Người tham
                          chiếu</span>
                      </div>
                      <div id="reference-table">
                        <div class="row" style="margin-top: 0;">
                          <span class="hco-reference-content color-content default_min_width">
                            Anh... - Trưởng phòng Marketing<br>Công ty TOPCV<br>Điện thoại:...
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="clear: both;"></div>
                </div>
              </div>
            </div>
            <!-- END #col-left -->
            <!-- #col-right -->
            <div id="col-right">
              <div id="group-col-right">
                <div id="hco-objective" class="hco-block">
                  <div class="hco-block-content-wrapper">
                    <div class="block-title-section-content">
                      <div class="hco-block-title no-horizontal-line">
                        <span id="hco-objective-blocktitle" class="title-common-before default_min_width">Mục tiêu nghề
                          nghiệp</span>
                      </div>
                      <div id="hco-objective-objective" class="default_min_width"
                        [innerHTML]="cv.summary | safe: 'html'"></div>
                    </div>
                  </div>
                </div>
                <div id="hco-education" class="hco-block">
                  <div class="hco-block-content-wrapper">
                    <div class="block-title-section-content">
                      <div class="hco-block-title">
                        <span id="hco-education-blocktitle" class="title-common-before default_min_width">Học vấn</span>
                      </div>
                      <div id="education-table">
                        <div class="row " *ngFor="let item of cv.educations">
                          <div class="row-title">
                            <div class="block-education-title">
                              <span class="hco-education-title default_min_width">Chuyên ngành: {{item.major}}</span>
                            </div>
                            <div class="hco-section-time-value">
                              <div class="hco-background-time">
                                <span class="hco-education-start default_min_width">{{item.startDate | date:
                                  'MM/YYYY'}}</span> -
                                <span class="hco-education-end default_min_width" *ngIf="item.endDate">
                                  {{(item.endDate) | date: 'MM/YYYY'}}</span>
                                <span class="hco-education-end default_min_width" *ngIf="!item.endDate">
                                  Đến nay</span>
                              </div>
                            </div>
                            <div style="clear:both;"></div>
                            <div class="hco-info-wrapper">
                              <span class="hco-education-school default_min_width">{{item.school}}</span>
                            </div>
                          </div>
                          <div class="row-details">
                            <div class="hco-education-details default_min_width"
                              [innerHTML]="item.description | safe: 'html'">

                            </div>
                          </div>
                          <div style="clear:both;"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="hco-activity" class="hco-block d-none">
                  <div class="hco-block-content-wrapper">
                    <div class="block-title-section-content">
                      <div class="hco-block-title">
                        <span id="hco-activity-blocktitle" class="title-common-before default_min_width">Trình độ chuyên
                          mộn</span>
                      </div>
                      <div id="activity-table">
                        <div class="row " *ngFor="let item of cv.majorLevels">
                          <div class="row-title">
                            <div class="block-activity-position">
                              <span class="hco-activity-position default_min_width">{{item.majorName}}</span>
                            </div>
                            <div class="hco-activity-time">
                              <div class="hco-background-time">
                                {{mapLevel[item.level]}}
                              </div>
                            </div>
                            <div style="clear: both;"></div>
                            <div class="hco-info-wrapper">
                              <span class="hco-activity-organization default_min_width">{{item.fieldName}}</span>
                            </div>
                          </div>
                          <div class="row-details d-none">
                            <div class="hco-activity-details default_min_width">Chia sẻ đam mê chơi cờ vây, tổ
                              chức các sự kiện liên quan đến cờ vây</div>
                          </div>
                          <div style="clear:both;"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="clear: both"></div>
                </div>
                <div id="hco-experience" class="hco-block" *ngIf="cv.workExperiences.length">
                  <div class="hco-block-content-wrapper">
                    <div class="block-title-section-content">
                      <div class="hco-block-title">
                        <span id="hco-experience-blocktitle" class="title-common-before default_min_width">Kinh nghiệm
                          làm
                          việc</span>
                      </div>
                      <div id="experience-table">
                        <div class="row " *ngFor="let item of cv.workExperiences">
                          <div class="row-title">
                            <div class="block-experience-position">
                              <span class="hco-experience-position default_min_width">{{item.position}}</span>
                            </div>
                            <div class="hco-experience-time">
                              <div class="hco-background-time">
                                <span class="hco-experience-start default_min_width">{{item.startDate | date:
                                  'MM/YYYY'}}</span> -
                                <span class="hco-experience-end default_min_width" *ngIf="item.endDate">
                                  {{item.endDate | date: 'MM/YYYY'}}</span>
                                <span class="hco-experience-end default_min_width" *ngIf="!item.endDate">Đến nay</span>
                              </div>
                            </div>
                            <div style="clear:both;"></div>
                            <div class="block-detail-company">
                              <span class="hco-experience-company default_min_width">{{item.companyName}}</span>
                            </div>
                          </div>
                          <div class="row-details">
                            <div class="hco-experience-details default_min_width"
                              [innerHTML]="item.description | safe:'html'"></div>
                          </div>
                          <div style="clear:both;"></div>
                        </div>
                      </div>
                      <div style="clear: both"></div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- END #col-right -->
            <div style="clear: both;"></div>
          </div>
          <div style="clear: both;"></div>
        </div>
        <div id="cv-watermark">
          © hive-connect-social.web.app
        </div>
      </div>
    </div>
  </div>
</div>