::ng-deep {
  .edit-card {
    .card {
      border: none;
      box-shadow: none;
    }
  }
  .btn-company-dd {
    &.dropdown-menu {
      right: 0;
    }
  }
  .slider-image {
    width: 100%;
    .upload-image {
      width: 100% !important;
      height: 300px !important;
    }
  }
}
.wrapper {
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background: #ffffff;
}
.btn-company-group {
  top: 0;
  right: 0;
}
