<ng-container *ngIf="profile$ | async; let profile; else loadingRef">
  <ng-container *ngIf="!loading; else loadingRef">
    <ng-container *ngIf="isJoinCompany;else awaitJoinCompany">
      <div *ngIf="isView; else editMode" class="position-relative">
        <p class="fw-bold mb-4">Thông tin cơ bản</p>
        <div class="ps-3 mb-3">
          <p>Tên công ty: {{company.name|| '(Chưa có)'}} {{statusJoinLabel}}</p>
          <div>
            <span class="d-inline-block">Logo:</span>
            <div class="position-relative avatar-wrapper d-inline-block ms-3">
              <img src="{{ company.avatar | imageConvert: 'company'}}" alt="avatar" width="150" height="150"
                class="border border-primary image-cover">
            </div>
          </div>
          <p>Lĩnh vực kinh doanh: {{company.fieldWork|| '(Chưa có)'}}</p>
          <p>Số lượng nhân viên: {{company.numberEmployees|| '(Chưa có)'}}</p>
          <p>Mô tả: <span [innerHTML]="(company.description|| '(Chưa có)') | safe: 'html'"></span></p>
        </div>
        <p class="fw-bold mb-2">Thông tin liên hệ</p>
        <div class="ps-3 mb-3">
          <p>Email: <a href="mailto:{{company.email || 'javascript:void(0)'}}" target="_blank">
              {{company.email|| '(Chưa có)'}}</a>
          </p>
          <p>Website: <a href="{{company.website || 'javascript:void(0)'}}" target="_blank">
              {{company.website || '(Chưa có)'}}</a>
          </p>
          <p>Địa chỉ: {{company.address|| '(Chưa có)'}}</p>
          <p>Số điện thoại: {{company.phone || '(Chưa có)'}}</p>
          <p>Mã số thuế: {{company.taxCode}}</p>
          <p>Bản đồ: {{company.mapUrl ? '' : '(Chưa có)'}}
          </p>
          <p [innerHTML]="company.mapUrl | safe: 'html'" class="embed">

          </p>
        </div>
        <div class="row">
          <hc-recruiter-business-license [recruiterId]="profile.id" [isView]="true"></hc-recruiter-business-license>
        </div>
        <div>
          <p class="fw-bold mb-2">Ảnh bìa</p>
          <!-- <img src="{{company.coverImageUrl | imageConvert: 'cover'}}" alt="" class="img-responsive cover-img"
            width="100%" height="236px"> -->
          <div class="slider-image">
            <hc-image-preview [url]="company.coverImageUrl | imageConvert: 'cover'"></hc-image-preview>
          </div>
        </div>
        <div *ngIf="company.companyImageUrlList?.length">
          <p class="fw-bold mb-2">Ảnh về công ty</p>
          <carousel [showIndicators]="false">
            <slide *ngFor="let slide of company.companyImageUrlList; let index=index">
              <div class="slider-image ">
                <!-- <img [src]="slide.url" alt="image slide"> -->
                <hc-image-preview [url]="slide.url"></hc-image-preview>
              </div>
            </slide>
          </carousel>
        </div>
        <div class="position-absolute d-flex gap-8 btn-company-group" dropdown [insideClick]="true" placement="bottom"
          container="body">
          <button id="button-basic" dropdownToggle type="button" class="btn btn-none" aria-controls="dropdown-basic">
            <svg-icon src="/assets/images/icons/three-dot-vertical.svg"></svg-icon>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu btn-company-dd" role="menu"
            aria-labelledby="button-basic">
            <li role="menuitem">
              <a class="dropdown-item" (click)="editCompanyInfo(profile)" *ngIf="company.creator">
                Chỉnh sửa thông tin
              </a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" (click)="newRequestJoinCompany(profile)"
                *ngIf="requestJoinCompany?.status === requestCompanyStatus.deny">
                Chọn công ty khác
              </a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" [routerLink]="['/company',company.id]">
                Xem trang công ty
              </a>
            </li>
          </ul>
        </div>
      </div>
    </ng-container>

    <ng-template #editMode>
      <div class="edit-card">
        <hc-create-company-modal [company]="company" [isCreateCompany]="true" [profile]="profile"
          (joinCompany)="createCompanyEventHandle($event,profile)"></hc-create-company-modal>
      </div>
    </ng-template>

    <ng-template #awaitJoinCompany>
      <p [innerHTML]="requestMessage | safe: 'html'"> </p>
      <button class="btn btn-outline-warning fit-content" (click)="openCreateCompanyModal(profile)"
        *ngIf="!company.creator && !profile.joinedCompany">Yêu cầu liên kết hoặc tạo mới</button>
    </ng-template>

  </ng-container>

</ng-container>
<ng-template #loadingRef>
  <hc-skeleton></hc-skeleton>
</ng-template>