<tabset>
  <tab heading="Thông tin công ty">
    <hc-recruiter-account-company (onLoadingCompany)="loadingCompany = $event" (companyInfo)="company = $event">
    </hc-recruiter-account-company>
  </tab>
  <tab heading="Danh sách nhân viên công ty" [disabled]="loadingCompany" *ngIf="company.creator">
    <hc-recruiter-company-personal [company]="company" [recruiterId]="recruiterId"></hc-recruiter-company-personal>
  </tab>
  <tab heading="Danh sách yêu cầu liên kết công ty" [disabled]="loadingCompany" *ngIf="company.creator">
    <hc-recruiter-company-request-list [approverId]="recruiterId"></hc-recruiter-company-request-list>
  </tab>
</tabset>