<!-- <ng-container *ngIf="!loading;else loadingTemp"> -->
<router-outlet></router-outlet>
<!-- </ng-container> -->

<!-- <div class="position-absolute absolute-center backdrop-filter">
  <div class="spinner-border text-primary " role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div> -->