<div class="container">
  <div class="wrapper">
    <div class="bg-white position-relative search-bar mb-2">
      <svg-icon src="/assets/images/icons/search.svg" class="position-absolute absolute-center-y left-10">
      </svg-icon>
      <input type="text" class="w-100 input" placeholder="Tìm kiếm cơ hội việc làm!" #input>
      <button class="btn position-absolute btn-search" (click)="search(input.value)">Tìm kiếm</button>
    </div>
    <div class="d-flex gap-8 flex-column flex-xl-row">
      <div class="flex-fill">
        <div class="btn-group w-100" dropdown container="body">
          <div id="button-basic" dropdownToggle
            class="btn bg-white text-truncate dropdown-toggle justify-content-between" aria-controls="dropdown-basic">
            <div>
              <svg-icon src="/assets/images/icons/Bag-small.svg"></svg-icon>
              <span>{{selectedField.label}}</span>
            </div>
            <div>
              <span class="caret"></span>
            </div>
          </div>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu home-search hide-scroll" role="menu"
            aria-labelledby="button-basic">
            <li role="menuitem">
              <p class="dropdown-item" *ngFor="let item of fieldJob" (click)="selectedField = item">
                {{item.label}}</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex-fill">
        <div class="btn-group w-100" dropdown container="body">
          <div id="button-basic" dropdownToggle
            class="btn bg-white text-truncate dropdown-toggle justify-content-between" aria-controls="dropdown-basic">
            <div>
              <svg-icon src="/assets/images/icons/location-job.svg" [svgStyle]="{'width.px':16}">
              </svg-icon>
              <span>{{selectedCountry.label}}</span>
            </div>
            <div>
              <span class="caret"></span>
            </div>
          </div>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu home-search hide-scroll" role="menu"
            aria-labelledby="button-basic">
            <li role="menuitem">
              <p class="dropdown-item" (click)="selectedCountry = item" *ngFor="let item of country">
                {{item.label}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="d-flex gap-8 flex-wrap mt-3 recommend">
      <span *ngFor="let item of randomJob" class="d-block fz-12"><a [routerLink]="['/search']"
          [queryParams]="{career:item.id}" class="text-white">{{item.fieldName}}</a></span>
    </div>
  </div>

</div>