@import "../../../../../assets/scss/helper/variable";
.container {
  .wrapper {
    background: rgba(0, 0, 0, 0.24) !important;
    backdrop-filter: blur(48px);
    border-radius: 16px;
    z-index: 9999;
    padding: 32px;
    width: 30vw;
    @media screen and (max-width: 1024px) {
      width: unset;
      padding: 16px;
    }
    .search-bar {
      border-radius: 8px;
      background-color: #fff;
      height: 48px;
      padding: 8px;
      display: flex;
      align-items: center;

      .btn-search {
        right: 2px;
        background-color: $primary-color;
        color: white;
        height: 44px;
        top: 2px;
        border-radius: 8px;
      }
      .input {
        border: none;
        outline: none;
        box-shadow: none;
        padding-left: 24px;
      }
    }
    .form-select {
      border-radius: 8px;
    }
    .dropdown-toggle {
      display: flex;
      align-items: center;
      border-radius: 8px;
      .search-dropdown {
        border: none;
        outline: none;
        box-shadow: none;
        width: 80%;
      }
    }
    .dropdown-menu {
      width: 100%;
    }
  }
}
.recommend {
  span {
    border-right: 1px solid white;
    padding-right: 8px;
    &:last-of-type {
      border-right: none;
    }
  }
}
::ng-deep {
  .dropdown-menu {
    &.home-search {
      max-height: 250px;
      overflow-y: auto;
    }
  }
}
