<div class="job-wrapper">
  <a class="job-content" [routerLink]="['/job',job.jobId]" routerLinkActive="router-link-active">
    <div class="job-content__header">
      <div class="job-content__header__avatar">
        <div>
          <img [src]="job.companyAvatar | imageConvert: 'company'" alt="" width="48" height="48">
        </div>
      </div>
      <div class="job-content__header__detail">
        <h3 class="job-content__header__detail__company-name">{{job.companyName}}</h3>
        <p class="job-content__header__detail__location">
          <svg-icon src="/assets/images/icons/location-job.svg" [svgStyle]="{'width.px':16}"></svg-icon>
          {{job.workPlace}}
        </p>
      </div>
    </div>
    <div class="job-content__detail">
      <h4 class="job-content__detail__title">{{job.jobName}}</h4>
      <p class="job-content__detail__description" [innerHTML]="job.jobDescription | safe: 'html'"></p>
      <div class="job-content__detail__meta">
        <div class="job-type">
          <svg-icon src="/assets/images/icons/Bag-small.svg"></svg-icon>
          {{mapWorkingForm}}
        </div>
        <div class="remind-time">
          <svg-icon src="/assets/images/icons/clock-job.svg"></svg-icon>
          {{remainingTime}}
        </div>
      </div>
    </div>
  </a>
</div>