<div class="modal-header">
    <h1 class="fz-25">Xác thực mã OTP</h1>
    <button type="button" (click)="closeModal(null)" class="btn btn-none">
        <svg-icon src="./assets/images/icons/close.svg"></svg-icon>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="form">
        <div class="form-group mb-2">
            <label for="inputNumber" class="color-third fz-14 mb-2">
                Nhập mã OTP đã được gửi về số điện thoại <b>{{phoneNumber}}</b></label>
            <div class="input-group">
                <input *ngFor="let input of formInput;  index as i" #formRow type="text" formControlName="{{input}}"
                    class="form-control" maxlength="1" (keyup)="keyUpEvent($event, i)" numberOnly>
            </div>
            <small class="form-text error" *ngIf="errorMessage.length">{{errorMessage}}</small>
        </div>
        <p class="color-third fz-14">
            Không nhận được tin nhắn?
            <a [ngClass]="{'color-third': countDown > 1,'color-primary pointer': countDown < 1}"
                [ngStyle]="{'pointer-events':countDown > 1 ? 'none':'all'}" (click)="reSendOTP()">
                <b> Gửi lại mã OTP </b> ({{countDown}})s</a>
        </p>
    </form>
</div>