@import "../../../../../assets/scss/helper";
.error {
  color: red;
}
.input-group {
  justify-content: space-evenly;
  .form-control {
    background: $bg-secondary;
    border: 1px solid $border-color-base;
    border-radius: 8px !important;
    color: #000;
    height: 48px;
    padding: 0;
    max-width: 48px;
    text-align: center;
    margin-right: 8px;
  }
}
