<p class="block-title" *ngIf="isShowTitle">Báo giá</p>
<div class="d-flex mb-3 flex-wrap">
  <div class="me-3 d-flex align-items-center mb-2 flex-fill">
    <label for="name" class="me-2">Tên: </label>
    <input type="text" id="name" [(ngModel)]="filter.name" class="form-control">
  </div>
  <div class="d-flex align-items-center me-3 mb-2 flex-fill">
    <label for="rental" class="me-2 text-nowrap d-block">Nhóm dịch vụ: </label>
    <select name="" id="rental" class="form-control" [(ngModel)]="filter.rentalPackageId">
      <option *ngFor="let item of listRentalPackage" value="{{item.id}}">{{item.packageGroup}}</option>
    </select>
  </div>
  <button class="btn btn-primary fit-content mb-2 m-auto" hcButtonLoading [loading]="loading" (click)="search()">
    <svg-icon src="/assets/images/icons/search.svg" class="fill-svg"></svg-icon>Tìm kiếm
  </button>
</div>
<div class="row" infiniteScroll (scrolled)="loadMore()">
  <div class="col-12 col-md-6 col-xl-4 mb-3 pointer" *ngFor="let item of package">
    <hc-recruiter-payment-package-item [packageInfo]="item"></hc-recruiter-payment-package-item>
  </div>
  <ng-container *ngIf="loading">
    <div class="col-12 col-md-6 col-xl-4 mb-3">
      <div class="wrapper">
        <hc-post-skeleton></hc-post-skeleton>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-4 mb-3">
      <div class="wrapper">
        <hc-post-skeleton></hc-post-skeleton>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-4 mb-3">
      <div class="wrapper">
        <hc-post-skeleton></hc-post-skeleton>
      </div>
    </div>
  </ng-container>

</div>