<div class="d-flex gap-16 align-items-center">
  <!-- <div class="slider-control" *ngIf="total > pagination.pageNo">
    <svg-icon src="/assets/images/icons/arrow-left.svg" class="icon"></svg-icon>
  </div> -->
  <div class="d-flex w-100 overflow-x-auto">
    <div class="p-8 col-3" *ngFor="let item of jobs">
      <hc-job-item-card-secondary [job]="item"></hc-job-item-card-secondary>
    </div>
    <div class="d-flex pointer align-items-center" *ngIf="total > jobs.length">
      <svg-icon src="/assets/images/icons/arrow-right.svg" (click)="next()"></svg-icon>
    </div>
    <div class="col-3" *ngIf="loading">
      <hc-post-skeleton></hc-post-skeleton>
    </div>
    <div class="text-center" *ngIf="!jobs.length && !loading">
      Không tìm thấy công việc nào
    </div>
  </div>
  <!-- <div class="slider-control " *ngIf="total > pagination.pageNo">
    <svg-icon src="/assets/images/icons/arrow-right.svg" class="icon"></svg-icon>
  </div> -->
</div>