<ng-container *ngIf="profile$ | async; let profile; else loadingTemp">
  <div class="container d-flex justify-content-center mt-50">
    <hc-create-company-modal *ngIf="profile.id" [profile]="profile" (joinCompany)="joinCompanyFinish($event)">
    </hc-create-company-modal>
  </div>
</ng-container>
<ng-template #loadingTemp>
  <hc-post-skeleton></hc-post-skeleton>
</ng-template>