<ng-container *ngIf="(controls.touched || controls.dirty )">
  <ng-container *ngIf="controls.errors; let errors">
    <ng-container *ngFor="let item of errorList">
      <div class="invalid-feedback d-block pre-wrap" *ngIf="errors[item]">
        {{FORM_ERRORS[type][item]}}
      </div>
    </ng-container>
    <ng-container *ngIf="errorList.length === 0">
      <ng-container *ngFor="let item of errors | keyvalue">
        <div class="invalid-feedback d-block pre-wrap" *ngIf="item.value">
          {{FORM_ERRORS[type][item.key]}}
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>