<div class="{{classWrapper}}" *ngIf="_control">
  <label [for]="id" class="mb-8 text-nowrap" *ngIf="label">{{label}}<span *ngIf="isRequired"
      class="text-danger">*</span></label>
  <div class="position-relative">
    <select class="form-select" [id]="id" [formControl]="_control" hcInputValidateClass [name]="name">
      <option value="" [selected]="true">{{placeHolder}}</option>
      <option [value]="item.value" *ngFor="let item of listOption">{{item.label}}</option>
    </select>
    <hc-form-error [controls]="_control" [type]="errorRoot" [errorList]="errorList"></hc-form-error>
  </div>
</div>