.bg-primary {
  background-color: $primary-color !important;
}
.bg-secondary {
  background-color: $bg-primary !important;
}
.border-secondary {
  border-color: $primary-color !important ;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-center {
  justify-content: center !important;
}

.text-eclipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gap-8 {
  gap: 8px !important;
}

.gap-16 {
  gap: 16px !important;
}

.gap-24 {
  gap: 24px !important;
}

.pointer {
  cursor: pointer;
}

.color-third {
  color: $color-third !important;
}

@for $line from 8 to 100 {
  .line-eclipse-#{$line} {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: #{$line};
    -webkit-box-orient: vertical;
    display: inline;
  }
  .mt-#{$line} {
    margin-top: #{$line} + "px" !important;
  }
  .mb-#{$line} {
    margin-bottom: #{$line} + "px" !important;
  }
  .ml-#{$line} {
    margin-left: #{$line} + "px" !important;
  }
  .mr-#{$line} {
    margin-right: #{$line} + "px" !important;
  }
  .pt-#{$line} {
    padding-top: #{$line} + "px" !important;
  }
  .pb-#{$line} {
    padding-bottom: #{$line} + "px" !important;
  }
  .pl-#{$line} {
    padding-left: #{$line} + "px" !important;
  }
  .pr-#{$line} {
    padding-right: #{$line} + "px" !important;
  }
  .p-#{$line} {
    padding: #{$line} + "px" !important;
  }
  .top-#{$line} {
    top: #{$line} + "px" !important;
  }
  .left-#{$line} {
    left: #{$line}+ "px" !important;
  }
  .right-#{$line} {
    right: #{$line}+ "px" !important;
  }
  .bottom-#{$line} {
    bottom: #{$line}+ "px" !important;
  }
}

.absolute-center-y {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.absolute-center-x {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.absolute-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.m-0 {
  margin: 0 !important;
}
.p-0 {
  padding: 0 !important;
}

.fz-12 {
  font-size: var(--font-size-12);
}

.fz-14 {
  font-size: var(--font-size-14);
}

.fz-16 {
  font-size: var(--font-size-16);
}

.fz-20 {
  font-size: var(--font-size-20);
}

.text-third {
  color: $color-third !important;
}
.fit-content {
  width: fit-content !important;
  height: fit-content !important;
}

.max-content {
  width: max-content !important;
}

.radius-8 {
  border-radius: 0.25rem;
}
.pre-wrap {
  white-space: pre-wrap;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
.bg-grey {
  background-color: #f5f5f5 !important;
}
.hide-scroll {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  &::-webkit-scrollbar {
    display: none !important;
  }
}
.eclipse-line-2 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 38px;
}
