@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
$primary-color: #451da0; // $orange-400;
$success-color: $teal-400;
$warning-color: #faad14;
$error-color: $red-600;
$link-color: $primary-color;
$font-size-base: 14px;
$border-radius-base: 0.25rem;
$text-color: #000000;
$color-third: #7e7e7e;
$color-secondary: #3e3e3e;
$heading-color: #272727;
$text-color-secondary: rgba(0, 0, 0, 0.45);
$disabled-color: rgba(0, 0, 0, 0.25);
$border-color-base: #451da03b;
$box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
$bg-white: #451da042;
$bg-secondary: rgba(250, 250, 255);
$bg-primary: #c9c9ff;
$white: #fff;

$theme-colors: (
  "primary": $primary-color,
  "success": $success-color,
  "warning": $warning-color,
  "danger": $error-color,
  "light": $white,
);
:root {
  --color-3e3e3e: #3e3e3e;
  --color-7e7e7e: #7e7e7e;
  --color-ff8c5a: #9a60f9;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 14px;
  --font-size-18: 18px;
  --font-size-20: 18px;
  --font-size-22: 20px;
  --font-size-24: 20px;
  --font-size-28: 28px;
  --shadow-box: 0px 3px 12px #00000029;
}
