<ng-container *ngIf="cv$ | async; let cv;else loadingTemp">
  <div class="p-2 bg-primary message border-2 mb-3 pointer" *ngIf="message" (click)="toPaymentPage()">
    <span class="fw-bold text-white">{{message}}</span>
  </div>
  <div class="">
    <hc-cn-template-primary [cv]="cv" [user]="user" [profile]="profile"></hc-cn-template-primary>
  </div>

</ng-container>


<ng-template #loadingTemp>
  <hc-skeleton></hc-skeleton>
</ng-template>