<!-- <div class="modal-header">
  <h5 class="modal-title">Yêu cầu gia nhập công ty</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onClose.emit()"></button>
</div> -->
<!-- <div class="modal-body"> -->
<div class="row">
  <div class="col-4">
    <label for="fullName">Tên:</label>
    <input type="text" class="form-control" id="fullName" placeholder="Nguyễn văn A" [(ngModel)]="filter.fullName">
  </div>
  <div class="col-4">
    <label for="email">Email:</label>
    <input type="text" class="form-control" id="email" [(ngModel)]="filter.email" placeholder="abc@gmail.com">
  </div>
  <div class="col-4">
    <label for="phone">Số điện thoại:</label>
    <input type="number" class="form-control" id="phone" [(ngModel)]="filter.phone" placeholder="xxxxxxxxxx">
  </div>
  <div class="col-4">
    <label for="status">Trạng thái:</label>
    <select name="status" id="status" [(ngModel)]="filter.status" class="form-select">
      <option [value]="status.approve">Đồng ý</option>
      <option [value]="status.pending">Chờ duyệt</option>
      <option [value]="status.deny">Từ chối</option>
    </select>
  </div>
  <div class="col-2 d-flex align-items-end">
    <button class="btn btn-primary fit-content text-white text-nowrap" (click)="search()" hcButtonLoading
      [loading]="loading">Tìm
      kiếm</button>
  </div>
</div>
<div class="table-container">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên Người yêu cầu</th>
        <th>Email</th>
        <th>Số điện thoại</th>
        <th>Trạng thái</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td>
          {{item.stt}}
        </td>
        <td>
          {{item.fullName}}
        </td>
        <td>
          {{item.email}}
        </td>
        <td>
          {{item.phone}}
        </td>
        <td>
          {{statusLabel[item.status]}}
        </td>
        <td>
          <ng-container *ngIf="item.status === status.pending">
            <button class="btn btn-primary fit-content text-white me-2" (click)="changeStatus(item,status.approve)"
              hcButtonLoading [loading]="loading">Đồng
              ý</button>
            <button class="btn btn-danger fit-content text-white" (click)="changeStatus(item,status.deny)"
              hcButtonLoading [loading]="loading">Từ
              chối</button>
          </ng-container>
        </td>
      </tr>
      <tr *ngIf="list.length === 0">
        <td colspan="6" class="text-center">
          Không tìm thấy kết quả nào!
        </td>
      </tr>
    </tbody>
  </table>
  <pagination [previousText]="'Trang trước'" [nextText]="'Trang sau'" [totalItems]="total"
    [itemsPerPage]="pagination.pageSize" (pageChanged)="pageChanged($event)"
    *ngIf="!loading && total > pagination.pageSize">
  </pagination>
</div>
<!-- </div> -->