<form [formGroup]="form" (ngSubmit)="submit()">
  <!-- <div class="form-floating mb-8" *ngIf="form.controls['username'];let controls">
    <input type="text" class="form-control" id="username" placeholder="matsu" hcInputValidateClass
      formControlName="username">
    <label for="username">Tên hiển thị</label>
    <hc-form-error [controls]="controls" [errorList]="['required']" [type]="'username'"></hc-form-error>
  </div> -->
  <!-- <div class="mb-16">
    <hc-input-common [controls]="form.controls['username']" [errorRoot]="'username'" [errorList]="['required']"
      [label]="'Tên đăng nhập'" [placeHolder]="'matsu'"></hc-input-common>
  </div> -->
  <div class="mb-16">
    <hc-input-common [controls]="form.controls['fullName']" [label]="'Họ và Tên'" [placeHolder]="'Nguyễn Văn A'">
    </hc-input-common>
  </div>
  <div class="mb-16">
    <hc-input-common [controls]="form.controls['email']" [errorRoot]="'email'" [typeInput]="'email'" [label]="'Email'"
      [placeHolder]="'matsu@gmail.com'">
    </hc-input-common>
  </div>
  <div class="row mb-48 flex-column flex-xl-row">
    <div class="col-xl-6 col-12">
      <hc-input-common [controls]="form.controls['password']" [typeInput]="'password'" [errorRoot]="'password'"
        [typeInput]="'password'" [label]="'Mật khẩu'" [errorList]="['required','maxlength','pattern']"
        [placeHolder]="'Nhập mật khẩu'">
      </hc-input-common>
    </div>
    <div class="col-xl-6 col-12">
      <hc-input-common [controls]="form.controls['matchPassword']" [typeInput]="'password'" [errorRoot]="'password'"
        [typeInput]="'password'" [label]="'Xác nhận mật khẩu'" [errorList]="['required','notMatch','maxlength']"
        [placeHolder]="'Xác nhận mật khẩu'"></hc-input-common>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-3">
    <button type="submit" class="btn btn-primary" [disabled]="loading" hcButtonLoading [loading]="loading">Đăng
      ký</button>
  </div>
</form>