@import "../../../../assets/scss/helper/variable";
.wrapper {
  // box-shadow: 0px 4px 4px rgba(173, 225, 205, 0.5);
  border: 1px solid $border-color-base;
  border-radius: 8px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  height: 134px;
  cursor: pointer;
  .item {
    font-size: 14px;
  }
  .job-name {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
