<a class="wrapper" [routerLink]="['/job',job.jobId || job.id || 0]">
  <img src="{{job.companyAvatar | imageConvert: 'company'}}" alt="" width="72" height="72">
  <div>
    <p class="fw-bold job-name">{{job.jobName || 'Frontend developer'}}</p>
    <div class="item">
      <svg-icon src="/assets/images/icons/money.svg"></svg-icon>
      <span>{{(job.fromSalary || 0) | moneyConvert}} - {{(job.toSalary || 0) | moneyConvert}}</span>
    </div>
    <div class="item">
      <svg-icon src="/assets/images/icons/Bag-small.svg"></svg-icon>
      <span>{{mapWorkingForm[job.workForm] || 'Hà Nội'}}</span>
    </div>
    <div class="item">
      <svg-icon src="/assets/images/icons/clock-job.svg"></svg-icon>
      <span>{{job.weekday || '5 ngày/tuần'}}</span>
    </div>
  </div>
</a>