<!-- <div class="job-banner">
  <h1 class="title">Hive Connect</h1>
  <h2 class="desc">Tìm kiếm công việc tiếp theo của bạn</h2>
</div> -->
<div class="jobs-container">
  <div class="job-list-header d-flex justify-content-between flex-xl-row flex-column">
    <div>
      <h2 class="job-list-header__header"><span class="job-list-header__header__title">Tất cả công việc</span><span
          class="job-list-header__header__result"> {{totals}} Kết quả </span></h2>
    </div>
    <div class="d-flex align-items-xl-center flex-column flex-xl-row px-3 px-xl-0" *ngIf="!isLogin">
      <span class="job-list-header__recommend">
        Bạn muốn nhận được công việc gọi ý cho riêng bạn? &nbsp;</span><span><a [routerLink]="['/auth','login']"
          [queryParams]="{from:'search'}"> Đăng nhập</a> hoặc <a [routerLink]="['/auth','register']">Đăng ký</a></span>
    </div>
  </div>
  <ul class="job-list-grid" infiniteScroll (scrolled)="loadMore()">
    <li class="col-xl-3 col-md-4 col-12" *ngFor="let item of jobs">
      <hc-job-item-search-card [job]="item"></hc-job-item-search-card>
    </li>
    <ng-container *ngIf="loading">
      <li class="col-xl-3 col-md-4 col-12">
        <hc-job-item-search-card-skeleton></hc-job-item-search-card-skeleton>
      </li>
      <li class="col-xl-3 col-md-4 col-12">
        <hc-job-item-search-card-skeleton></hc-job-item-search-card-skeleton>
      </li>
      <li class="col-xl-3 col-md-4 col-12">
        <hc-job-item-search-card-skeleton></hc-job-item-search-card-skeleton>
      </li>
      <li class="col-xl-3 col-md-4 col-12">
        <hc-job-item-search-card-skeleton></hc-job-item-search-card-skeleton>
      </li>
    </ng-container>

  </ul>
  <hc-homepage-candidate-job-section-seconds *ngIf="isLogin"></hc-homepage-candidate-job-section-seconds>

</div>