.job-list-header {
  max-width: 1212px;
  width: 100%;

  margin: 20px auto 0;
  &__header {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 10px 4px 16px;
    &__result {
      font-style: italic;
      margin-left: 5px;
    }
  }
  &__recommend {
    // margin: 20px 5px 0 auto;
    font-weight: bold;
  }
}
.job-list-grid {
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // position: relative;
  display: flex;
  flex-wrap: wrap;
  // gap: 20px;
}
.jobs-container {
  margin: 40px auto 50px;
  max-width: 1212px;
  min-height: 50vw;
  padding-bottom: 40px;
  // width: fit-content;
}
.job-banner {
  background-image: url("https://a5.behance.net/2778b46a43e5a76717088b52da199605d3d2d66a/img/joblist/job-header.jpg");
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 270px;
  padding-bottom: 40px;
  padding-top: 40px;
  position: relative;
  width: 100%;
  &::after {
    background-color: rgba(0, 0, 0, 0.45);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .title {
    font-size: 65px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: -25px;
    color: #fff;
    position: relative;
    text-align: center;
    z-index: 2;
  }
  .desc {
    color: #fff;
    margin-bottom: 20px;
    margin-top: 0;
    position: relative;
    text-align: center;
    z-index: 2;
    font-size: 24px;
    font-weight: 500;
  }
}
