<ng-container *ngIf="info$ | async; let info; else loadingTemp">
  <ng-container *ngIf="info.profile?.id && info.user">
    <div *ngIf="!isEdit; else editForm" class="position-relative">
      <button class="btn btn-secondary fit-content position-absolute btn-edit" (click)="isEdit=true">Chỉnh sửa</button>
      <div class="d-flex gap-16 align-items-center mb-2">
        <p>Tên đầy đủ: </p>
        <p>{{info.profile.fullName}}<span class="color-third" *ngIf="!info.profile.fullName">(chưa có)</span> </p>
      </div>
      <div class="d-flex gap-16 align-items-center mb-2">
        <p>Số điện thoại: </p>
        <p>{{info.user.phone}}&nbsp;
          <span class="color-third" *ngIf="!info.user.phone">(chưa có, <b>bạn phải cung cấp số điện thoại và xác thực để
              đăng tin tuyển dụng</b>)</span>
          <span [classList]="info.user.verifiedPhone ? 'text-success' : 'text-danger'">{{info.user.phone ?
            info.user.verifiedPhone ? '(Đã xác thực)' : '(Chưa xác thực)' : ''}}</span>
        </p>
        <button class="btn btn-primary bg-white fit-content" (click)="verifyPhone(info.user.phone)"
          *ngIf="!info.user.verifiedPhone && info.user.phone">Xác
          thực</button>
      </div>
      <div class="d-flex gap-16 align-items-center mb-2">
        <p>Giới tính: </p>
        <p>{{info.profile.gender ? 'Nam' : 'Nữ'}}</p>
      </div>
      <div class="d-flex gap-16 align-items-center mb-2">
        <p>Vị trí: </p>
        <p>{{info.profile.position}}<span class="color-third" *ngIf="!info.profile.position">(chưa
            có)</span></p>
      </div>
      <div class="d-flex gap-16 align-items-center">
        <p>Liên kết linkedin: </p>
        <p><a href="{{info.profile.linkedinAccount}}" target="_blank" *ngIf="info.profile.linkedinAccount">Xem liên
            kết</a><span class="color-third" *ngIf="!info.profile.linkedinAccount">(chưa
            có)</span></p>
      </div>
    </div>

  </ng-container>
</ng-container>

<ng-template #loadingTemp>
  <hc-post-skeleton></hc-post-skeleton>
</ng-template>
<ng-template #editForm>
  <hc-recruiter-info-update (onFinish)="isEdit=false"></hc-recruiter-info-update>
</ng-template>