<div class="mt-45 mb-45 wrapper bg-white mx-auto p-3">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="mx-auto mb-16">
      <div>
        <hc-input-common [controls]="form.controls['oldPassword']" [typeInput]="'password'" [errorRoot]="'password'"
          [typeInput]="'password'" [label]="'Mật khẩu cũ'" [isRequired]="true" [errorList]="['required','maxlength']"
          [placeHolder]="'Nhập mật khẩu'">
        </hc-input-common>
      </div>
      <div class="mb-36">
        <hc-input-common [controls]="form.controls['password']" [typeInput]="'password'" [errorRoot]="'password'"
          [typeInput]="'password'" [label]="'Mật khẩu mới'" [errorList]="['required','maxlength','pattern']"
          [isRequired]="true" [placeHolder]="'Nhập mật khẩu'">
        </hc-input-common>
      </div>
      <div>
        <hc-input-common [controls]="form.controls['matchPassword']" [typeInput]="'password'" [errorRoot]="'password'"
          [typeInput]="'password'" [label]="'Xác nhận mật khẩu mới'" [errorList]="['required','notMatch','maxlength']"
          [isRequired]="true" [placeHolder]="'Xác nhận mật khẩu'"></hc-input-common>
      </div>
      <button class="btn btn-primary fit-content" type="submit" hcButtonLoading [loading]="loading">Đổi mật
        khẩu</button>
    </div>
  </form>
</div>