<div class="row">
  <div class="text-center hc-count-header">
    <div class="text-highlight">
      <strong style="font-size: 20px;">CV của bạn đã đủ tốt?</strong>
      <p class="text-gray" style="font-size: 13px">Bao nhiêu NTD đang quan tâm tới Hồ sơ của bạn?</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="hc-count text-center ">
      <div class="hc-count-number">{{totals}}</div>
      <div>lượt</div>
    </div>
  </div>
  <div class="col-md-8" style="padding-top: 5px">
    <p class="fz-12">Mỗi lượt Nhà tuyển dụng xem CV mang đến một cơ hội để bạn gần hơn với công việc phù hợp.</p>
    <div class="text-center">
      <a [routerLink]="['viewer']" routerLinkActive="router-link-active" class="btn btn-primary fit-content">Khám phá
        ngay</a>
    </div>
  </div>
</div>