@import "../../../../../assets/scss/helper/variable";
.hc-count {
  background-color: $primary-color;
  border-radius: 50%;
  color: #fff;
  height: 76px;
  margin: 5px auto;
  padding-top: 7px;
  text-align: center;
  vertical-align: middle;
  width: 76px;
  .hc-count-number {
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
  }
}
