<div class="screen">
  <div class="header">
    <div>Trò chuyện</div>
    <div class="pointer" (click)="closePopup()">X</div>
  </div>
  <div class="conversation">
    <ng-container *ngIf="mode === getViewMode.form; else chatRef">
      <hc-chat-form (onFormSubmitted)="changeViewMode(getViewMode.chat,$event)"></hc-chat-form>
    </ng-container>

  </div>
  <div class="text-bar" [ngClass]="{'disabled': mode === getViewMode.form || room.status === roomStatus.created}">
    <div class="text-bar__field" id="form-message">
      <input type="text" placeholder="nhập tin nhắn" [(ngModel)]="messageText" (key.enter)="sendMessage()" />
    </div>
    <div class="text-bar__thumb pointer" (click)="sendMessage()">
      <!-- <div class="thumb"></div> -->
      <svg-icon src="/assets/images/icons/send-message.svg"></svg-icon>
    </div>
  </div>
</div>

<ng-template #chatRef>
  <hc-chat-conversation [room]="room"></hc-chat-conversation>
</ng-template>