.screen {
  background-color: #fff;
  height: 410px;
  width: 300px;
  margin: 0 auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  .header {
    background-color: #451da0;
    color: #fff;
    padding: 4px 8px;
    display: flex;
    justify-content: space-between;
  }
}
.conversation {
  height: calc(100% - 77px);
  overflow: auto;
  padding: 20px;
  padding-bottom: 0;
}
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
    height: 0;
    visibility: hidden;
  }
}

.text-bar {
  height: 50px;
  border-top: 1px solid #ccc;
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &__field {
    float: left;
    width: calc(100% - 50px);
    height: 100%;

    input {
      width: 100%;
      height: 100%;
      padding: 0 20px;
      border: none;
      position: relative;
      vertical-align: middle;
      font-size: 14px;
    }
  }
  &__thumb {
    float: left;
    width: 50px;
    height: 100%;
    padding: 10px;
    &:hover {
      opacity: 0.8;
    }
    .thumb {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
}

.anim-wiggle {
  animation: wiggle 0.2s ease infinite;
}
.anim-wiggle-2 {
  animation: wiggle2 0.2s ease infinite;
}

@keyframes wiggle {
  0% {
    transform: rotateZ(5deg);
  }
  50% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(5deg);
  }
}
@keyframes wiggle2 {
  0% {
    transform: rotateZ(10deg);
  }
  50% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}
