@import "../../../../assets/scss/helper/variable";
.footer-border {
  border-top: 1px solid $border-color-base;
  background-color: rgba(35, 9, 94, 1);
  color: rgba(223, 223, 223, 1);
  .footer-block {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    border-bottom: 1px solid rgba(223, 223, 223, 1);
    padding: 16px 8px;
    margin-bottom: 16px;
    a {
      color: rgba(223, 223, 223, 1);
    }
    .title {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 8px;
    }
  }
}
