<div class="w-100 pt-30 footer-border">
  <div class="container">
    <div class="footer-block">
      <div class="col-12">
        <p class="title">
          Việc làm ở các lĩnh vực
        </p>
        <div class="d-flex flex-wrap">
          <div class="col-lg-3 col-12 col-sm-6" *ngFor="let item of fieldJob">
            <a [routerLink]="['/search']" [queryParams]="{'career':item.id}">{{item.fieldName}}</a>
          </div>
        </div>
      </div>

    </div>
    <div class="footer-block">
      <div>
        <p class="title">
          Liên hệ
        </p>
        <p>
          Số điện thoại: 0379700427
        </p>
        <p>
          Email: hive-connect-social@gmail.com
        </p>
      </div>
    </div>

    <div class="footer-block mb-0">
      <div class="col-6">
        <p class="title">
          Về chúng tôi
        </p>
        <p class="fw-bold">
          Hive Connect - Nhóm đồ án đại học FPT 2022
        </p>
        <p class="">
          Địa chỉ: Đất Thổ Cư Hòa Lạc, Km29 Đường Cao Tốc 08, Thạch Hoà, Thạch Thất, Hà Nội, Vietnam
        </p>
      </div>
      <!-- <div>
        <p class="title">
          Thông tin
        </p>
        <div *ngFor="let item of navigationItem$ | async" class="mb-3">
          <a [routerLink]="item.path">{{item.label}}</a>
        </div>
      </div> -->
    </div>
    <!-- <div class="footer-block">
      <img src="/assets/images/logo.png" alt="" width="48" height="48">
      <p class="fst-italic mt-2">&emsp;Copyright © 2022 Hive Connect - All Rights Reserved</p>
    </div> -->
    <!-- <div class="row">
      <div class="mr-24 col-4">
        <a [routerLink]="['/home']" class="pointer"><img src="/assets/images/logo.png" alt="" width="102"
            height="102"></a>
        <p>Đất Thổ Cư Hòa Lạc, Km29 Đường Cao Tốc 08, Thạch Hoà, Thạch Thất, Hà Nội 10000, Vietnam
        </p>
      </div>
      <div class="col-4 text-center">
        <div *ngFor="let item of navigationItem$ | async" class="mb-3">
          <a [routerLink]="item.path" routerLinkActive="color-primary" class="fz-20">{{item.label}}</a>
        </div>
      </div>
    </div>
    <p class="fst-italic mt-2">Copyright © 2022 Hive Connect - All Rights Reserved</p> -->
  </div>
</div>