<div class="wrapper-container">
  <h2 class="logo-title color-primary pointer" [routerLink]="['/home']"><img src="/assets/images/logo.png" alt=""
      width="128" height="128"></h2>
  <router-outlet></router-outlet>
</div>