<div class="text-center">
  <h1 class="color-primary mb-70">Bạn là?</h1>
  <div class="d-flex justify-content-center option-wrapper">
    <div class="d-flex flex-column justify-content-center align-items-center pointer no-fill"
      (click)="onNextStep.emit({data:{role:ROLE.candidate},step:2})">
      <svg-icon class="mb-60" src="/assets/images/register-candidate.svg"></svg-icon>
      <h1>Ứng viên</h1>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center pointer no-fill"
      (click)="onNextStep.emit({data:{role:ROLE.recruiter},step:2})">
      <svg-icon class="mb-60" src="/assets/images/register-recruiter.svg"></svg-icon>
      <h1>Nhà tuyển dụng</h1>
    </div>
  </div>
</div>