<div class="bg-white pb-45 fill-svg home">
  <!-- <div class="w-100 text-center mt-45">
    <span>
      <h2><b>Tìm việc làm nhanh 24h, việc làm mới nhất trên toàn quốc</b></h2>
      <h4>
        Tiếp cận 30,000+ tin tuyển dụng việc làm mới mỗi ngày từ hàng nghìn doanh nghiệp uy tín tại Việt Nam
      </h4>
    </span>
  </div> -->
  <div class="position-relative w-100" style="min-height: 320px;">
    <hc-homepage-candidate-banner [displayPosition]="position.homepageBannerA"></hc-homepage-candidate-banner>
    <div class="position-absolute search w-100">
      <hc-homepage-candidate-search></hc-homepage-candidate-search>
    </div>
  </div>
  <div class="container">
    <!-- <ng-container *ngIf="homepage$ | async; let homepage"> -->
    <hc-homepage-candidate-job-section-first>
    </hc-homepage-candidate-job-section-first>
    <hc-homepage-candidate-banner [displayPosition]="position.homepageBannerB"></hc-homepage-candidate-banner>
    <hc-homepage-candidate-job-section-seconds></hc-homepage-candidate-job-section-seconds>
    <hc-homepage-cadidate-section-third></hc-homepage-cadidate-section-third>
    <hc-homepage-candidate-banner [displayPosition]="position.homepageBannerC"></hc-homepage-candidate-banner>
    <hc-homepage-candidata-company></hc-homepage-candidata-company>
    <hc-homepage-candidate-other-job></hc-homepage-candidate-other-job>
    <!-- </ng-container> -->

  </div>

</div>