<div class="card" style="width: 24rem;" *ngIf="!isCreateCompany; else createTemp">
	<div class="card-body">
		<h5 class="card-title mb-3">Chọn công ty của bạn</h5>
		<div class="d-flex gap-16">
			<select class="form-select" aria-label="Default select example" [(ngModel)]="companyId">
				<option selected value="0">Chọn công ty của bạn</option>
				<option [value]="item.id" *ngFor="let item of company$ | async">{{item.name}}</option>
			</select>
			<button class="btn btn-primary fit-content" (click)="sendRequestJoin(companyId)" hcButtonLoading
				[loading]="loading">Lưu</button>
		</div>
		<div class="divider-wrapper">
			<hr class="divider" />
			<span class="color-third">Hoặc tạo công ty của bạn</span>
			<hr class="divider" />
		</div>
		<div class="row justify-content-center">
			<button class="btn btn-primary bg-primary text-white fit-content" (click)="switchMode(true)">Nhập thông tin
				doanh
				nghiệp</button>
		</div>
	</div>
</div>

<ng-template #createTemp>
	<div class="card">
		<div class="card-body">
			<h5 class="card-title mb-3">{{company?.id ? 'Sửa thông tin' :'Tạo'}} công ty của bạn</h5>
			<ng-container *ngIf="company?.id;then editForm;else createForm">
			</ng-container>
		</div>
	</div>
</ng-template>
<ng-template #createForm>
	<form [formGroup]="form" (ngSubmit)="submit()">
		<div class="row">
			<div *ngIf="form.controls['name']; let controls" class="col-6">
				<hc-input-common [controls]="controls" [placeHolder]="'FPT software'" [isRequired]="true"
					[label]="'Tên công ty'">
				</hc-input-common>
			</div>
			<div class="col-6">
				<div class="position-relative avatar-wrapper d-inline-block ms-3 btn-wrapper">
					<img src="{{ (avatar?.result || company.avatar) | imageConvert: 'company'}}" alt="avatar" width="106"
						height="106" class="border border-primary rounded-circle image-cover">
					<button class="btn btn-none position-absolute avatar-upload" (click)="input.click()" type="button">
						<svg-icon src="/assets/images/icons/camera-avatar.svg"></svg-icon>
					</button>
					<button class="btn btn-none btn-delete position-absolute" (click)="removeAvatar()"
						*ngIf="avatar?.result">X</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div *ngIf="form.controls['phoneNumber']; let controls" class="col-6">
				<hc-input-common [controls]="controls" [placeHolder]="'xxx.xxx.xxx'" [isRequired]="true" [errorRoot]="'phone'"
					[label]="'Số điện thoại'">
				</hc-input-common>
			</div>
			<div *ngIf="form.controls['email']; let controls" class="col-6">
				<hc-input-common [controls]="controls" [placeHolder]="'company@gmail.com'" [isRequired]="true"
					[errorRoot]="'email'" [label]="'Email'">
				</hc-input-common>
			</div>
			<div *ngIf="form.controls['numberEmployees']; let controls" class="col-6">
				<hc-input-common [controls]="controls" [placeHolder]="'1000'" [isRequired]="true" [label]="'Số lượng nhân sự'"
					[typeInput]="'number'">
				</hc-input-common>
			</div>
			<div *ngIf="form.controls['taxCode']; let controls" class="col-6">
				<hc-input-common [controls]="controls" [placeHolder]="'xxxxxxxxxx-xxx'" [isRequired]="true" [errorRoot]="'tax'"
					[label]="'Mã số thuế'">
				</hc-input-common>
			</div>
			<div *ngIf="form.controls['website']; let controls" class="col-6">
				<hc-input-common [controls]="controls" [placeHolder]="'https://company.com'" [label]="'Website công ty'">
				</hc-input-common>
			</div>
			<div class="col-6">
				<hc-input-select-common [controls]="form.controls['fieldWork']" [isRequired]="true"
					[placeHolder]="'Lĩnh vực kinh doanh'" [label]="'Lĩnh vực kinh doanh'" [listOption]="fieldJob">
				</hc-input-select-common>
			</div>
			<div *ngIf="form.controls['mapUrl']; let controls" class="position-relative">
				<div>
					<hc-input-common [controls]="controls" [placeHolder]="'https://google.map.com'"
						[label]="'Địa chỉ trên google map'" [classWrapper]="'mb-24 map'">
					</hc-input-common>
				</div>
				<div class="btn p-0 btn-review" (click)="previewUrl(urlTemp)">
					<svg-icon src="/assets/images/icons/eye.svg" class="fill-svg"></svg-icon>
				</div>
			</div>
			<div *ngIf="form.controls['address']; let controls">
				<hc-input-common [controls]="controls" [isRequired]="true" [placeHolder]="'Trung Kính, Hà Nội'"
					[label]="'Địa chỉ'">
				</hc-input-common>
			</div>
			<div *ngIf="form.controls['description']; let controls">
				<hc-text-editor [controls]="controls"
					[placeHolder]="'Nơi làm việc năng động sáng tạo, tạo điều kiện cho nhân viên...'" [label]="'Mô tả công ty'">
				</hc-text-editor>
			</div>
		</div>
		<div class="row d-none">
			<hc-recruiter-business-license [recruiterId]="profile.id"></hc-recruiter-business-license>
		</div>
		<div class="d-flex justify-content-end gap-16 align-items-center">
			<button class="btn btn-primary fit-content" type="submit" hcButtonLoading [loading]="loading">{{company?.id
				?
				'Sửa' :'Tạo'}}</button>
			<button class="btn btn-danger fit-content" type="button" (click)="switchMode(false)">Hủy</button>
		</div>
	</form>

</ng-template>
<ng-template #editForm>
	<form [formGroup]="form" (ngSubmit)="submit()">
		<div class="row mb-16">
			<div *ngIf="form.controls['name']; let controls" class="col-6">
				<hc-input-common [controls]="controls" [placeHolder]="'FPT software'" [label]="'Tên công ty'"
					[isRequired]="true">
				</hc-input-common>
			</div>
			<div class="col-6">
				<div class="position-relative avatar-wrapper d-inline-block ms-3 btn-wrapper">
					<img src="{{ (avatar?.result || company.avatar) | imageConvert: 'company'}}" alt="avatar" width="106"
						height="106" class="border border-primary rounded-circle image-cover">
					<button class="btn btn-none position-absolute avatar-upload" (click)="input.click()" type="button">
						<svg-icon src="/assets/images/icons/camera-avatar.svg"></svg-icon>
					</button>
					<button class="btn btn-none btn-delete position-absolute" (click)="removeAvatar()"
						*ngIf="avatar?.result">X</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div *ngIf="form.controls['companyPhone']; let controls" class="col-6">
				<hc-input-common [controls]="controls" [placeHolder]="'xxx.xxx.xxx'" [errorRoot]="'phone'" [isRequired]="true"
					[label]="'Số điện thoại'">
				</hc-input-common>
			</div>
			<div *ngIf="form.controls['companyEmail']; let controls" class="col-6">
				<hc-input-common [controls]="controls" [placeHolder]="'company@gmail.com'" [label]="'Email'" [isRequired]="true"
					[errorRoot]="'email'">
				</hc-input-common>
			</div>
			<div *ngIf="form.controls['numberEmployees']; let controls" class="col-6">
				<hc-input-common [controls]="controls" [placeHolder]="'1000'" [label]="'Số lượng nhân sự'" [isRequired]="true"
					[typeInput]="'number'">
				</hc-input-common>
			</div>
			<div *ngIf="form.controls['taxCode']; let controls" class="col-6">
				<hc-input-common [controls]="controls" [placeHolder]="'xxxxxxxxxx-xxx'" [label]="'Mã số thuế'"
					[isRequired]="true" [errorRoot]="'tax'">
				</hc-input-common>
			</div>
			<div *ngIf="form.controls['companyWebsite']; let controls" class="col-6">
				<hc-input-common [controls]="controls" [placeHolder]="'https://company.com'" [label]="'Website công ty'">
				</hc-input-common>
			</div>
			<div class="col-6">
				<hc-input-common [controls]="form.controls['fieldWork']" [placeHolder]="'Lĩnh vực kinh doanh'"
					[label]="'Lĩnh vực kinh doanh'"></hc-input-common>
			</div>
			<div *ngIf="form.controls['mapUrl']; let controls" class="position-relative">
				<div>
					<hc-textarea-common [controls]="controls" [placeHolder]="'https://google.map.com'"
						[label]="'Địa chỉ trên google map'" [classWrapper]="'mb-24 map'">
					</hc-textarea-common>
				</div>
				<div class="btn p-0 btn-review" (click)="previewUrl(urlTemp)">
					<svg-icon src="/assets/images/icons/eye.svg" class="fill-svg"></svg-icon>
				</div>
			</div>
			<div *ngIf="form.controls['companyAddress']; let controls">
				<hc-input-common [controls]="controls" [placeHolder]="'Trung Kính, Hà Nội'" [label]="'Địa chỉ'"
					[isRequired]="true">
				</hc-input-common>
			</div>
			<div *ngIf="form.controls['companyDescription']; let controls">
				<hc-text-editor [controls]="controls"
					[placeHolder]="'Nơi làm việc năng động sáng tạo, tạo điều kiện cho nhân viên...'" [label]="'Mô tả công ty'">
				</hc-text-editor>
			</div>
		</div>
		<div class="row">
			<hc-recruiter-business-license [recruiterId]="profile.id"> </hc-recruiter-business-license>
		</div>
		<div class="row gap-8">
			<span class="fw-bold">Ảnh bìa</span>
			<div class="d-flex">
				<div class="cover-image">
					<hc-image-preview *ngIf="coverImageUrl.file || company.coverImageUrl"
						[url]="coverImageUrl.result || company.coverImageUrl" (onRemove)="removeCoverImage()"
						[showDelete]="!!coverImageUrl.result">
					</hc-image-preview>
				</div>
				<div class="upload-image col-3 pointer mb-2 ms-4" (click)="cover.click()">
					<svg-icon src="/assets/images/icons/Cloud-upload.svg" [svgStyle]="{ 'width.px':90,'height.px':90 }">
					</svg-icon>
				</div>
			</div>
		</div>
		<div class="row gap-8">
			<span class="fw-bold">Tải lên ảnh giới thiệu công ty</span>
			<div class="d-flex flex-wrap gap-8">
				<hc-image-preview *ngFor="let item of imageListOriginal; let index=index" [url]="item.url"
					(onRemove)="removeOrigin(index)"></hc-image-preview>
			</div>
			<div class="d-flex flex-wrap gap-8">
				<hc-image-preview *ngFor="let item of imageListUpload; let index=index" [url]="item.result"
					(onRemove)="removeUploadImage(index)"></hc-image-preview>
			</div>
			<!-- <div class="upload-image col-3 mb-2 btn-wrapper" *ngFor="let item of imageListOriginal; let index=index">
        <img src="{{item}}" alt="">
        <button class="btn btn-none btn-delete" (click)="removeOrigin(index)">X</button>
      </div> -->
			<!-- <div class="upload-image col-3 mb-2 btn-wrapper" *ngFor="let item of imageListUpload; let index=index">
        <img src="{{item.result}}" alt="">
        <button class="btn btn-none btn-delete" (click)="removeUploadImage(index)">X</button>
      </div> -->
			<div class="upload-image col-3 pointer mb-2 ms-4" (click)="inputImage.click()">
				<svg-icon src="/assets/images/icons/Cloud-upload.svg" [svgStyle]="{ 'width.px':90,'height.px':90 }">
				</svg-icon>
			</div>
		</div>
		<div class="d-flex justify-content-end gap-16 align-items-center">
			<button class="btn btn-primary fit-content" type="submit" hcButtonLoading [loading]="loading">{{company?.id
				?
				'Sửa' :'Tạo'}}</button>
			<button class="btn btn-danger fit-content" type="button" (click)="switchMode(false)" hcButtonLoading
				[loading]="loading">Hủy</button>
		</div>
	</form>
</ng-template>
<input type="file" name="" id="" class="d-none" hcFileHandle #input accept="image/jpeg,image/jpg,image/png"
	(onFileHandleFinish)="handleFileFinish($event)">
<input type="file" name="" id="" class="d-none" hcFileHandle #cover accept="image/jpeg,image/jpg,image/png"
	(onFileHandleFinish)="handleFileCoverFinish($event)">
<input type="file" name="" id="" class="d-none" hcFileHandle #inputImage accept="image/jpeg,image/jpg,image/png"
	(onFileHandleFinish)="handleImageFinish($event)" multiple>

<ng-template #urlTemp>
	<div [innerHTML]="form.controls['mapUrl'].value | safe: 'html'">

	</div>
</ng-template>