@import "../../../../../assets/scss/helper/variable";
::ng-deep {
  .cover-image {
    .upload-image {
      width: 100%;
    }
  }
}
.divider-wrapper {
  padding: 24px 0;
  display: flex;
  align-items: center;
  gap: 8px;
  .divider {
    flex: 1;
  }
}
.card {
  background-color: white;
  z-index: 3;
}
.upload-image {
  padding: 0;
  background: $bg-secondary;
  border: 1px dashed $border-color-base;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: relative;
  width: 150px;
  height: 150px;
  img {
    width: 100%;
  }
}
.btn-wrapper {
  .btn-delete {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    background-color: rgba(173, 225, 205, 0.3);
    border-radius: 50%;
    z-index: 10;
  }
  &:hover {
    .btn-delete {
      display: block;
    }
  }
}
.btn-review {
  position: absolute;
  top: 32px;
  right: 20px;
}
::ng-deep {
  .map {
    .form-control {
      padding-right: 32px;
    }
  }
}
