<hc-register-step1 *ngIf="step === 1" (onNextStep)="onNextStep($event)"></hc-register-step1>
<hc-register-step2 *ngIf="step === 2" (onNextStep)="onNextStep($event)"></hc-register-step2>
<hc-register-step3 *ngIf="step === 3" (onNextStep)="onNextStep($event)"></hc-register-step3>
<hc-register-step4 *ngIf="step === 4"></hc-register-step4>