<div class="d-flex">
    <svg-icon src="/assets/images/icons/arrow-left.svg" class="stoke-fill pointer" (click)="back()"></svg-icon>
    <p class="block-title">
        Danh sách Nhà tuyển dụng xem hồ sơ của bạn
    </p>
</div>
<ng-container *ngIf="viewer$ | async; let viewer; else loadingTemp">
    <div class="wrapper d-flex justify-content-between" *ngFor="let item of viewer">
        <div class="d-flex">
            <div class="logo mr-16">
                <img src="{{item.companyAvatar}}" alt="" width="88" height="88">
            </div>
            <div class="info">
                <p class="fw-bold color-primary">{{item.viewerName}}</p>
                <p><a [routerLink]="['/company',item.companyId]"
                        routerLinkActive="router-link-active">{{item.companyName}}</a>
                </p>
            </div>
        </div>
        <div>
            {{item.viewDate | date:'dd/MM/YYYY'}}
        </div>
    </div>
    <ng-container *ngIf="loading; then loadingTemp">

    </ng-container>

    <ng-container *ngIf="!loading && !viewer.length">
        <div class="wrapper">
            Hiện bạn chưa có ai xem hồ sơ
        </div>
    </ng-container>


    <div class="wrapper text-center" *ngIf="viewer.length && totals > DEFAULT_PAGINATION.pageSize">
        <pagination [previousText]="'Trang trước'" [nextText]="'Trang sau'" [totalItems]="totals"
            [itemsPerPage]="DEFAULT_PAGINATION.pageSize" (pageChanged)="pageChanged($event)" *ngIf="!loading">
        </pagination>
    </div>
</ng-container>
<ng-template #loadingTemp>
    <div class="wrapper">
        <hc-skeleton></hc-skeleton>
    </div>
</ng-template>