<div class="modal-body px-0" *ngIf="!loadingStatus;else loadingTemp">
  <p class="fw-bold" *ngIf="!isView || (isView && profile.additionalLicenseUrl)">Giấy tờ xác minh</p>
  <div class="row px-3">
    <div class="col-6" *ngIf="!isView || (isView && profile.businessLicenseUrl)">
      <div class="d-flex gap-16  mb-3">
        <span>Giấy phép kinh doanh</span>
        <span class="fw-bold fst-italic text-danger">{{statusBusiness}}</span>
      </div>
      <div class="d-flex gap-16">
        <hc-image-preview [url]="mainLicense.result||profile.businessLicenseUrl"
          *ngIf="profile.businessLicenseUrl || mainLicense.result" [showDelete]="!!mainLicense.result"
          (onRemove)="onRemove(mainLicense)"></hc-image-preview>
        <div class="upload-image col-3 pointer mb-2" (click)="main.click()"
          *ngIf="profile.businessLicenseApprovalStatus !== status.approve && !isView">
          <svg-icon src="/assets/images/icons/Cloud-upload.svg" [svgStyle]="{ 'width.px':90,'height.px':90 }">
          </svg-icon>
        </div>
      </div>
    </div>
    <div class="col-6" *ngIf="!isView || (isView && profile.additionalLicenseUrl)">
      <div class="d-flex gap-16 mb-3">
        <span>Giấy tờ bổ sung</span>
        <span class="fw-bold fst-italic text-danger">{{statusOtherBusiness}}</span>
      </div>
      <div class="d-flex gap-16">
        <hc-image-preview [url]="otherLicense.result||profile.additionalLicenseUrl" [showDelete]="!!otherLicense.result"
          *ngIf="profile.additionalLicenseUrl || otherLicense.result" (onRemove)="onRemove(otherLicense)">
        </hc-image-preview>
        <div class="upload-image col-3 pointer mb-2" (click)="other.click()"
          *ngIf="profile.additionalLicenseApprovalStatus !== status.approve && !isView">
          <svg-icon src="/assets/images/icons/Cloud-upload.svg" [svgStyle]="{ 'width.px':90,'height.px':90 }">
          </svg-icon>
        </div>
      </div>
    </div>
  </div>
</div>
<input type="file" name="" id="" class="d-none" hcFileHandle #main accept="image/jpeg,image/jpg,image/png"
  (onFileHandleFinish)="handleMainLicense($event)">
<input type="file" name="" id="" class="d-none" hcFileHandle #other accept="image/jpeg,image/jpg,image/png"
  (onFileHandleFinish)="handleOtherLicense($event)">
<ng-template #loadingTemp>
  <hc-post-skeleton></hc-post-skeleton>
</ng-template>