@import "../../../../../assets/scss/helper";
.upload-image {
  padding: 0;
  background: $bg-secondary;
  border: 1px dashed $border-color-base;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: relative;
  width: 150px;
  height: 150px;
  img {
    width: 100%;
  }
}
