<div class="job-wrapper">
  <a class="job-content" href="javascript:void(0)">
    <div class="job-content__header">
      <div class="job-content__header__avatar">
        <div>
          <ngx-skeleton-loader [theme]="{
            width: '48px',
            height: '48px',
            'border-radius':'50%'
          }"></ngx-skeleton-loader>
        </div>
      </div>
      <div class="job-content__header__detail">
        <ngx-skeleton-loader [theme]="{
          width: '100px',
          'border-radius': '0',
          height: '10px'
        }"></ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{
          width: '100px',
          'border-radius': '0',
          height: '10px'
        }"></ngx-skeleton-loader>
      </div>
    </div>
    <div class="job-content__detail">
      <ngx-skeleton-loader [theme]="{
        width: '100px',
        'border-radius': '0',
        height: '10px'
      }"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{
        width: '100px',
        'border-radius': '0',
        height: '10px'
      }"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{
        width: '100px',
        'border-radius': '0',
        height: '10px'
      }"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{
        width: '100px',
        'border-radius': '0',
        height: '10px'
      }"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{
        width: '100px',
        'border-radius': '0',
        height: '10px'
      }"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{
        width: '100px',
        'border-radius': '0',
        height: '10px'
      }"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{
        width: '100px',
        'border-radius': '0',
        height: '10px'
      }"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{
        width: '100px',
        'border-radius': '0',
        height: '10px'
      }"></ngx-skeleton-loader>
      <div class="job-content__detail__meta">
        <div class="job-type">
          <ngx-skeleton-loader [theme]="{
            width: '100px',
            'border-radius': '0',
            height: '10px'
          }"></ngx-skeleton-loader>
          <ngx-skeleton-loader [theme]="{
            width: '100px',
            'border-radius': '0',
            height: '10px'
          }"></ngx-skeleton-loader>
        </div>
        <div class="remind-time">
        </div>
      </div>
    </div>
  </a>
</div>