@import "../../../../../assets/scss/helper/variable";
.job-wrapper {
  background: #fff;
  border: 1px solid $border-color-base;
  border-radius: 4px;
  box-shadow: none;
  color: dimgray;
  cursor: pointer;
  float: left;
  height: 245px;
  margin: 10px;
  padding: 24px;
  position: relative;
  -webkit-transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  width: 283px;
  position: relative;
  .job-content {
    bottom: 25px;
    left: 25px;
    position: absolute;
    right: 25px;
    top: 25px;
    &__header {
      display: flex;
      margin: 0 0 17px;
      &__avatar {
        margin-right: 16px;
        user-select: none;
      }
      &__detail {
        color: dimgray;
        padding-top: 8px;
        &__company-name {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 160px;
          font-size: 14px;
          height: 18px;
          line-height: 1;
          margin-bottom: 2px;
          color: #191919;
          font-weight: 400;
        }
        &__location {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 160px;
          font-size: 14px;
        }
      }
    }
    &__detail {
      &__title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 5px;
        color: #191919;
        font-weight: 400;
      }
      &__description {
        color: dimgray;
        font-size: 13px;
        height: 54px;
        line-height: 18px;
        margin-bottom: 20px;
        padding-right: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &__meta {
        align-items: center;
        border-top: 1px solid $border-color-base;
        display: flex;
        padding-top: 13px;
        .job-type,
        .remind-time {
          color: dimgray;
          display: flex;
          margin-right: 12px;
        }
      }
    }
  }
}
