<!-- <form [formGroup]="form" (ngSubmit)="submit()">
  <div class="create-post__header d-flex align-items-center">
    <div class="author-post mr-16">
      <img [src]="accountInfo.picture | imageConvert" width="48" height="48" referrerpolicy="no-referrer" />
    </div>
    <div>
      <p class="fz-14"><strong>{{accountInfo.name}}</strong></p>
      <p class="fz-12 color-third">{{accountInfo.email}}</p>
    </div>
  </div>
  <div class="row">
    <div class="mb-16">
      <hc-input-common [controls]="form.controls['username']" [errorRoot]="'username'" [errorList]="['required']"
        [label]="'Tên đăng nhập'" [placeHolder]="'matsu'"></hc-input-common>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <hc-input-common [controls]="form.controls['password']" [typeInput]="'password'" [errorRoot]="'password'"
        [typeInput]="'password'" [errorList]="['required']" [placeHolder]="'Nhập mật khẩu'" [label]="'Mật khẩu'">
      </hc-input-common>
    </div>
    <div class="col-6">
      <hc-input-common [controls]="form.controls['matchPassword']" [typeInput]="'password'" [errorRoot]="'password'"
        [typeInput]="'password'" [errorList]="['required','notMatch']" [placeHolder]="'Xác nhận mật khẩu'"
        [label]="'Xác nhận mật khẩu'">
      </hc-input-common>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-3">
    <button type="submit" class="btn btn-primary" hcButtonLoading [loading]="loading" [disabled]="loading">Đăng
      ký</button>
  </div>
</form> -->
<div>
  <hc-skeleton></hc-skeleton>
</div>