<div class="d-flex justify-content-between align-items-center mb-16">
  <p class="block-title">Chứng chỉ, giải thưởng</p>
  <button class="btn p-0 m-0" hcButtonLoading [loading]="loading" (click)="addField()">
    <svg-icon src="/assets/images/icons/plus-cv.svg"></svg-icon>
  </button>
</div>
<div class="item-wrapper mb-16 gap-8" *ngFor="let item of data">
  <p>{{item.certificateName}}</p>
  <button class="btn">
    <a href="{{item.certificateUrl | urlConvert}}" target="_blank">
      <svg-icon src="/assets/images/icons/Share-box.svg"></svg-icon>
    </a>
  </button>
  <div class="btn-group">
    <button class="btn edit-btn" (click)="edit(item)" hcButtonLoading [loading]="loading">
      <svg-icon src="/assets/images/icons/edit-cv.svg"></svg-icon>
    </button>
    <button class="btn edit-btn" (click)="delete(item)" hcButtonLoading [loading]="loading">
      <svg-icon src="/assets/images/icons/Trash.svg"></svg-icon>
    </button>
  </div>
</div>
<div class="text-center" *ngIf="!data.length">
  <span class="fw-bold">Cập nhật để nhận được nhiều gợi ý việc làm hơn!</span>
</div>
<div class="bg-secondary item-wrapper" *ngIf="isAdd">
  <form [formGroup]="form" class="w-100" (submit)="addOrEdit()">
    <div class="row mb-16">
      <div class="col-9 row align-items-center mb-16">
        <label for="" class="col-3">Tên kỹ năng<span class="text-danger">*</span>: </label>
        <div class="col-9">
          <hc-input-common [controls]="form.controls['certificateName']" [placeHolder]="'Cấu trúc phần mềm'">
          </hc-input-common>
        </div>
      </div>
      <div class="col-3">
        <div class="d-flex justify-content-end w-100">
          <button class="btn btn-primary fit-content bg-primary text-white" hcButtonLoading [loading]="loading"
            type="submit">Lưu</button>
          <button class="btn btn-danger fit-content ms-3 text-white" hcButtonLoading [loading]="loading" type="button"
            (click)="abort()">Hủy</button>
        </div>
      </div>
      <div class="col-9 row align-items-center">
        <label for="" class="col-3">Đường dẫn<span class="text-danger">*</span>: </label>
        <div class="col-9">
          <hc-input-common [controls]="form.controls['certificateUrl']" [placeHolder]="'https://caertidicate.com'"
            classWrapper="''">
          </hc-input-common>
        </div>
      </div>
      <!-- <div class="col-6 row align-items-center">
        <label for="" class="col-6">Trình độ: </label>
        <div class="col-6">
          <hc-input-select-common [controls]="form.controls['certificateName']" [placeHolder]="'Trình độ'" classWrapper="''"
            [listOption]="DROPDOWN_LEVEL">
          </hc-input-select-common>
        </div>
      </div> -->
    </div>
  </form>
</div>