<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="mx-auto mb-16">
    <div class="col-12">
      <hc-input-common [controls]="form.controls['oldPassword']" [typeInput]="'password'" [errorRoot]="'password'"
        [typeInput]="'password'" [label]="'Mật khẩu cũ'" [isRequired]="true" [errorList]="['required','maxlength']"
        [placeHolder]="'Nhập mật khẩu'">
      </hc-input-common>
    </div>
    <div class="col-12 mb-36">
      <hc-input-common [controls]="form.controls['password']" [typeInput]="'password'" [errorRoot]="'password'"
        [typeInput]="'password'" [label]="'Mật khẩu mới'" [isRequired]="true"
        [errorList]="['required','maxlength','pattern']" [placeHolder]="'Nhập mật khẩu'">
      </hc-input-common>
    </div>
    <div class="col-12">
      <hc-input-common [controls]="form.controls['matchPassword']" [typeInput]="'password'" [errorRoot]="'password'"
        [typeInput]="'password'" [label]="'Xác nhận mật khẩu mới'" [isRequired]="true"
        [errorList]="['required','notMatch','maxlength']" [placeHolder]="'Xác nhận mật khẩu'"></hc-input-common>
    </div>
    <button class="btn btn-primary fit-content" type="submit" hcButtonLoading [loading]="loading">Đổi mật khẩu</button>
  </div>
</form>