<div class="row">
  <div class="col-4">
    <label for="fullName">Tên:</label>
    <input type="text" class="form-control" id="fullName" [(ngModel)]="personalFilter.fullName"
      placeholder="Nguyễn Văn A">
  </div>
  <div class="col-4">
    <label for="email">Email:</label>
    <input type="text" class="form-control" id="email" [(ngModel)]="personalFilter.email" placeholder="abc@gmail.com">
  </div>
  <div class="col-4 mb-3">
    <label for="phone">Số điện thoại:</label>
    <input type="number" class="form-control" id="phone" [(ngModel)]="personalFilter.phone" placeholder="xxxxxxxxxxxx">
  </div>
  <div class="col-2 d-flex align-items-end">
    <button class="btn btn-primary fit-content text-white text-nowrap" (click)="search()" hcButtonLoading
      [loading]="loading">Tìm
      kiếm</button>
  </div>
</div>
<div class="table-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center">STT</th>
        <th>Ảnh đại diện</th>
        <th>Tên Nhân viên</th>
        <th>Email</th>
        <th>Số điện thoại</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of personal">
        <td class="text-center">
          {{item.stt}}
        </td>
        <td>
          <img src="{{item.avatar | imageConvert}}" alt="" width="48" height="48">
        </td>
        <td>
          {{item.fullName}}
        </td>
        <td>
          {{item.email}}
        </td>
        <td>
          {{item.phone}}
        </td>
        <td>
          <button class="btn btn-danger fit-content text-white" (click)="openConfirmModal(item)" hcButtonLoading
            [loading]="loading" *ngIf="item.recruiterId !== recruiterId">
            Xóa nhân viên
          </button>
        </td>
      </tr>
      <tr *ngIf="personal.length === 0">
        <td colspan="6" class="text-center">
          Không tìm thấy kết quả nào!
        </td>
      </tr>
    </tbody>
  </table>
  <pagination [previousText]="'Trang trước'" [nextText]="'Trang sau'" [totalItems]="totals"
    [itemsPerPage]="personalFilter.pageSize" (pageChanged)="pageChanged($event)"
    *ngIf="!loading && totals > personalFilter.pageSize">
  </pagination>
</div>