.wrapper {
  // box-shadow: 0px 0px 8px 2px rgba(173, 225, 205, 0.5);
  border-radius: 8px;
  padding: 16px;
  // background-color: #fff;
  cursor: pointer;
  .logo {
    height: 90px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .title {
      flex: 1;
      .upper {
        display: flex;
        justify-content: space-between;
        .company-name {
          flex: 1;
        }
      }
    }
  }
}
