<div class="wrapper" [routerLink]="['/job',job.id || job.jobId]">
  <div class="logo d-flex">
    <div class="col-4">
      <img src="{{job.companyAvatar | imageConvert: 'company'}}" alt="">
    </div>
    <div class="title mb-16">
      <div class="upper mb-8">
        <div class="company-name">
          <span class="fz-20">{{job.companyName || 'Fpt Company'}}</span>
        </div>

      </div>
      <div class="lower">
        <span>{{job.jobName || 'Tuyển frontend developer'}}</span>
      </div>
    </div>
  </div>
  <div class="w-100">
    <div class="d-flex align-items-center gap-8 mb-3 flex-wrap">
      <div class="item">
        <svg-icon src="/assets/images/icons/location-job.svg"></svg-icon>
        <span>{{job.workPlace || 'Hà Nội'}}</span>
      </div>
      <div class="item">
        <svg-icon src="/assets/images/icons/clock-job.svg"></svg-icon>
        <span>{{job.weekday || '5 ngày/tuần'}}</span>
      </div>
      <div class="item">
        <svg-icon src="/assets/images/icons/money.svg"></svg-icon>
        <span>{{(job.fromSalary || 10000) | moneyConvert}} - {{(job.toSalary || 20000) | moneyConvert}}</span>
      </div>
    </div>
    <div *ngIf="remainingTime > 0">
      <span class="fz-14">Còn <b>{{remainingTime}}</b> ngày để tuyển dụng</span>
    </div>
  </div>
</div>