<div *ngIf="detail$ | async;let detail; else loadingTemp" class="mt-3">
  <ng-container *ngIf="!loadingPackage; else loadingTemp">
    <hc-recruiter-config-body-job [(selectedJob)]="selectedJob" (selectedJobChange)="selectJob($event)" [jobs]="jobs"
      (nextPage)="nextPageJob()" (searchJob)="searchJob($event)" [detail]="detail"
      *ngIf="detail.infoPPRes?.normalPaymentPackage">
    </hc-recruiter-config-body-job>
    <hc-recruiter-config-body-banner [detail]="detail" *ngIf="detail.infoPPRes?.bannerPaymentPackage"
      (reloadPackage)="reload$.next('')">
    </hc-recruiter-config-body-banner>
  </ng-container>
</div>


<ng-template #loadingTemp>
  <div class="mt-3">
    <hc-skeleton></hc-skeleton>
  </div>
</ng-template>