<a class="wrapper pointer d-block" [routerLink]="['/recruiter',cv.id,'cv']" routerLinkActive="router-link-active">
  <div class="d-flex gap-16 mb-3">
    <div class="position-relative avatar-wrapper">
      <img src="{{cv.avatarUrl | imageConvert}}" alt="avatar" width="72" height="72"
        class="border border-primary rounded-circle image-cover">
    </div>
    <span class="fz-24">{{cv.fullName}}</span>
  </div>
  <div>
    <p class="title-cv">Thông tin cơ bản: </p>
    <div class="ms-3 mb-3">
      <p>
        <span>
          <svg-icon src="/assets/images/icons/Book.svg" class="stoke-svg"></svg-icon> Số năm kinh nghiệm:
        </span>
        {{cv.totalExperienceYear}}
      </p>
      <p>
        <span>
          <svg-icon src="/assets/images/icons/Processor.svg" class="stoke-svg"></svg-icon> Kỹ năng:
        </span> {{cv.techStack}}
      </p>
      <p>
        <span>
          <svg-icon src="/assets/images/icons/location-job.svg" class="stoke-svg"></svg-icon> Địa chỉ:
        </span> {{cv.address}}
      </p>
    </div>
    <div class="fw-bold title-cv">
      <svg-icon src="/assets/images/icons/Edit-alt.svg" class="stoke-svg"></svg-icon> Đôi chút về ứng viên:
    </div>
    <div class="ms-3">
      <p class="summary" [innerHTML]="cv.summary | safe: 'html'"></p>
    </div>
  </div>
</a>