@import "../../../../../assets/scss/helper/variable";
.title-cv {
  display: inline-block;
  border-bottom: 2px solid $primary-color;
  margin-bottom: 8px;
}
.wrapper {
  height: 342px;
}
.summary {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
