@import "../../../../../assets/scss/helper/variable";
.form-control {
  border-radius: 8px;
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom-color: $border-color-base;
  background-color: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
