<div class="{{classWrapper}}" *ngIf="_control">
  <label [for]="id" class="mb-8 text-nowrap" *ngIf="label">{{label}}<span *ngIf="isRequired"
      class="text-danger">*</span></label>
  <div class="position-relative">
    <div class="d-flex">
      <ng-content select="[prefix]"></ng-content>
      <input [type]="typeInput" class="form-control" [formControl]="_control" [id]="id" [placeholder]="placeHolder"
        hcInputValidateClass (blur)="onBlur($event)" [name]="name">
      <ng-content select="[postfix]"></ng-content>
    </div>
    <hc-form-error [controls]="_control" [type]="errorRoot" [errorList]="errorList"></hc-form-error>
  </div>
</div>