<p class="block-title">Lịch sử giao dịch</p>
<div class="wrapper">
  <div class="d-flex gap-16 align-items-end">
    <div class="col-4">
      <label for="code">Mã giao dịch</label>
      <input type="text" name="code" id="code" [(ngModel)]="filter.transactionCode" class="form-control" />
    </div>
    <button class="btn btn-primary fit-content" (click)="getTransaction()">Tìm kiếm</button>
  </div>
  <div class="table-container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>STT</th>
          <th>
            <div class="column-width">
              Mã giao dịch
            </div>
          </th>
          <th>
            <div class="column-width">
              Thông tin giao dịch
            </div>
          </th>
          <th class="text-end">
            <div class="column-width">
              Giá trị
            </div>
          </th>
          <th>
            <div class="column-width">
              Ngày Hết hạn
            </div>
          </th>
          <!-- <th>Ngày tạo</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of transactions">
          <td>{{item.stt}}</td>
          <td class="text-start">{{item.transactionCode}}</td>
          <td>{{item.orderType}}</td>
          <td class="text-end">{{item.amount | moneyConvert}}</td>
          <td class="text-start">{{item.expiredDate | date: 'dd/MM/YYYY'}}</td>
          <!-- <td>{{item.createdAt | date: 'dd-MM-YYYY'}}</td> -->
        </tr>
        <tr *ngIf="!loading && transactions.length === 0">
          <td colspan="6">
            <div class="text-center">
              <p>Bạn chưa thực hiện giao dịch nào</p>
            </div>
          </td>
        </tr>
        <ng-container *ngIf="loading; then loadingTemp">
        </ng-container>
      </tbody>
    </table>
    <pagination [previousText]="'Trang trước'" [nextText]="'Trang sau'" [totalItems]="totals" [itemsPerPage]="10"
      (pageChanged)="pageChanged($event)">
    </pagination>
  </div>
</div>
<ng-template #loadingTemp>
  <tr>
    <td colspan="6">
      <div class="d-flex">
        <hc-skeleton></hc-skeleton>
        <hc-skeleton></hc-skeleton>
        <hc-skeleton></hc-skeleton>
        <hc-skeleton></hc-skeleton>
        <hc-skeleton></hc-skeleton>
      </div>
    </td>
  </tr>
</ng-template>