@import "../../../assets/scss/helper/variable";
.bg-white {
  margin-top: 45px;
}
.tab-wrapper {
  box-shadow: 4px 4px 4px $bg-primary;
}
.icon-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $bg-primary;
}
