<hc-homepage-candidate-banner [displayPosition]="position.jobBannerA"></hc-homepage-candidate-banner>
<div class="container mb-45 fill-svg">
  <div class="bg-white">
    <hc-job-detail-header [detail]="jobDetail" *ngIf="!loading" (onApplyJob)="jobDetail.applied = $event"
      [isApply]="jobDetail.applied"></hc-job-detail-header>
    <div class="p-24" *ngIf="loading">
      <hc-post-skeleton></hc-post-skeleton>
    </div>
  </div>
  <div class="bg-white tab-wrapper d-flex align-content-center gap-24 p-16 fit-content">
    <span class="pointer color-primary" (click)="scroll(info)">Tin tuyển dụng</span>
    <span (click)="scroll(companyRef)" class="pointer">Thông tin công ty</span>
    <span (click)="scroll(sameCompany)" class="pointer">Việc làm khác tại công ty</span>
  </div>
  <div class="bg-white p-24 mb-45" id="info" #info>
    <hc-job-info-detail [jobDetail]="jobDetail" [profile]="profile" [loading]="loading" (onApply)="apply()"
      (cancelApply)="cancelApply()">
    </hc-job-info-detail>
  </div>
  <hc-homepage-candidate-banner [displayPosition]="position.jobBannerB"></hc-homepage-candidate-banner>
  <div class="bg-white p-16" id="samge-company" #sameCompany>
    <span class="fz-20 mb-8 d-block fw-bold">Công việc cùng công ty</span>
    <hc-job-same-company [companyId]="jobDetail.companyId"></hc-job-same-company>
  </div>
  <div class="bg-white p-16 mb-45" id="company" #companyRef>
    <ng-container *ngIf="jobDetail.company; let company">
      <div class="d-flex justify-content-between align-items-center">
        <span class="fz-20 mb-16 d-block fw-bold">Thông tin công ty</span>
        <a class="btn btn-primary fit-content" [routerLink]="['/company',company.id]">Xem trang công ty</a>
      </div>
      <div class="row gap-16 mb-16 mx-0">
        <div class="icon-info col-3">
          <svg-icon src="/assets/images/icons/Home-job.svg"></svg-icon>
        </div>
        <div class="col-9">
          <p class="mb-16 fw-bold ">Giới thiệu</p>
          <p class="pre-wrap" [innerHTML]="company.description | safe: 'html'">
          </p>
        </div>
      </div>
      <div class="row mx-0 gap-16 mb-16">
        <div class="icon-info col-3">
          <svg-icon src="/assets/images/icons/person-company-info.svg"></svg-icon>
        </div>
        <div class="col-9">
          <p class="mb-16 fw-bold ">Quy mô</p>
          <p class="pre-wrap">
            {{company.numberEmployees}} nhân viên
          </p>
        </div>
      </div>
      <div class="row mx-0 gap-16 mb-16">
        <div class="icon-info col-3">
          <svg-icon src="/assets/images/icons/Map-location.svg"></svg-icon>
        </div>
        <div class="col-9">
          <p class="mb-16 fw-bold ">Địa điểm</p>
          <p class="pre-wrap">
            {{company.address}}
          </p>
        </div>
      </div>
    </ng-container>
  </div>
  <hc-homepage-candidate-banner [displayPosition]="position.jobBannerC"></hc-homepage-candidate-banner>
  <div class="bg-white p-16">
    <span class="fz-20 mb-8 d-block fw-bold">Các công việc tương tự</span>
    <hc-job-similar></hc-job-similar>
  </div>
</div>
<ng-template #loadingTemp>
  <hc-post-skeleton></hc-post-skeleton>
</ng-template>