<div class="row">
  <div class="col-9">
    <span class="fz-20 mb-8 d-block fw-bold">Chi tiết tuyển dụng</span>
    <div class="radius-8 bg-secondary p-16 mb-16">
      <span class="fw-bold d-block mb-8">Thông tin chung</span>
      <div class="row">
        <ng-container *ngIf="!loading; else loadingTemp">
          <div class="col-6 d-flex gap-8 align-items-center">
            <svg-icon src="/assets/images/icons/money-job.svg"></svg-icon>
            <span><b>Mức lương:</b> {{jobDetail.fromSalary | moneyConvert}} - {{jobDetail.toSalary |
              moneyConvert}}</span>
          </div>
          <div class="col-6 d-flex gap-8 align-items-center mb-8">
            <svg-icon src="/assets/images/icons/person-job.svg"></svg-icon>
            <span><b>Số lượng người tuyển:</b> {{jobDetail.numberRecruits}} người</span>
          </div>
          <div class="col-6 d-flex gap-8 align-items-center mb-8">
            <svg-icon src="/assets/images/icons/Bag.svg"></svg-icon>
            <span><b>Hình thức làm việc:</b> {{mapWorkingForm[jobDetail.workForm]}}</span>
          </div>
          <div class="col-6 d-flex gap-8 align-items-center mb-8">
            <svg-icon src="/assets/images/icons/University.svg"></svg-icon>
            <span><b>Cấp bậc: </b>{{jobDetail.rank}}</span>
          </div>
          <div class="col-6 d-flex gap-8 align-items-center mb-8">
            <svg-icon src="/assets/images/icons/Umbrella.svg"></svg-icon>
            <span><b>Yêu cầu giới tính: </b>{{jobDetail.gender == null ? 'Không yêu cầu' : jobDetail.gender ?
              'Nam':'Nữ'}}</span>
          </div>
          <div class="col-6 d-flex gap-8 align-items-center mb-8">
            <svg-icon src="/assets/images/icons/Pulse.svg"></svg-icon>
            <span><b>Kinh nghiệm: </b>{{experience}}</span>
          </div>
        </ng-container>

      </div>
    </div>
    <div class="radius-8 bg-secondary mb-16 p-16">
      <ng-container *ngIf="!loading; else loadingTemp">
        <p class="fw-bold d-block mb-8">Địa điểm</p>
        <p>{{jobDetail.workPlace}}</p>
      </ng-container>

    </div>
    <ng-container *ngIf="!loading; else loadingTemp">
      <span class="fz-20 mb-8 d-block fw-bold">Mô tả công việc</span>
      <p class="pre-wrap pl-16" [innerHTML]="jobDetail.jobDescription | safe: 'html'">

      </p>
    </ng-container>
    <ng-container *ngIf="!loading; else loadingTemp">
      <span class="fz-20 mb-8 d-block fw-bold">Yêu cầu ứng viên</span>
      <p class="pre-wrap pl-16" [innerHTML]="jobDetail.jobRequirement | safe: 'html'">
      </p>
    </ng-container>
    <ng-container *ngIf="!loading; else loadingTemp">
      <span class="fz-20 mb-8 d-block fw-bold">Quyền lợi</span>
      <p class="pre-wrap pl-16" [innerHTML]="jobDetail.benefit | safe: 'html'">
      </p>
    </ng-container>
    <ng-container *ngIf="!loading; else loadingTemp">
      <ng-container *ngIf="profile && profile.id">
        <p class="pl-16" *ngIf="!jobDetail.applied">Ứng viên nộp hồ sơ trực tuyến bằng cách bấm <b
            class="color-primary pointer" (click)="onApply.emit()">Ứng
            tuyển</b> ngay
          dưới
          đây.</p>
        <div class="col-4 d-flex gap-16 align-items-center justify-content-end my-3 fit-content">
          <div>
            <button class="btn btn-primary fit-content bg-primary text-white" (click)="onApply.emit()"
              *ngIf="!jobDetail.applied">Ứng tuyển
              ngay</button>
            <div *ngIf="jobDetail.applied">
              <span class="text-danger">Bạn đã ứng tuyển </span>
              <button class="btn btn-danger" (click)="cancelApply.emit()" *ngIf="isShowCancelApplyButton">Hủy ứng
                tuyển</button>
              <br />
              <span class="text-danger fit-content" *ngIf="statusApply">{{statusApply[jobDetail.approvalStatus]}}</span>
            </div>
          </div>
          <!-- <div>
            <button class="btn btn-primary fit-content" (click)="jobDetail.following ? unFollow(): follow()"
              hcButtonLoading [loading]="header?.loadingFollow || false">{{btnFollowTitle}}</button>
          </div> -->
        </div>
        <span>Hạn nộp hồ sơ: {{jobDetail.endDate | date: 'dd-MM-YYYY'}} {{endDateStatus}}</span>
      </ng-container>
    </ng-container>

  </div>
  <div class="col-3 pt-24">
    <div class="radius-8 bg-secondary p-16 mb-16" *ngIf="(user$ | async)?.id">
      <span class="mb-8 d-block fw-bold">Báo cáo tin tuyển dụng</span>
      <span class="fz-12 color-third">Nếu bạn thấy rằng tin tuyển dụng này không đúng, hãy phản ánh với chúng tôi
      </span>
      <div class="w-100 d-flex justify-content-center">
        <button class="btn btn-primary text-white fit-content bg-primary" (click)="report()" [disabled]="loading">Báo
          cáo</button>
      </div>
    </div>
    <div class="radius-8 bg-secondary p-16 mb-16">
      <span class="mb-8 d-block fw-bold">Ngành nghề</span>
      <p class="fz-12 color-third">{{jobDetail.company?.fieldWork}}
      </p>
    </div>
    <div class="radius-8 bg-secondary p-16 mb-16" *ngIf="jobDetail.academicLevel">
      <span class="mb-8 d-block fw-bold">Trình độ</span>
      <p class="fz-12 color-third">{{jobDetail.academicLevel}}
      </p>
    </div>
    <div class="radius-8 bg-secondary p-16 mb-16">
      <span class="mb-8 d-block fw-bold">Khu vực</span>
      <p class="fz-12 color-third">{{jobDetail.company?.address}}
      </p>
    </div>
    <div class="radius-8 bg-secondary p-16 mb-16" *ngIf="jobDetail.listHashtag?.length">
      <span class="mb-8 d-block fw-bold">Hashtag</span>
      <span class="fz-12 color-third">
        <span *ngFor="let item of jobDetail.listHashtag">{{item}}</span>
      </span>
    </div>
  </div>
</div>
<ng-template #loadingTemp>
  <hc-post-skeleton></hc-post-skeleton>
</ng-template>