<div class="modal-header">
    <h5 class="modal-title">Một chút về bạn</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div *ngIf="form.controls['totalExperienceYear']; let controls">
            <hc-input-select-common [listOption]="listExpYear" [controls]="controls" [label]="'Thời gian bạn làm việc'" [placeHolder]="'Bạn làm việc trong...'">
            </hc-input-select-common>
        </div>
        <div *ngIf="form.controls['summary'];let controls">
            <hc-text-editor [controls]="controls" [label]="'Tóm tắt về bạn'" [placeHolder]="'Một vài lời tóm tắt về bản thân bạn'"></hc-text-editor>
        </div>
        <button class="d-none" type="submit" #btn></button>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Đóng</button>
    <button type="button" class="btn btn-primary fit-content" (click)="btn.click()">Tiếp tục</button>
</div>