<div class="d-flex gap-16 align-items-center">
  <!-- <div class="slider-control">
    <svg-icon src="/assets/images/icons/arrow-left.svg" class="icon"></svg-icon>
  </div> -->
  <div class="d-flex gap-16">
    <carousel [isAnimated]="true" [showIndicators]="false" (activeSlideChange)="slideChange($event)"
      (slideRangeChange)="slideChange($event)" #carouse>
      <slide *ngFor="let item of jobs">
        <div class="similar-grid">
          <hc-job-item-card-secondary [job]="job" *ngFor="let job of item"></hc-job-item-card-secondary>
        </div>
        <!-- <div class="col-3" *ngIf="loading">
          <hc-post-skeleton></hc-post-skeleton>
        </div> -->
      </slide>
      <slide *ngIf="!jobs.length">
        <div class="text-center">
          Không tìm thấy công việc nào!
        </div>
      </slide>
    </carousel>
  </div>
  <!-- <div class="slider-control ">
    <svg-icon src="/assets/images/icons/arrow-right.svg" class="icon"></svg-icon>
  </div> -->
</div>