<div class="row">
  <div class="col-lg-8 d-none d-xl-block">
    <svg-icon src="/assets/images/login-img-1.svg"></svg-icon>
  </div>
  <div class="col-lg-4">
    <div class="card login-wrapper">
      <p class="text-center">
        <span>
          <h5 class="text-uppercase mb-8"><b>xác nhận email</b>
          </h5>
        </span>
      </p>
      <p class="mb-8 ">
        <span>Bạn đã đăng ký tài khoản thành công!</span><br />
        <span>Bạn hãy check mail và làm theo hướng dẫn nhé!</span>
      </p>
      <p class="fz-12">
        <a class="text-primary text-decoration-underline pointer" [ngClass]="{'disabled': count !== 0}"
          (click)="resendEmail()">Nếu chưa nhận được email,
          click vào link này ({{count}})</a>
      </p>
    </div>
  </div>
</div>