@import "../../../../../assets/scss/helper/variable";
.nav {
  flex-direction: column;
  .nav-item {
    a {
      color: black;
      padding: 16px;
      display: block;
      &.active,
      &:hover {
        color: $primary-color;
        font-weight: bold;
        background-color: $bg-primary;
      }
    }
    &:hover {
      background-color: $bg-secondary;
    }
  }
}
.nav-right-border {
  border-right: 1px solid #eeeeee;
}
