<div class="wrapper row px-0">
  <div class="col-12 col-xl-2 nav-right-border px-0">
    <ul class="nav">
      <li class="nav-item">
        <a class="fz-16" [routerLink]="['info']" routerLinkActive="active">Thông tin tài khoản</a>
      </li>
      <!-- <li class="nav-item">
        <a class="fz-16" [routerLink]="['update']" routerLinkActive="active">Sửa thông tin tài khoản</a>
      </li> -->
      <li class="nav-item">
        <a class="fz-16" [routerLink]="['password']" routerLinkActive="active">Quản lý mật khẩu</a>
      </li>
      <li class="nav-item">
        <a class="fz-16" [routerLink]="['company']" routerLinkActive="active">Thông tin công ty</a>
      </li>
    </ul>
  </div>
  <div class="col-12 col-xl-10 p-3">
    <router-outlet></router-outlet>
  </div>
</div>