<div class="p-24 row">
  <div class="col-8">
    <p class="fz-24 fw-bold pb-8">{{detail.companyName}}</p>
    <p class="fz-24 pb-8">{{detail.jobName}}</p>
    <p class="fz-24 ">
      <svg-icon src="/assets/images/icons/Alarm.svg" class="mr-8"></svg-icon>
      <span>Hạn nộp hồ sơ: {{detail.endDate | date: 'dd-MM-YYYY'}} {{endDateStatus}}</span>
    </p>
  </div>
  <div class="col-4 d-flex gap-16 align-items-center justify-content-end" *ngIf="isCandidate">
    <div>
      <button class="btn btn-primary fit-content bg-primary text-white" (click)="applyJob()" *ngIf="!isApply">Ứng tuyển
        ngay</button>
      <div *ngIf="isApply">
        <span class="text-danger">Bạn đã ứng tuyển </span>
        <button class="btn btn-danger" (click)="confirmCancelApplyJob()" hcButtonLoading [loading]="loading"
          *ngIf="isShowCancelApplyButton">Hủy ứng
          tuyển</button>
        <br />
        <span class="text-danger">{{statusApply[detail.approvalStatus]}}</span>
      </div>
    </div>
    <div *ngIf="!isApply">
      <button class="btn btn-primary fit-content" (click)="detail.following ? unFollow() : followJob()" hcButtonLoading
        [loading]="loadingFollow">{{btnFollowTitle}}</button>
    </div>
  </div>
</div>
<ng-template #confirmCancelApply>
  <div class="modal-header">
    <h5 class="modal-title">Hủy đơn ứng tuyển</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="closeModalConfirm()"></button>
  </div>
  <div class="modal-body">
    <p>{{confirmApplyMessage}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success fit-content" data-bs-dismiss="modal" hcButtonLoading
      [loading]="loading" (click)="closeModalConfirm()">Hủy</button>
    <button type="button" class="btn btn-danger fit-content" (click)="cancelApplyJob()" hcButtonLoading
      [loading]="loading">Đồng ý</button>
  </div>
</ng-template>

<!-- <button type="button" class="btn btn-none btn-popup" [popover]="popupTemp"
  placement="left" [outsideClick]="true" *ngIf="isCandidate"> 
  <svg-icon src="/assets/images/icons/three-dot.svg"></svg-icon>
</button>
<ng-template #popupTemp>
  <a [routerLink]="['/profile']">Danh sách ứng tuyển</a>
</ng-template> -->