@import "../../../../../assets/scss/helper/variable";
.form-control {
  border-radius: 8px;
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom-color: $border-color-base;
}
.form-select {
  border: none;
  border-bottom: 1px solid $border-color-base;
  border-radius: 8px;
  background-color: transparent;
}
