<div class="row">
	<div class="col-9">
		<div class="wrapper">
			<span class="fz-24 fw-bold d-block mb-16">{{job.jobId ?'Sửa' :'Đăng'}} tin tuyển dụng</span>
			<form [formGroup]="form" (ngSubmit)="postJob()" *ngIf="!loadingJob;else loadingTemp">
				<div class="row">
					<div class="col-6">
						<!-- <hc-input-select-common [controls]="form.controls['companyId']" [placeHolder]="'Tên công ty'"
              [label]="'Tên công ty'" [listOption]="company"></hc-input-select-common> -->
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<hc-input-common [controls]="form.controls['jobName']" [isRequired]="true"
							[placeHolder]="'Tiêu đề công việc'" [label]="'Tiêu đề công việc'"></hc-input-common>
					</div>
					<div class="col-6">
						<label class="mb-8">Công ty</label>
						<input type="text" disabled value="{{companyDetail.name}}" class="form-control" />
					</div>

				</div>
				<div class="row">
					<div class="col-6">
						<hc-input-common [controls]="form.controls['workPlace']" [isRequired]="true"
							[placeHolder]="'Trung Kính, Hà Nội'" [label]="'Địa điểm làm việc'"></hc-input-common>
					</div>
					<div class="col-6" *ngIf="form.controls['countryId']; let control">
						<hc-input-select-common [controls]="control" [placeHolder]="'Chọn tỉnh/thành phố'" [isRequired]="true"
							[label]="'Khu vực làm việc'" [listOption]="country"></hc-input-select-common>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<hc-input-select-common [controls]="form.controls['fieldId']" [placeHolder]="'Chọn ngành nghề'"
							[isRequired]="true" [listOption]="fieldJob" [label]="'Ngành nghề'"></hc-input-select-common>
					</div>
					<div class="col-6">
						<hc-input-select-common [controls]="form.controls['workForm']" [listOption]="DROPDOWN_JOB_STYLE"
							[isRequired]="true" [placeHolder]="'Loại hình làm việc'" [label]="'Hình thức làm việc'">
						</hc-input-select-common>
					</div>
				</div>
				<div class="row align-items-end">
					<div class="col-6">
						<hc-input-common [controls]="form.controls['weekday']" [placeHolder]="'5'" typeInput="number"
							[isRequired]="true" [label]="'Thời gian làm việc'">
							<ng-container postfix>
								<select name="" id="" class="form-select" formControlName="weekdayUnit">
									<option value="Ngày/Tuần" selected>Ngày/Tuần</option>
									<option value="Giờ/Ngày">Giờ/Ngày</option>
								</select>
							</ng-container>
						</hc-input-common>
					</div>
					<div class="col-6">
						<hc-input-common [controls]="form.controls['experience']" [placeHolder]="'3'" [isRequired]="true"
							[label]="'Kinh nghiệm làm việc'" [typeInput]="'number'">
							<ng-container postfix>
								<select name="" id="" class="form-select" formControlName="experienceUnit">
									<option value="Năm" selected>Năm</option>
									<option value="Tháng">Tháng</option>
								</select>
							</ng-container>
						</hc-input-common>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<hc-input-common [controls]="form.controls['rank']" [placeHolder]="'Giám đốc'" [isRequired]="true"
							[label]="'Cấp bậc'"></hc-input-common>
					</div>
					<div class="col-6">
						<hc-input-common [controls]="form.controls['academicLevel']" [placeHolder]="'Đại học'" [isRequired]="true"
							[label]="'Trình độ'"></hc-input-common>
					</div>
					<div class="col-12">
						<hc-text-editor [controls]="form.controls['jobDescription']" [isRequired]="true"
							[placeHolder]="'Làm việc trong môi trường nước ngoài...'" [label]="'Mô tả công việc'">
						</hc-text-editor>
					</div>
				</div>
				<div class="row">
					<div class="col-8 row align-items-center">
						<div class="col-5">
							<hc-input-common [controls]="form.controls['fromSalary']" [placeHolder]="'100000'"
								[label]="'Mức lương(VNĐ)'" [isRequired]="true" [typeInput]="'number'"></hc-input-common>
						</div>
						<div class="col-2 text-center">
							đến
						</div>
						<div class="col-5">
							<hc-input-common [classWrapper]="''" [controls]="form.controls['toSalary']" [placeHolder]="'200000'"
								[isRequired]="true" [typeInput]="'number'">
							</hc-input-common>
						</div>
					</div>
					<div class="col-4">
						<hc-input-select-common [controls]="form.controls['gender']" [listOption]="DROPDOWN_GENDER"
							[label]="'Yêu cầu giới tính'" [placeHolder]="'Không yêu cầu'"></hc-input-select-common>
					</div>
				</div>
				<div class="d-flex gap-16 align-items-center mb-16">
					<span>Số lượng người cần truyển<span class="text-danger">*</span></span>
					<hc-input-common [classWrapper]="''" [controls]="form.controls['numberRecruits']" [placeHolder]="'5'"
						[isRequired]="true" [typeInput]="'number'">
					</hc-input-common>
					<span>người</span>
				</div>
				<div class="row">
					<div class="col-4">
						<hc-input-common [controls]="form.controls['hashtag']" [label]="'Hashtag'"
							[placeHolder]="'#java, #angular'">
						</hc-input-common>
					</div>
					<div class="col-8 text-center">
						<span class="mb-8 d-block">Thời gian ứng tuyển<span class="text-danger">*</span></span>
						<div class="d-flex align-content-center">
							<hc-input-date-common [controls]="form.controls['startDate']" [isRequired]="true"
								[placeHolder]="'19/06/2022'" [isRequired]="true">
							</hc-input-date-common>
							<p class="mx-2">Đến</p>
							<hc-input-date-common [controls]="form.controls['endDate']" [isRequired]="true"
								[placeHolder]="'19/06/2022'" [isRequired]="true" [minDate]="date">
							</hc-input-date-common>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						Yêu cầu ứng viên<span class="text-danger">*</span>:
					</div>
					<div class="col-9">
						<hc-text-editor [controls]="form.controls['jobRequirement']" [placeHolder]="'Hòa đồng, vui vẻ...'">
						</hc-text-editor>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						Quyền lợi<span class="text-danger">*</span>:
					</div>
					<div class="col-9">
						<hc-text-editor [controls]="form.controls['benefit']"
							[placeHolder]="'1 ngày phép có lương/tháng, team building theo quý...'">
						</hc-text-editor>
					</div>
				</div>
				<!-- <div class="row">
          <hc-text-editor [placeHolder]="'1 ngày phép có lương/tháng, team building theo quý...'"
            [control]="form.controls['benefit']"></hc-text-editor>
        </div> -->
				<div class="d-flex justify-content-center align-items-center">
					<button class="btn btn-primary bg-primary text-white mr-24 fit-content" type="submit" hcButtonLoading
						[loading]="loading"><span>{{job.jobId ?'Sửa' :'Đăng'}} tin</span></button>
					<button class="btn btn-primary bg-primary text-white mr-24 fit-content" type="button" hcButtonLoading
						[loading]="loading" *ngIf="!job.jobId" (click)="saveDraft()"><span>Lưu nháp</span></button>
					<a class="btn btn-primary mr-24 fit-content text-white" [routerLink]="['/recruiter','jobs']" type="button"
						hcButtonLoading [loading]="loading">Hủy</a>
				</div>
			</form>
		</div>
	</div>

</div>
<ng-template #loadingTemp>
	<hc-skeleton></hc-skeleton>
</ng-template>