<div class="container row mt-45 mb-45 mx-auto candidate">
    <div class="col-2">
        <div class="wrapper p-0">
            <a class="item" [routerLink]="['/profile','cv']" routerLinkActive="active" name="profile_cv">
                Hồ sơ CV
            </a>
            <a class="item" [routerLink]="['/profile','password']" routerLinkActive="active" name="profile_password">
                Đổi mật khẩu
            </a>
            <a class="item" [routerLink]="['/profile','applied']" routerLinkActive="active" name="profile_applied">
                Công việc ứng tuyển
            </a>
            <a class="item" [routerLink]="['/profile','follow']" routerLinkActive="active" name="profile_follow">
                Công việc theo dõi
            </a>
        </div>
    </div>
    <div class="col-10 page">
        <router-outlet></router-outlet>
    </div>
</div>