@import "../../../assets/scss/helper/variable";
.wrapper {
  .item {
    padding: 1rem 1rem;
    color: #3e3e3e;
    width: 100%;
    display: block;
    border-bottom: 1px solid $border-color-base;
    &.active {
      background-color: $bg-primary;
      color: $primary-color;
      font-weight: bold;
    }
    &:hover {
      background-color: $bg-primary;
    }
  }
}
