<div class="wrapper {{wrapperClass}}">
  <div class="p-3 ">
    <p class=" fz-20">Tên gói dịch vụ: <span class="fw-bold">{{package.detailName}}</span></p>
    <p>Giá tiền: <span [ngClass]="{'text-decoration-line-through': package.discount}">
        {{package.price | moneyConvert}} </span>
      <span class="text-danger" *ngIf="package.discount"> {{package.discount | moneyConvert}} </span>
    </p>
    <p>Thời gian hiệu lực: {{package.timeExpired}}</p>
    <p>Số hồ sơ được xem: {{package.maxCvView}}</p>
    <p class="">Loại gói: <span class="fw-bold" [innerHTML]="package.description | safe: 'html'"></span></p>
  </div>
  <div class="p-3" *ngIf="package.rentalPackageId === 2">
    <p>Lợi ích: </p>
    <ol class="list-group list-group-flush">
      <li class="list-group-item">
        <ng-container [ngTemplateOutlet]="benefit"
          [ngTemplateOutletContext]="{name:'Công việc liên quan',value:package.relatedJob}">
        </ng-container>
      </li>
      <li class="list-group-item">
        <ng-container [ngTemplateOutlet]="benefit"
          [ngTemplateOutletContext]="{name:'Gợi ý công việc',value:package.suggestJob}">
        </ng-container>
      </li>
      <li class="list-group-item">
        <ng-container [ngTemplateOutlet]="benefit"
          [ngTemplateOutletContext]="{name:'Công việc phổ biến',value:package.popularJob}">
        </ng-container>
      </li>
      <li class="list-group-item">
        <ng-container [ngTemplateOutlet]="benefit"
          [ngTemplateOutletContext]="{name:'Công việc mới nhất',value:package.newJob}">
        </ng-container>
      </li>
      <li class="list-group-item">
        <ng-container [ngTemplateOutlet]="benefit"
          [ngTemplateOutletContext]="{name:'Công việc tuyển gấp',value:package.urgentJob}">
        </ng-container>
      </li>
    </ol>
  </div>
  <div class="text-center" *ngIf="package.rentalPackageId === paymentRental.advertisement && jobId">
    <button class="btn btn-primary fit-content" hcButtonLoading [loading]="loading" (click)="buyPackage()">Mua</button>
  </div>
</div>

<ng-template #benefit let-value="value" let-name="name">
  <span class="m-0">{{name}}: {{value ? 'Có' :'Không'}}</span>
</ng-template>