<div class="box-search-company">
  <div class="container d-flex">
    <div class="box-search">
      <div class="caption">
        <h1 class="title">Khám phá công ty tốt nhất</h1>
        <p class="description">Tra cứu thông tin công ty và tìm kiếm nơi làm việc tốt nhất dành cho bạn</p>
      </div>
      <div class="form-search border-hover">
        <svg-icon src="/assets/images/icons/search.svg"></svg-icon>
        <input class="form-control" placeholder="Nhập tên công ty" id="keyword" [(ngModel)]="companyName">
        <button class="btn btn-search btn-primary-hover" (click)="search()" hcButtonLoading [loading]="loading">
          Tìm kiếm
        </button>
      </div>
    </div>
    <div class="box-img">
      <img src="https://www.topcv.vn/v4/image/company-billBoard.svg" class="w-100" alt="">
    </div>
  </div>
</div>
<div class="p-24 text-center">
  <h2 class="fz-24">Danh sách các công ty</h2>
</div>
<div class="row container m-auto bg-white">
  <div class="col-3" *ngFor="let item of company">
    <hc-company-card [company]="item"></hc-company-card>
  </div>
  <ng-container *ngIf="loading">
    <div class="col-3 ">
      <hc-company-card [loading]="true"></hc-company-card>
    </div>
    <div class="col-3 ">
      <hc-company-card [loading]="true"></hc-company-card>
    </div>
    <div class="col-3">
      <hc-company-card [loading]="true"></hc-company-card>
    </div>
    <div class="col-3">
      <hc-company-card [loading]="true"></hc-company-card>
    </div>
  </ng-container>
  <div *ngIf="company.length===0 && !loading" class="text-center p-3">
    <span class="fw-bold fz-20 ">Không tìm thấy công ty nào</span>
  </div>
  <div class="d-flex justify-content-center mb-3" *ngIf="totals > company.length && !loading">
    <button class="btn btn-primary text-white fit-content" (click)="loadMore()" hcButtonLoading [loading]="loading">Xem
      thêm</button>
  </div>
</div>