@import "../../../../../assets/scss/helper/variable";
:host {
  background: #fff;
  display: block;
}
.box-search-company {
  background: transparent linear-gradient(6deg, #fff, #c4c4ff 100%, #c3ffddb3 0)
    0 0 no-repeat padding-box;
  margin-bottom: 0;
  min-height: 273px;
  padding-top: 24px;
  .box-search {
    .caption {
      margin-bottom: 37px;
    }
    .form-search {
      background: #fff 0 0 no-repeat padding-box;
      border: 1px solid #fff;
      border-radius: 100px;
      display: flex;
      height: 50px;
      overflow: hidden;
      position: relative;
      svg-icon {
        left: 32px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      #keyword {
        border-color: transparent;
        box-shadow: none;
        font-size: 14px;
        height: 100%;
        outline: none;
        padding-left: 62px;
        width: 100%;
      }
      .btn-search {
        background: $primary-color;
        border-radius: 100px;
        color: #fff;
        position: absolute;
        right: 7px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .box-img {
    margin-left: auto;
    pointer-events: none;
  }
}
.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #212529;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}
