<div *ngIf="!isEdit; else editRef" class="position-relative">
  <div class="block-title">
    Thông tin cá nhân
  </div>
  <div class="d-flex gap-16 align-items-center">
    <p>
      <svg-icon src="/assets/images/icons/person-job.svg" [svgStyle]="{'width.px':18}" class="stoke-svg"></svg-icon>Tên
      đầy đủ:
    </p>
    <p>{{profile.fullName}}<span class="color-third" *ngIf="!profile.fullName">(chưa có)</span> </p>
  </div>
  <div class="d-flex gap-16 align-items-center">
    <p>
      <svg-icon src="/assets/images/icons/Phone.svg" [svgStyle]="{'width.px':18}" class="stoke-svg"></svg-icon>Số điện
      thoại:
    </p>
    <!-- </div>
  <div class="d-flex gap-16 align-items-center"> -->
    <p>
      {{userInfo.phone}}&nbsp;
      <span class="color-third" *ngIf="!userInfo.phone">(chưa có)</span>
      <span [classList]="userInfo.verifiedPhone ? 'text-success' : 'text-danger'" *ngIf="userInfo.phone">
        ({{getVerifyPhoneLabel }})</span>
    </p>
    <button class="btn btn-primary bg-white fit-content" (click)="verifyPhoneNumber(userInfo.phone)"
      *ngIf="!userInfo.verifiedPhone && userInfo.phone">Xác
      thực</button>
  </div>
  <div class="d-flex gap-16 align-items-center">
    <p>
      <svg-icon src="/assets/images/icons/notification.svg" [svgStyle]="{'width.px':18}" class="stoke-svg"></svg-icon>
      Giới tính:
    </p>
    <p>

      {{getGender}}
    </p>
  </div>
  <div class="d-flex gap-16 align-items-center">
    <p>
      <svg-icon src="/assets/images/icons/calendar.svg" [svgStyle]="{'width.px':18}" class="stoke-svg"></svg-icon>Ngày
      sinh:
    </p>
    <p>
      {{profile.birthDate | date:
      'dd-MM-YYYY'}}&nbsp;
      <span class="color-third" *ngIf="!profile.birthDate">(chưa có)</span>
    </p>
  </div>
  <div class="d-flex gap-16 align-items-center">
    <p>
      <svg-icon src="/assets/images/icons/Bank.svg" class="fill-svg" [svgStyle]="{'width.px':18}"></svg-icon>Tên quốc
      gia:
    </p>
    <p>

      {{profile.country}}<span class="color-third" *ngIf="!profile.country">(chưa có)</span>
    </p>
  </div>
  <div class="d-flex gap-16 align-items-center">
    <p>
      <svg-icon src="/assets/images/icons/location-job.svg" class="fill-svg" [svgStyle]="{'width.px':18}"></svg-icon>
      Địa chỉ:
    </p>
    <p>

      {{profile.address}}<span class="color-third" *ngIf="!profile.address">(chưa có)</span>
    </p>
  </div>
  <div class="d-flex gap-16 align-items-center">
    <p>
      <svg-icon src="/assets/images/icons/Chrome.svg" [svgStyle]="{'width.px':18}" class="fill-svg"></svg-icon>Liên kết
      mạng xã hội:
    </p>
    <p><a href="{{profile.socialLink | urlConvert}}" target="_blank" class="color-primary">
        Liên
        kết
      </a><span class="color-third" *ngIf="!profile.socialLink">(chưa có)</span></p>
  </div>
  <button class="btn edit-btn" (click)="edit()">
    <svg-icon src="/assets/images/icons/edit-cv.svg"></svg-icon>
  </button>
</div>

<ng-template #editRef>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div *ngIf="form.controls['name']; let controls" class="col-6">
      <hc-input-common [controls]="controls" [label]="'Tên đầy đủ'" [isRequired]="true"
        [classWrapper]="'mb-24 d-flex gap-16'">
      </hc-input-common>
    </div>
    <div *ngIf="form.controls['phoneNumber']; let controls" class="col-8 mb-36">
      <hc-input-common [controls]="controls" [label]="'Số điện thoại'" [errorRoot]="'phone'"
        [classWrapper]="'mb-24 d-flex input-group align-items-center'" [isRequired]="true">
        <!-- <ng-container prefix>
          <span class="input-group-text ml-16" id="basic-addon1">+84</span>
        </ng-container> -->
      </hc-input-common>
    </div>
    <div *ngIf="form.controls['gender'];let controls" class="col-6">
      <hc-input-select-common [controls]="controls" [listOption]="listGender" [label]="'Giới tính'"
        [classWrapper]="'mb-24 d-flex gap-16'" [isRequired]="true">
      </hc-input-select-common>
    </div>
    <div *ngIf="form.controls['birthDate'];let controls" class="col-6">
      <hc-input-date-common [controls]="controls" [label]="'Ngày sinh'" [isRequired]="true"
        [classWrapper]="'mb-24 d-flex gap-16'">
      </hc-input-date-common>
    </div>
    <div *ngIf="form.controls['country']; let controls" class="col-6">
      <hc-input-common [controls]="controls" [label]="'Tên quốc gia'" [isRequired]="true"
        [classWrapper]="'mb-24 d-flex gap-16'">
      </hc-input-common>
    </div>
    <div *ngIf="form.controls['address']; let controls" class="col-6">
      <hc-input-common [controls]="controls" [label]="'Địa chỉ'" [isRequired]="true"
        [classWrapper]="'mb-24 d-flex gap-16'">
      </hc-input-common>
    </div>
    <div *ngIf="form.controls['socialLink']; let controls" class="col-6">
      <hc-input-common [controls]="controls" [label]="'Liên kết mạng xã hội'" [classWrapper]="'mb-24 d-flex gap-16'">
      </hc-input-common>
    </div>
    <button type="submit" class="btn btn-primary fit-content mr-8" hcButtonLoading [loading]="loading">
      <span>
        Lưu
      </span>
    </button>
    <button class="btn btn-danger fit-content bg-primary text-white" hcButtonLoading [loading]="loading" type="button"
      (click)="isEdit =false">Hủy</button>
  </form>
</ng-template>