@import "../../../../../assets/scss/helper/variable";
.edit-btn {
  position: absolute;
  top: 8px;
  right: 8px;
}
.input-group-text {
  border-color: $border-color-base;
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: #fff;
}
svg-icon {
  // background-color: $bg-primary;
  padding: 8px;
  border-radius: 50%;
}
