:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: #fafaff !important;
  border: 1px solid #451da03b;
  border-radius: 0.5rem;
  margin: 45px 0;
  .left {
    border-right: 1px solid #451da03b;
  }
}
