<!-- <p>collaborator works!</p>
<button (click)="logout()">Logout</button> -->
<div class="container">
  <div class="row ">
    <div class="col-3 left p-0">
      <hc-collaborator-sidebar></hc-collaborator-sidebar>
    </div>
    <div class="col-9 p-0">
      <hc-collaborator-chat-window></hc-collaborator-chat-window>
    </div>
  </div>
</div>