<p class="block-title">Quản lý gói dịch vụ</p>
<div class="wrapper">
  <hc-recruiter-config-header [loadingPayment]="loadingBody" (purchasedPackageChange)="package=$event">
  </hc-recruiter-config-header>
  <hc-recruiter-config-body (onLoading)="loadingBody=$event" (selectedPackageId)="packageBodyEventHandler($event)">
  </hc-recruiter-config-body>
</div>