<p class="block-title">Tin tuyển dụng</p>
<div class="row">
	<div class="col-12">
		<div class="wrapper px-3 py-5 mb-16">
			<div class="d-flex ">
				<div class="mr-8">
					<label for="jobName">Tiêu đề công việc:</label>
					<input type="text" class="form-control" id="jobName" [(ngModel)]="jobName" />
				</div>
				<div class="d-flex gap-16 align-items-end ">
					<button class="btn btn-primary fit-content mr-8" hcButtonLoading [loading]="loading" (click)="search()">Tìm
						kiếm</button>
					<a [routerLink]="['/recruiter','job','create']" *ngIf="canCreateJob | async; else postJobStatus"><button
							class="btn btn-primary text-white bg-primary fit-content">Đăng tin</button></a>
				</div>
			</div>
			<div class="table-container">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>STT</th>
							<th>
								<div class="column-width">
									Tên công việc
								</div>
							</th>
							<th>
								<div class="column-width">
									Mức lương
								</div>
							</th>
							<th>
								<div class="column-width">
									Số lượng ứng tuyển
								</div>
							</th>
							<th>
								<div class="column-width">
									Địa điểm làm việc
								</div>
							</th>
							<th>
								<div class="column-width">
									Hạn ứng tuyển
								</div>
							</th>
							<th>
								<div class="column-width">
									Trạng thái
								</div>
							</th>
							<th>
								<div class="column-width">
									Thao tác
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<ng-container *ngIf=" listJobs$ | async; let jobs; else loadingTemp">
							<tr *ngFor="let item of jobs">
								<td>
									{{item.stt}}
								</td>
								<td class="text-start">
									<p class="job-name">
										{{item.jobName}}
									</p>
								</td>
								<td class="text-start">
									<p>Từ: {{item.fromSalary | moneyConvert}}</p>
									<p>Đến: {{item.toSalary | moneyConvert}}</p>
								</td>
								<td class="text-end">
									<p class="apply-count">
										{{item.applyCount}} người
									</p>
								</td>
								<td class="text-start">
									<p class="location">
										{{item.workPlace}}
									</p>
								</td>
								<td>{{item.endDate | date: 'dd-MM-YYYY'}}</td>
								<td>{{jobFlagLabel[item.flag]}}</td>
								<td>
									<div class="d-flex gap-8 flex-wrap">
										<a [routerLink]="['/recruiter','jobs',item.jobId,'cv']" title="Danh sách ứng tuyển"
											name="recruiter_jobs_id_cv">
											<svg-icon src="/assets/images/icons/Clipboard-alt.svg" class="fill-svg">
											</svg-icon>
										</a>
										<a [routerLink]="['/recruiter','job',item.jobId,'edit']" title="Chỉnh sửa"
											name="recruiter_job_id_edit">
											<svg-icon src="/assets/images/icons/edit.svg"></svg-icon>
										</a>
										<a href="/job/{{item.jobId || item.jobName}}" target="_blank" title="Xem trước" name="job_id">
											<svg-icon src="/assets/images/icons/eye.svg" class="fill-svg"></svg-icon>
										</a>
										<a [routerLink]="['/recruiter','payment','package']" [queryParams]="{jobId:item.jobId}"
											title="Quảng cáo" name="recruiter_payment_package">
											<svg-icon src="/assets/images/icons/App-store.svg" class="fill-svg"></svg-icon>
										</a>
										<a [routerLink]="['/recruiter','job',item.jobId,'edit']" title="Đăng bài"
											*ngIf="item.flag === jobFlag.draft">
											<svg-icon src="/assets/images/icons/Cloud-upload.svg" class="fill-svg"></svg-icon>
										</a>
										<button class="btn color-primary p-0" title="Gỡ bài" *ngIf="item.flag !== jobFlag.draft"
											(click)="changeJobStatus(item,jobFlag.draft)">
											<svg-icon src="/assets/images/icons/Cloud-off.svg" class="fill-svg"></svg-icon>
										</button>
									</div>
								</td>
							</tr>
							<tr *ngIf="!loading && jobs.length === 0">
								<td colspan="8">
									<div class="text-center">
										<p>Bạn vẫn chưa tạo công việc nào</p>
										<span class="color-primary pointer"><a [routerLink]="['/recruiter','job','create']"
												*ngIf="canCreateJob | async">Tạo công việc
												ngay</a></span>
									</div>
								</td>
							</tr>
							<ng-container *ngIf="loading; then loadingTemp">
							</ng-container>
						</ng-container>
					</tbody>
				</table>
				<pagination [previousText]="'Trang trước'" [nextText]="'Trang sau'" [totalItems]="totalPage"
					[itemsPerPage]="DEFAULT_PAGINATION.pageSize" (pageChanged)="pageChanged($event)">
				</pagination>
			</div>
		</div>
	</div>

</div>


<ng-template #loadingTemp>
	<tr>
		<td colspan="8">
			<hc-skeleton></hc-skeleton>
		</td>
	</tr>
</ng-template>

<ng-template #postJobStatus>
	<p class="text-danger">{{accountInfo.message}}</p>
</ng-template>