td {
  text-align: center;
  vertical-align: middle;
  p,
  span,
  a {
    font-size: 14px !important;
  }
}
th {
  text-align: center;
}
.job-name,
.location {
  max-width: 200px;
}
.apply-count {
  max-width: 100px;
}
.column-width {
  min-width: 100px;
}
